<template>
  <div class="about-container">
    <div class="about">
      <div class="row">
        <div class="col-12 my-5">
          <div class="row">
            <div class="col-lg-6 col-12 order-2 mt-3 mt-lg-0 order-lg-1 text-center">
              <img width="80%" :src="require(`@/assets/about/${datagetall.image1}`)" alt />
            </div>
            <div class="col-lg-6 col-12 order-1 order-lg-2 text-center text-md-left">
              <h2 class="about-title">{{datagetall.judul[gettrigerbahasa]}}</h2>
              <p v-html="datagetall.content1[gettrigerbahasa]" style="font-family:medium"></p>
              <p v-html="datagetall.content2[gettrigerbahasa]" style="font-family:medium"></p>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <h2 class="about-title" v-html="datagetall.content3[gettrigerbahasa]"></h2>
        </div>
        <div class="col-12 my-5">
          <div class="row justify-content-center">
            <div class="col-11 col-md-9 col-lg-5">
              <div class="join-container">
                <div class="row justify-content-center">
                  <div class="col-6 align-self-center">
                    <div class="row justify-content-center">
                      <div class="col-12 text-center mb-3">
                        <h6 class="text-join">{{datagetall.titlecontent1[gettrigerbahasa]}}</h6>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-block btn-orange" @click="torouter(datagetall.linkklien[gettrigerbahasa])">{{datagetall.button[gettrigerbahasa]}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <img class="img-join" width="100%" :src="require(`@/assets/about/${datagetall.image2}`)" alt />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-11 col-md-9 col-lg-5 mt-3 mt-lg-0">
              <div class="join-container">
                <div class="row justify-content-center">
                  <div class="col-6 align-self-center">
                    <div class="row justify-content-center">
                      <div class="col-12 text-center mb-3">
                        <h6 class="text-join">{{datagetall.titlecontent2[gettrigerbahasa]}}</h6>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-block btn-orange" @click="torouter(datagetall.linkmitra[gettrigerbahasa])">{{datagetall.button[gettrigerbahasa]}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <img class="img-join" width="100%" :src="require(`@/assets/about/${datagetall.image3}`)" alt />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.about {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
@media all and (orientation: landscape) {
  @media (min-width: 1000px) {
      .about-container {
          /* height:90vh; */
      /* max-height: 500px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/about/bgaccent-1.svg);
      }
      .about-title{
        color: #265970;
        font-size: 36px;
        font-family: "bold";
      }
      .text-join{
        color: #265970;
        font-size: 28px;
        font-family: "bold";
      }
      .join-container{
        background-color: white;
        box-shadow: 0px 0px 5px grey;
        border-radius: 5px;
        height: 180px;
      }
      .img-join{
        height: 160px;
        margin-top: 20px;
      }
      .btn-orange {
        font-size: 16px !important;
        font-family: "bold";
        background-color: #f2b451 !important;
        color: white !important;
        width: 181px;
        height: 48px;
      }
  }
  @media (min-width: 600px) and (max-width: 1000px){
      .about-container {
          /* height: 80vh; */
      /* max-height: 500px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/about/bgaccent-1.svg);
      }
      .about-title{
        color: #265970;
        font-size: 36px;
        font-family: "bold";
      }
      .text-join{
        color: #265970;
        font-size: 28px;
        font-family: "bold";
      }
      .join-container{
        background-color: white;
        box-shadow: 0px 0px 5px grey;
        border-radius: 5px;
        height: 180px;
      }
      .img-join{
        height: 160px;
        margin-top: 20px;
      }
      .btn-orange {
        font-size: 16px !important;
        font-family: "bold";
        background-color: #f2b451 !important;
        color: white !important;
        width: 181px;
        height: 48px;
      }
  }
  @media (max-width: 600px) {
      .about-container {
      /* max-height: 1000px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/about/bgaccent-1.svg);
      }
      .about-title{
        color: #265970;
        font-size: 24px;
        font-family: "bold";
      }
      .text-join{
        color: #265970;
        font-size: 20px;
        font-family: "bold";
      }
      .join-container{
        background-color: white;
        box-shadow: 0px 0px 5px grey;
        border-radius: 5px;
        height: 130px;
      }
      .img-join{
        height: 110px;
        margin-top: 20px;
      }
      .btn-orange {
        font-size: 14px !important;
        font-family: "bold";
        background-color: #f2b451 !important;
        color: white !important;
        width: 181px;
        height: 44px;
      }
  }
}
@media all and (orientation: portrait) {
  @media (max-width: 599px) {
      .about-container {
      /* max-height: 1000px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      background-image: url(../assets/about/bgaccent-1.svg);
      }
      .about-title{
        color: #265970;
        font-size: 24px;
        font-family: "bold";
      }
      .text-join{
        color: #265970;
        font-size: 20px;
        font-family: "bold";
      }
      .join-container{
        background-color: white;
        box-shadow: 0px 0px 5px grey;
        border-radius: 5px;
        height: 130px;
      }
      .img-join{
        height: 110px;
        margin-top: 20px;
      }
      .btn-orange {
        font-size: 14px !important;
        font-family: "bold";
        background-color: #f2b451 !important;
        color: white !important;
        width: 181px;
        height: 44px;
      }
  }
  @media (min-width: 600px) and (max-width: 1023px) {
      .about-container {
          /* height: 90vh; */
      /* max-height: 500px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/about/bgaccent-1.svg);
      }
      .about-title{
        color: #265970;
        font-size: 36px;
        font-family: "bold";
      }
      .text-join{
        color: #265970;
        font-size: 28px;
        font-family: "bold";
      }
      .join-container{
        background-color: white;
        box-shadow: 0px 0px 5px grey;
        border-radius: 5px;
        height: 180px;
      }
      .img-join{
        height: 160px;
        margin-top: 20px;
      }
      .btn-orange {
        font-size: 16px !important;
        font-family: "bold";
        background-color: #f2b451 !important;
        color: white !important;
        width: 181px;
        height: 48px;
      }
  }
  @media (min-width: 1024px){
    .about-container {
          height: 90vh;
      /* max-height: 500px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/about/bgaccent-1.svg);
      }
      .about-title{
        color: #265970;
        font-size: 36px;
        font-family: "bold";
      }
      .text-join{
        color: #265970;
        font-size: 28px;
        font-family: "bold";
      }
      .join-container{
        background-color: white;
        box-shadow: 0px 0px 5px grey;
        border-radius: 5px;
        height: 180px;
      }
      .img-join{
        height: 160px;
        margin-top: 20px;
      }
      .btn-orange {
        font-size: 16px !important;
        font-family: "bold";
        background-color: #f2b451 !important;
        color: white !important;
        width: 181px;
        height: 48px;
      }
  }
}
</style>
<script>
/* eslint-disable */
export default {
  data() {
    return {
      gettrigerbahasa: "indonesia",
      datagetall: {
        judul: {
          indonesia: "Layanan profesional untuk semua",
          inggris: "Professional services for all"
        },
        button: {
          indonesia: "Gabung Sekarang",
          inggris: "Join Now"
        },
        linkklien: {
          indonesia: "/id/klien",
          inggris: "/en/client"
        },
        linkmitra: {
          indonesia: "/id/mitra",
          inggris: "/en/partner"
        },
        image1: "img_aboutus-1.svg",
        image2: "img_aboutus-2.svg",
        image3: "img_aboutus-3.svg",
        content1: {
          indonesia:
            "Kami percaya bahwa setiap orang harus memiliki akses yang setara dan mudah ke layanan profesional. Oleh sebab itu <label style='margin-bottom: 0px'>#ketemuin</label> didirikan sebagai online matchmaking platform khusus layanan profesional.",
          inggris:
            "We believe that everyone should have an equal and easier access to professional services. Hence <label style='margin-bottom: 0px'>#ketemuin</label> is established as an online matchmaking platform for professional services."
        },
        content2: {
          indonesia:
            "Kami mulai dengan layanan dalam bidang hukum seperti pembuatan dokumen & konsultasi dan berencana untuk melayani Anda dengan lebih banyak pilihan layanan profesional di masa yang akan datang.",
          inggris:
            "We start with legal services such as drafting & consulting and plan to serve you with more selection of professional services in the future."
        },
        content3: {
          indonesia: "Yuk ketemuan di <label style='margin-bottom: 0px'>#ketemuin</label>!",
          inggris: "Let’s meet up at <label style='margin-bottom: 0px'>#ketemuin</label>!"
        },
        titlecontent1: {
          indonesia: "Menjadi Klien",
          inggris: "Be Our Client"
        },
        titlecontent2: {
          indonesia: "Menjadi Mitra",
          inggris: "Be Our Partner"
        }
      }
    };
  },
  created() {
    let urlget = window.location.pathname;
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
    } else {
      this.gettrigerbahasa = "inggris";
    }
  },
  mounted() {},
  methods: {
    torouter(url) {
      window.location.href = url
    },
  }
};
</script>