<template>
  <div class="partner-container">
    <div class="partner-header">
      <div class="partner">
        <div class="row">
          <div class="col-12 mt-3 text-center">
            <h2 class="title-header" v-html="datagetall.judul[gettrigerbahasa]"></h2>
          </div>
          <div class="col-12 my-3">
            <div class="row">
              <div class="col-lg-4 col-12 text-center">
                <img width="100%" :src="require(`@/assets/partner/${datagetall.menu1.image}`)" />
                <h6 class="img-title" v-html="datagetall.menu1.judulmenu[gettrigerbahasa]"></h6>
                <span class="img-content" v-html="datagetall.menu1.deskripsimenu[gettrigerbahasa]"></span>
              </div>
              <div class="col-lg-4 col-12 text-center">
                <img width="100%" :src="require(`@/assets/partner/${datagetall.menu2.image}`)" />
                <h6 class="img-title" v-html="datagetall.menu2.judulmenu[gettrigerbahasa]"></h6>
                <span class="img-content" v-html="datagetall.menu2.deskripsimenu[gettrigerbahasa]"></span>
              </div>
              <div class="col-lg-4 col-12 text-center">
                <img width="100%" :src="require(`@/assets/partner/${datagetall.menu3.image}`)" />
                <h6 class="img-title" v-html="datagetall.menu3.judulmenu[gettrigerbahasa]"></h6>
                <span class="img-content" v-html="datagetall.menu3.deskripsimenu[gettrigerbahasa]"></span>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4 mb-3">
            <div class="row">
              <div
                class="col-12 text-join-client text-center"
              >{{datagetall.textJoin[gettrigerbahasa]}}</div>
              <div class="col-12 text-center mt-2">
                <img src="../assets/klien/ic_swipe.svg" @click="swipe()" style="cursor:pointer" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="partner-form" id="clientpartner">
      <div class="partner">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-7 my-5">
            <div class="panel-form-partner">
              <div class="row">
                <div class="col-12 text-center">
                  <h2 class="title-header" v-html="datagetall.judulconent[gettrigerbahasa]"></h2>
                </div>
                <div class="col-12">
                  <div class="text-container">
                    <span class="text-line" id="textnama">{{datagetall.input1[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      type="text"
                      class="input-control-gray"
                      id="inputnama"
                      v-model="getinputnama"
                      @keyup="getvalueinput('name',getinputnama)"
                    />
                  </div>
                  <span class="allert" v-if="trigertextvalidasiname">{{textvalidasiname}}</span>
                </div>
                <div class="col-12 mt-3">
                  <div class="text-container">
                    <span class="text-line" id="textemail">{{datagetall.input2[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      type="text"
                      class="input-control-gray"
                      v-model="getinputemail"
                      id="inputemail"
                      @keyup="getvalueinput('email',getinputemail)"
                    />
                  </div>
                  <span class="allert" v-if="trigertextvalidasiemail">{{textvalidasiemail}}</span>
                </div>
                <div class="col-12 mt-3">
                  <div class="text-container">
                    <span class="text-line" id="texthp">{{datagetall.input3[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      type="number"
                      class="input-control-gray"
                      v-model="getinputhp"
                      id="inputhp"
                      @keyup="getvalueinput('hp',getinputhp)"
                      pattern="[0-9]*"
                    />
                  </div>
                  <span class="allert" v-if="trigertextvalidasihp">{{textvalidasihp}}</span>
                </div>
                <div class="col-12 mt-3">
                  <div class="row">
                    <div class="col-4 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="texttahun"
                        >{{datagetall.input6[gettrigerbahasa]}}</span>
                        <br />
                        <input
                          list="years"
                          name="years"
                          id="answerInputyears"
                          class="input-control-gray"
                          v-model="getinputyear"
                          @blur="autodetectvalue()"
                          @keyup="getvalueinput('year',getinputyear)"
                          @focus="clickdropdown('year')"
                        />
                        <datalist id="years">
                          <option
                            v-bind:value="item.value"
                            v-for="item in year"
                            :key="item.id"
                          >{{item.name}}</option>
                        </datalist>
                      </div>
                      <span class="allert" v-if="trigertextvalidasitahun">{{textvalidasitahun}}</span>
                    </div>
                    <div class="col-4 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textmonth"
                        >{{datagetall.input5[gettrigerbahasa]}}</span>
                        <br />
                        <input
                          list="months"
                          name="months"
                          id="answerInputmonths"
                          class="input-control-gray"
                          v-model="getinputmonth"
                          @blur="autodetectvaluemonth()"
                          @change="changedate()"
                          @keyup="getvalueinput('month',getinputmonth)"
                          @focus="clickdropdown('month')"
                        />
                        <datalist id="months">
                          <option v-bind:value="item.name" v-for="item in month" :key="item.id"></option>
                        </datalist>
                      </div>
                      <span class="allert" v-if="trigertextvalidasimonth">{{textvalidasimonth}}</span>
                    </div>
                    <div class="col-4 mt-3">
                      <div class="text-container">
                        <span class="text-line" id="textday">{{datagetall.input4[gettrigerbahasa]}}</span>
                        <br />
                        <input
                          list="days"
                          name="days"
                          id="answerInputdays"
                          class="input-control-gray"
                          v-model="getinputday"
                          @blur="autodetectvaluedays()"
                          @keyup="getvalueinput('day',getinputday)"
                          @focus="clickdropdown('day')"
                        />
                        <datalist id="days">
                          <option v-bind:value="item.value" v-for="item in day" :key="item.id"></option>
                        </datalist>
                      </div>
                      <span class="allert" v-if="trigertextvalidasiday">{{textvalidasiday}}</span>
                    </div>
                    <div class="col-12">
                      <span
                        class="allert"
                        v-if="trigertextvalidasiumur"
                      >{{datagetall.alertumur[gettrigerbahasa]}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <div class="text-container">
                    <span class="text-line" id="textktp">{{datagetall.input7[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      type="number"
                      class="input-control-gray"
                      id="inputktp"
                      v-model="getinputktp"
                      @keyup="getvalueinput('ktp', getinputktp)"
                    />
                  </div>
                  <span class="allert" v-if="trigertextvalidasiktp">{{textvalidasiktp}}</span>
                </div>
                <div class="col-12 mt-3">
                  <span class="text-line" id="textresume">{{datagetall.resume[gettrigerbahasa]}}</span>
                  <div class="bg-uploader">
                    <div class="bg-dashed">
                      <div class="row">
                        <div class="col-12 p-1 text-center" v-if="initfileinput === true">
                          <label for="_uploader" class="text-center label-upload">
                            <span class="text-upload">{{datagetall.resumebutton[gettrigerbahasa]}}</span>
                          </label>
                          <input
                            type="file"
                            name="upload_file"
                            style="display: none;width: 0;opacity: 0;"
                            id="_uploader"
                            ref="file"
                            v-on:change="handleFileUpload()"
                            accept="application/pdf"
                          />
                        </div>
                        <div class="col-12" v-if="initfileinput === false">
                          <div class="row no-gutters">
                            <div class="col-2 col-md-1">
                              <img src="../assets/partner/ic_form.svg" />
                            </div>
                            <div class="col-10 col-md-11">
                              <div class="row justify-content-between">
                                <div class="col-auto ml-1">{{namefile}}</div>
                                <div class="col-auto ml-1">
                                  <img
                                    width="80%"
                                    src="../assets/header/ic_close-1.svg"
                                    @click="closeinputfile()"
                                    style="cursor:pointer"
                                  />
                                </div>
                                <div class="col-12 mt-1">
                                  <div class="progress bg-progress">
                                    <div
                                      class="progress-bar bg-progress-green"
                                      role="progressbar"
                                      v-bind:style="{width:uploadPercentage+'%'}"
                                    ></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-2" v-if="trigerfile">
                    <h6 class="notes-text">{{datagetall.uploadnotes1[gettrigerbahasa]}}</h6>
                    <h6 class="notes-text">{{datagetall.uploadnotes2[gettrigerbahasa]}}</h6>
                    <h6 class="notes-text">{{datagetall.uploadnotes3[gettrigerbahasa]}}</h6>
                  </div>
                  <span
                    class="allert"
                    v-if="trigertextvalidasifile"
                  >{{datagetall.alertfilesize[gettrigerbahasa]}}</span>
                  <span
                    class="allert"
                    v-if="trigertextvalidasiresume"
                  >{{datagetall.alertresume[gettrigerbahasa]}}</span>
                </div>
                <div class="col-12 mt-3">
                  <span class="notes-text">{{datagetall.keahlian[gettrigerbahasa]}}</span>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="row">
                        <div class="col-12">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum1"
                              name="hukum1"
                              class="custom-control-input"
                              v-model="hukum1"
                              @change="changetinputhukum('hukum1',hukum1)"
                            />
                            <label for="hukum1" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum1[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum2"
                              name="hukum2"
                              class="custom-control-input"
                              v-model="hukum2"
                              @change="changetinputhukum('hukum2',hukum2)"
                            />
                            <label for="hukum2" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum2[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum3"
                              name="hukum3"
                              class="custom-control-input"
                              v-model="hukum3"
                              @change="changetinputhukum('hukum3',hukum3)"
                            />
                            <label for="hukum3" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum3[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum4"
                              name="hukum4"
                              class="custom-control-input"
                              v-model="hukum4"
                              @change="changetinputhukum('hukum4',hukum4)"
                            />
                            <label for="hukum4" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum4[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum5"
                              name="hukum5"
                              class="custom-control-input"
                              v-model="hukum5"
                              @change="changetinputhukum('hukum5',hukum5)"
                            />
                            <label for="hukum5" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum5[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="row">
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum6"
                              name="hukum6"
                              class="custom-control-input"
                              v-model="hukum6"
                              @change="changetinputhukum('hukum6',hukum6)"
                            />
                            <label for="hukum6" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum6[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum7"
                              name="hukum7"
                              class="custom-control-input"
                              v-model="hukum7"
                              @change="changetinputhukum('hukum7',hukum7)"
                            />
                            <label for="hukum7" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum7[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum8"
                              name="hukum8"
                              class="custom-control-input"
                              v-model="hukum8"
                              @change="changetinputhukum('hukum8',hukum8)"
                            />
                            <label for="hukum8" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum8[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum9"
                              name="hukum9"
                              class="custom-control-input"
                              v-model="hukum9"
                              @change="changetinputhukum('hukum9',hukum9)"
                            />
                            <label for="hukum9" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum9[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mt-1">
                          <div class="custom-control custom-checkbox">
                            <input
                              type="checkbox"
                              id="hukum10"
                              name="hukum10"
                              class="custom-control-input"
                              v-model="hukum10"
                              @change="changetinputhukum('hukum10',hukum10)"
                            />
                            <label for="hukum10" class="custom-control-label bg-label">
                              <span class="text-label">{{datagetall.hukum10[gettrigerbahasa]}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-1">
                  <div class="custom-control custom-checkbox">
                    <label class="container-checkbox">
                      <input
                        type="checkbox"
                        id="lainnya"
                        name="lainnya"
                        class="custom-control-input"
                        v-model="lainnya"
                        @change="changetinputhukum('lainnya',lainnya)"
                      />
                      <span class="checkmark"></span>
                    </label>
                    <input
                      type="text"
                      class="input-control-gray"
                      v-bind:placeholder="datagetall.lainnya[gettrigerbahasa]"
                      id="inputlainnya"
                      @keyup="inputdatalainnya()"
                      style="font-family: medium; font-size: 14px;"
                    />
                  </div>
                </div>
                <span
                  class="text-line-red"
                  id="textkeahlian"
                  v-if="trigerkeahlian"
                >{{datagetall.keahliancheck[gettrigerbahasa]}}</span>
                <span
                  class="text-line-red"
                  v-if="trigerlainnyacheck"
                >{{datagetall.lainnyacheck[gettrigerbahasa]}}</span>
                <div class="col-12 mt-5">
                  <div class="row justify-content-center">
                    <div class="col-md-4 col-7">
                      <button
                        class="btn btn-contact-orange btn-block"
                        @click="kirimdata()"
                      >{{datagetall.button[gettrigerbahasa]}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
@media all and (orientation: landscape) {
  @media (min-width: 1025px) {
    .partner-header {
      background-color: white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .swipe-button {
      position: absolute !important;
      max-width: 1360px !important;
      bottom: 0;
      padding: 1rem;
    }
  }
  @media (max-width: 1024px) {
    .partner-header {
      background-color: white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .swipe-button {
      position: relative;
    }
  }
  @media (max-width: 600px) {
    .panel-form-partner {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 1rem;
    }
    .text-line-blue {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #2e6b87;
    }
    .text-line-red {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #ee6d61;
    }
    .text-line {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #b1b1b1;
    }
  }
  @media (min-width: 601px) {
    .panel-form-partner {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 5rem;
    }
    .text-line-blue {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #2e6b87;
    }
    .text-line-red {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #ee6d61;
    }
    .text-line {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #b1b1b1;
    }
  }
}
@media all and (orientation: portrait) {
  @media (min-width: 1001px) {
    .partner-header {
      background-color: white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .swipe-button {
      position: absolute !important;
      bottom: 0;
      max-width: 1360px !important;
      padding: 1rem;
    }
  }
  @media (max-width: 1000px) {
    .partner-header {
      background-color: white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .swipe-button {
      position: relative;
    }
  }
  @media (max-width: 600px) {
    .panel-form-partner {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 1rem;
    }
    .text-line-blue {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #2e6b87;
    }
    .text-line-red {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #ee6d61;
    }
    .text-line {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #b1b1b1;
    }
  }
  @media (min-width: 601px) {
    .panel-form-partner {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 5rem;
    }
    .text-line-blue {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #2e6b87;
    }
    .text-line-red {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #ee6d61;
    }
    .text-line {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #b1b1b1;
    }
  }
}
.custom-control-label::before {
  top: calc(100vh / 50) !important;
}
.custom-control-label::after {
  top: calc(100vh / 50) !important;
}
.container-checkbox {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: calc(100vh / 50);
  left: 0;
  background-color: #fff;
  border: #adb5bd solid 1px;
  border-radius: 0.25rem;
  width: 1rem;
  height: 1rem;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  /* background-color: #2196F3; */
  border-color: #46b29e;
  background-color: #46b29e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 5px;
  top: 3px;
  width: 4px;
  height: 7px;
  /* border-radius: 0.25rem; */
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.custom-control-other {
  position: absolute;
  top: 0.25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
  background: no-repeat 50% / 50% 50%;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #46b29e !important;
  color: #ffffff !important;
  border-radius: 0.25rem;
}
.keahlian {
  position: absolute;
  left: 0;
  top: calc(100vh / 50);
}
.text-label {
  font-family: "medium";
  font-size: 14px;
  vertical-align: sub;
}
.bg-label {
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 0.5rem;
  height: 55px;
  width: 100%;
}
.label-upload {
  cursor: pointer;
}
.text-upload {
  color: #46b29e;
  font-style: "medium" !important;
  font-size: 14px;
}
.bg-progress {
  height: 0.5rem !important;
  background-color: #b1b1b1 !important;
}
.bg-progress-green {
  background-color: #46b29e !important;
}
.bg-uploader {
  background-color: #f5f5f5;
  padding: 4px;
  border-radius: 4px;
}
.bg-dashed {
  border-style: dashed;
  border-color: #b1b1b1;
  border-radius: 4px;
  padding: 0.5rem;
}
.sufix-active {
  position: relative;
  right: 10px;
  float: right;
  bottom: 20px;
  font-family: "medium";
  color: #265970;
  font-size: 14px;
}
.sufix {
  position: relative;
  right: 10px;
  float: right;
  bottom: 20px;
  font-family: "medium";
  color: #b1b1b1;
  font-size: 14px;
}
.notes-text {
  font-family: "medium";
  font-size: 12px;
  color: #265970;
  margin-left: 1rem;
}
.tab-text {
  font-family: "medium";
  font-size: 14px;
}
.tab-partner-active {
  background-color: #c8dde7;
  border-radius: 5px;
  padding: 0.3rem;
}
.tab-partner {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0.3rem;
}
.line-partner {
  height: 2px;
  border-width: 0;
  color: #c8dde7;
  background-color: #c8dde7;
}

.partner-form {
  /* height:90vh; */
  /* max-height: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-color: #f5f5f5;
  background-image: url(../assets/howitwork/bg_how.svg);
}
.img-content {
  font-family: "medium";
  font-size: 16px;
}
.img-title {
  font-family: "semibold";
  font-size: 24px;
}
.partner-container {
  width: 100%;
}
.partner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
.title-header {
  font-family: "bold";
  font-size: 36px;
  color: #265970;
}
select {
  outline: none;
}
</style>

<script>
/* eslint-disable */
import $ from "jquery";
import axios from "axios";
import Datepicker from "vuejs-datepicker";
import "vue2-datepicker/index.css";
import moment from "moment-timezone";
export default {
  components: {
    Datepicker,
  },
  data() {
    return {
      trigerfileimage:false,
      partnerform: false,
      trigersendhukum: false,
      trigertextvalidasiumur: false,
      hukum1: false,
      hukum2: false,
      hukum3: false,
      hukum4: false,
      hukum5: false,
      hukum6: false,
      hukum7: false,
      hukum8: false,
      hukum9: false,
      hukum10: false,
      lainnya: false,
      trigerfile: true,
      trigerlainnyacheck: false,
      trigertextvalidasiresume: false,
      trigerkeahlian: false,
      uploadPercentage: 0,
      namefile: "",
      initfileinput: true,
      getinputnama: "",
      getinputktp: "",
      getinputemail: "",
      getinputhp: "",
      getinputyear: "",
      getinputmonth: "",
      getinputday: "",
      trigertextvalidasiname: false,
      textvalidasiktp: "",
      trigertextvalidasiktp: false,
      textvalidasijadwal1: "",
      trigertextvalidasijadwal1: false,
      textvalidasicatatan: "",
      trigertextvalidasicatatan: false,
      textvalidasiemail: "",
      trigertextvalidasiemail: false,
      textvalidasihp: "",
      trigertextvalidasihp: false,
      textvalidasitahun: "",
      trigertextvalidasitahun: false,
      textvalidasimonth: "",
      trigertextvalidasimonth: false,
      textvalidasiday: "",
      trigertextvalidasiday: false,
      gettrigerbahasa: "indonesia",
      trigertextvalidasifile: false,
      urlimageupload: "",
      trigerlainnya: false,
      inputtrigerlainnya: false,
      year: [],
      month: [],
      day: [],
      file: "",
      datagetall: {
        textJoin: {
          indonesia: "Gabung Sekarang",
          inggris: "Join Now"
        },
        resumebutton:{
          indonesia: "Klik untuk upload file",
          inggris: "Click to upload file"  
        },
        alertumur: {
          indonesia: "Anda harus berusia 18 tahun keatas",
          inggris: "You must be 18 years old and above"
        },
        judul: {
          indonesia: "Mengapa jadi rekan di <label>#ketemuin</label>?",
          inggris: "Why becoming <label>#ketemuin</label> partner?"
        },
        type1: {
          indonesia: "Pembuatan Dokumen",
          inggris: "Drafting"
        },
        hari: {
          indonesia: "Hari",
          inggris: "Day"
        },
        terhitung: {
          indonesia: "Terhitung sejak pembayaran terkonfirmasi",
          inggris: "Counted since payment is confirmed"
        },
        lainnya: {
          indonesia: "Silahkan pilih 'Lainnya' bila tidak yakin",
          inggris: "Please select 'Other' if unsure"
        },
        type2: {
          indonesia: "Konsultasi",
          inggris: "Consulting"
        },
        alertumur: {
          indonesia: "Anda harus berusia 18 tahun keatas",
          inggris: "You must be 18 years old and above"
        },
        menu1: {
          judulmenu: {
            indonesia: "AMAN",
            inggris: "SAFE"
          },
          deskripsimenu: {
            indonesia: "Pembayaran jasa terjamin",
            inggris: "Payment guaranteed"
          },
          image: "img-2.svg"
        },
        menu2: {
          judulmenu: {
            indonesia: "FLEKSIBEL",
            inggris: "FLEXIBLE"
          },
          deskripsimenu: {
            indonesia: "Bebas memilih pekerjaan sesuai keahlian",
            inggris: "Freedom to select jobs based on expertise"
          },
          image: "img-1.svg"
        },
        menu3: {
          judulmenu: {
            indonesia: "DAMPAK SOSIAL",
            inggris: "SOCIAL IMPACT"
          },
          deskripsimenu: {
            indonesia: "Kesempatan yang sama untuk berkarya",
            inggris: "Equal opportunity to make an impact"
          },
          image: "img-3.svg"
        },
        judulconent: {
          indonesia: "Yuk ketemuan di <label>#ketemuin</label>!",
          inggris: "Let's meet up at <label>#ketemuin</label>!"
        },
        resume: {
          indonesia: "Resume Terbaru*",
          inggris: "Updated Resume*"
        },
        uploadnotes2: {
          indonesia: "- Ukuran file maksimal 30mb",
          inggris: "- Maximal file size 30mb"
        },
        uploadnotes4: {
          indonesia: "- Hanya file pdf",
          inggris: "- Pdf file only"
        },
        uploadnotes3: {
          indonesia:
            "- Resume berisikan informasi pendidikan, ijazah, pengalaman kerja, portofolio dan sertifikasi (jika ada)",
          inggris:
            "- Resume contains education information, diploma, working experience, portfolio and certification (if any)"
        },
        uploadnotes1: {
          indonesia: "- Format file .pdf",
          inggris: "- File format .pdf"
        },
        keahlian: {
          indonesia: "Keahlian*",
          inggris: "Expertise*"
        },
        hukum1: {
          indonesia: "Hukum Hak Kekayaan Intelektual",
          inggris: "Civil Law"
        },
        hukum2: {
          indonesia: "Hukum Investasi & Bisnis",
          inggris: "Labour Law"
        },
        hukum3: {
          indonesia: "Hukum Keluarga",
          inggris: "Family Law"
        },
        hukum5: {
          indonesia: "Hukum Perdata",
          inggris: "Land and Property Law"
        },
        hukum4: {
          indonesia: "Hukum Ketenagakerjaan",
          inggris: "Company Law"
        },
        hukum6: {
          indonesia: "Hukum Perlindungan Konsumen",
          inggris: "Consumer Protection Law"
        },
        hukum7: {
          indonesia: "Hukum Perpajakan",
          inggris: "Intellectual Property Law"
        },
        hukum8: {
          indonesia: "Hukum Pertanahan dan Perumahan",
          inggris: "Taxation Law"
        },
        hukum9: {
          indonesia: "Hukum Perusahaan",
          inggris: "Investment & Business Law"
        },
        hukum10: {
          indonesia: "Sengketa",
          inggris: "Dispute"
        },
        input1: {
          indonesia: "Nama Lengkap*",
          inggris: "Full Name*"
        },
        input2: {
          indonesia: "Alamat Email*",
          inggris: "Email Address*"
        },
        input3: {
          indonesia: "Nomor HP*",
          inggris: "Phone Number*"
        },
        input4: {
          indonesia: "Tanggal Lahir*",
          inggris: "Birth Date*"
        },
        input5: {
          indonesia: "Bulan Lahir*",
          inggris: "Birth Month*"
        },
        input6: {
          indonesia: "Tahun Lahir*",
          inggris: "Birth Year*"
        },
        input7: {
          indonesia: "Nomor KTP*",
          inggris: "National ID Number*"
        },
        input8: {
          indonesia: "Deskripsi Pekerjaan*",
          inggris: "Task Description*"
        },
        input9: {
          indonesia: "Ekspetasi Lama Pengerjaan*",
          inggris: "Expected Processing Time*"
        },
        input10: {
          indonesia: "Biaya yang dianggarkan*",
          inggris: "Nominal Budget*"
        },
        input11: {
          indonesia: "Catatan Tambahan",
          inggris: "Additional Notes"
        },
        input12: {
          indonesia: "Deskripsi Topik*",
          inggris: "Task Description*"
        },
        input13: {
          indonesia: "Jadwal konsultasi yang diharapkan*",
          inggris: "Expected processing time*"
        },
        button: {
          indonesia: "Kirim",
          inggris: "Submit"
        },
        alertfilesize: {
          indonesia:
            "Resume terbaru harus di upload, Resume terbaru harus PDF maks 30 MB",
          inggris:
            "Updated resume is required, Updated resume must be PDF max 30 MB"
        },
        alertresume: {
          indonesia: "Harus diisi",
          inggris: "required"
        },
        keahliancheck: {
          indonesia: "Keahlian harus dipilih",
          inggris: "Expertise is required"
        },
        lainnya: {
          indonesia: "Lainnya",
          inggris: "Others"
        },
        lainnyacheck: {
          indonesia: "Harus diisi",
          inggris: "Required"
        }
      }
    };
  },
  created() {
    let urlget = window.location.pathname;
    this.month = [];
    this.year = [];
    let dateinitfrom = new Date().getFullYear() - 18 
    for (
      let i = dateinitfrom;
      i >= dateinitfrom - 100;
      i--
    ) {
      let dataobj = {
        name: i,
        value: i
      };
      this.year.push(dataobj);
    }
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
      this.month.push(
        { name: "Januari", value: "01" },
        { name: "Februari", value: "02" },
        { name: "Maret", value: "03" },
        { name: "April", value: "04" },
        { name: "Mei", value: "05" },
        { name: "Juni", value: "06" },
        { name: "Juli", value: "07" },
        { name: "Agustus", value: "08" },
        { name: "September", value: "09" },
        { name: "Oktober", value: "10" },
        { name: "November", value: "11" },
        { name: "Desember", value: "12" }
      );
    } else {
      this.gettrigerbahasa = "inggris";
      this.month.push(
        { name: "January", value: "01" },
        { name: "February", value: "02" },
        { name: "March", value: "03" },
        { name: "April", value: "04" },
        { name: "May", value: "05" },
        { name: "June", value: "06" },
        { name: "July", value: "07" },
        { name: "August", value: "08" },
        { name: "September", value: "09" },
        { name: "October", value: "10" },
        { name: "November", value: "11" },
        { name: "December", value: "12" }
      );
    }
  },
  mounted() {
    $('input[type="number"]').keypress(function(event) {
      return /\d/.test(String.fromCharCode(event.keyCode));
    });
    $("#answerInputmonths").prop("disabled", true);
    $("#answerInputdays").prop("disabled", true);
    $(window).scroll(event => {
      var scroll = $(window).scrollTop();
      if (scroll === 0) {
        this.partnerform = false;
      }
    });
  },
  methods: {
    clickdropdown(type) {
      switch (type) {
        case "year":
          this.getinputyear = "";
          break;
        case "month":
          this.getinputmonth = "";
          break;
        case "day":
          this.getinputday = "";
          break;
      }
    },
    swipe() {
      document
        .getElementById("clientpartner")
        .scrollIntoView({ behavior: "smooth" });
      setTimeout(() => {
        window.scrollBy(0, -40);
      }, 500);
    },
    autodetectvaluemonth() {
      for (const i of this.month) {
        if (i.name.toLowerCase() === this.getinputmonth.toLowerCase()) {
          this.blurinputmonth = this.getinputmonth.replace(/\b[a-z]/g, x =>
            x.toUpperCase()
          );
          break;
        } else {
          this.blurinputmonth = "";
        }
      }
      $("#answerInputmonths").val(this.blurinputmonth);
      if (this.blurinputmonth == "") {
        this.trigertextvalidasimonth = true;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasimonth = "Bulan lahir harus dipilih";
        } else {
          this.textvalidasimonth = "Birth month is required";
        }
        $("#answerInputmonths").removeClass();
        $("#answerInputmonths").addClass("form-control-red");
        $("#textmonth").removeClass();
        $("#textmonth").addClass("text-line-red");
      }
    },
    autodetectvalue() {
      $("#answerInputmonths").prop("disabled", false);
      for (const i of this.year) {
        if (Number(i.name) === Number(this.getinputyear)) {
          this.blurinputyear = this.getinputyear;
          break;
        } else {
          this.blurinputyear = "";
        }
      }
      $("#answerInputyears").val(this.blurinputyear);
      if (this.blurinputyear == "") {
        this.trigertextvalidasitahun = true;
        this.trigertextvalidasiumur = false;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasitahun = "Tahun lahir harus dipilih";
        } else {
          this.textvalidasitahun = "Birth year is required";
        }
        $("#answerInputyears").removeClass();
        $("#answerInputyears").addClass("form-control-red");
        $("#texttahun").removeClass();
        $("#texttahun").addClass("text-line-red");
      }
    },
    autodetectvaluedays() {
      for (const i of this.day) {
        if (Number(i.value) === Number(this.getinputday)) {
          this.blurinputday = this.getinputday;
          break;
        } else {
          this.blurinputday = "";
        }
      }
      $("#answerInputdays").val(this.blurinputday);
      if (this.blurinputday == "") {
        this.trigertextvalidasiday = true;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasiday = "Hari lahir harus dipilih";
        } else {
          this.textvalidasiday = "Birth date required";
        }
        $("#answerInputdays").removeClass();
        $("#answerInputdays").addClass("form-control-red");
        $("#textday").removeClass();
        $("#textday").addClass("text-line-red");
      }
    },
    getvalueinput(type, data) {
      switch (type) {
        case "name":
          if ($("#inputnama").val() !== "") {
            this.trigertextvalidasiname = false;
            $("#inputnama").removeClass();
            $("#inputnama").addClass("input-control-gray");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-blue");
          } else {
            this.trigertextvalidasiname = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiname = "Nama lengkap harus diisi";
            } else {
              this.textvalidasiname = "Full name is required";
            }
            $("#inputnama").removeClass();
            $("#inputnama").addClass("form-control-red");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-red");
          }
          break;
        case "email":
          if (data !== "") {
            if (this.validateEmail(data) === false) {
              this.trigertextvalidasiemail = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasiemail =
                  "Format alamat email tidak sesuai";
              } else {
                this.textvalidasiemail =
                  "Invalid email address format";
              }
              $("#inputemail").removeClass();
              $("#inputemail").addClass("form-control-red");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-red");
            } else {
              this.trigertextvalidasiemail = false;
              $("#inputemail").removeClass();
              $("#inputemail").addClass("input-control-gray");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-blue");
            }
          } else {
            this.trigertextvalidasiemail = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiemail =
                "Alamat email harus diisi";
            } else {
              this.textvalidasiemail =
                "Email address is required";
            }
            $("#inputemail").removeClass();
            $("#inputemail").addClass("form-control-red");
            $("#textemail").removeClass();
            $("#textemail").addClass("text-line-red");
          }
          break;
        case "hp":
          if (data !== "") {
            if (this.phonenumber(data) === false) {
              this.trigertextvalidasihp = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasihp =
                  "Format nomor HP tidak sesuai";
              } else {
                this.textvalidasihp =
                  "Invalid phone number format";
              }
              $("#inputhp").removeClass();
              $("#inputhp").addClass("form-control-red");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-red");
            } else {
              this.trigertextvalidasihp = false;
              $("#inputhp").removeClass();
              $("#inputhp").addClass("input-control-gray");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-blue");
            }
          } else {
            this.trigertextvalidasihp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasihp =
                "Nomor HP harus diisi";
            } else {
              this.textvalidasihp =
                "Phone number is required";
            }
            $("#inputhp").removeClass();
            $("#inputhp").addClass("form-control-red");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-red");
          }
          break;
        case "ktp":
          if (data !== "") {
            if (this.ktpnumber(data) === false) {
              this.trigertextvalidasiktp = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasiktp =
                  "Format nomor KTP tidak sesuai";
              } else {
                this.textvalidasiktp =
                  "Invalid national ID number format";
              }
              $("#inputktp").removeClass();
              $("#inputktp").addClass("form-control-red");
              $("#textktp").removeClass();
              $("#textktp").addClass("text-line-red");
            } else {
              this.trigertextvalidasiktp = false;
              $("#inputktp").removeClass();
              $("#inputktp").addClass("input-control-gray");
              $("#textktp").removeClass();
              $("#textktp").addClass("text-line-blue");
            }
          } else {
            this.trigertextvalidasiktp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiktp =
                "Nomor KTP harus diisi";
            } else {
              this.textvalidasiktp =
                "National ID number is required";
            }
            $("#inputktp").removeClass();
            $("#inputktp").addClass("form-control-red");
            $("#textktp").removeClass();
            $("#textktp").addClass("text-line-red");
          }
          break;
           case "year":
          if (data != "") {
            this.trigertextvalidasitahun = false;
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("input-control-gray");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-blue");
          } else {
            this.trigertextvalidasitahun = true;
            this.trigertextvalidasiumur = false;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasitahun = "Tahun lahir harus dipilih";
            } else {
              this.textvalidasitahun = "Birth year is required";
            }
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("form-control-red");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-red");
          }
          break;
        case "month":
          if (data != "") {
            this.trigertextvalidasimonth = false;
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("input-control-gray");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-blue");
          } else {
            this.trigertextvalidasimonth = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasimonth = "Bulan lahir harus dipilih";
            } else {
              this.textvalidasimonth = "Birth month is required";
            }
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("form-control-red");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-red");
          }
          break;
       case "day":
          if (data != "") {
            this.trigertextvalidasiday = false;
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("input-control-gray");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-blue");
          } else {
            this.trigertextvalidasiday = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiday = "Hari lahir harus dipilih";
            } else {
              this.textvalidasiday = "Birth date required";
            }
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("form-control-red");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-red");
          }
          break;
      }
    },
    validateEmail(input) {
      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if (input.match(mailformat)) {
        return true;
      } else {
        return false;
      }
    },
    phonenumber(input) {
      if (input.toString().length < 10 || input.toString().length > 12) {
        return false;
      } else {
        return true;
      }
    },
    ktpnumber(input) {
      if (input.toString().length == 16) {
        return true;
      } else {
        return false;
      }
    },
    changedate() {
      let limit = 0;
      this.day = [];
      if (
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "februari" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "february"
      ) {
        limit = 29;
      } else if (
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "april" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "april" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "juni" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "june" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "september" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "september" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "november" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "november"
      ) {
        limit = 30;
      } else {
        limit = 31;
      }
      for (let i = 1; i <= limit; i++) {
        let dataobj = {
          name: i,
          value: i
        };
        this.day.push(dataobj);
      }
      $("#answerInputdays").prop("disabled", false);
    },
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
      this.namefile = this.file.name;
      this.trigerfile = false;
      let formData = new FormData();
      this.trigertextvalidasiresume = false;
      $("#textresume").removeClass();
      $("#textresume").addClass("text-line-blue");
      if (this.file.type == "application/pdf") {
        if (this.file.size > 30971520) {
          this.trigerfileimage = false
          this.initfileinput = true
          this.trigertextvalidasifile = true
        } else {
          this.trigerfileimage = true
          this.initfileinput = false 
          this.trigertextvalidasifile = false
          formData.append("file", this.file);
          axios
            .post("https://api.ketemuin.id/v1/upload", formData, {
              headers: { "Content-Type": "multipart/form-data" },
              onUploadProgress: function(progressEvent) {
                this.uploadPercentage = parseInt(
                  Math.round((progressEvent.loaded / progressEvent.total) * 100)
                );
              }.bind(this)
            })
            .then(data => {
              this.urlimageupload = "";
              this.urlimageupload = data.data.message.link;
            })
            .catch(e => {});
        }
      } else {
        this.trigerfileimage = false
        this.initfileinput = true
        this.trigertextvalidasifile = true
      }
    },
    closeinputfile() {
      this.initfileinput = true;
      this.trigerfile = true;
      this.trigerfileimage = false
    },
    kirimdata() {
      let datagetallhukum = [];
      let dataallhukum = [];
      dataallhukum.push(
        { name: this.hukum1, value: "hukum1" },
        { name: this.hukum2, value: "hukum2" },
        { name: this.hukum3, value: "hukum3" },
        { name: this.hukum4, value: "hukum4" },
        { name: this.hukum5, value: "hukum5" },
        { name: this.hukum6, value: "hukum6" },
        { name: this.hukum7, value: "hukum7" },
        { name: this.hukum8, value: "hukum8" },
        { name: this.hukum9, value: "hukum9" },
        { name: this.hukum10, value: "hukum10" },
        { name: this.lainnya, value: "lainnya" }
      );
      for (const i of dataallhukum) {
        if (i.name != false && i.value != "lainnya") {
          datagetallhukum.push(this.datagetall[i.value][this.gettrigerbahasa]);
        } else if (i.name != false && i.value === "lainnya") {
          this.trigerlainnya = true;
        }
      }
      if (this.trigerlainnya === true) {
        if ($("#inputlainnya").val() !== "") {
          datagetallhukum.push($("#inputlainnya").val());
          this.inputtrigerlainnya = true;
        } else {
          this.inputtrigerlainnya = false;
        }
      } else {
        this.inputtrigerlainnya = false;
      }
      if (
        this.getinputnama !== "" &&
        this.getinputemail !== "" &&
        this.getinputhp !== "" &&
        this.phonenumber(this.getinputhp) != false &&
        this.validateEmail(this.getinputemail) != false &&
        this.ktpnumber(this.getinputktp) != false &&
        $("#answerInputyears").val() !== "" &&
        $("#answerInputmonths").val() !== "" &&
        $("#answerInputdays").val() !== "" &&
        this.trigerfileimage != false &&
        this.getinputktp !== "" &&
        datagetallhukum.length != 0
      ) {
        let datamonthuse;
        switch (
          $("#answerInputmonths")
            .val()
            .toLowerCase()
        ) {
          case "januari":
            datamonthuse = 1;
            break;
          case "january":
            datamonthuse = 1;
            break;
          case "februari":
            datamonthuse = 2;
            break;
          case "february":
            datamonthuse = 2;
            break;
          case "maret":
            datamonthuse = 3;
            break;
          case "march":
            datamonthuse = 3;
            break;
          case "april":
            datamonthuse = 4;
            break;
          case "april":
            datamonthuse = 4;
            break;
          case "mei":
            datamonthuse = 5;
            break;
          case "may":
            datamonthuse = 5;
            break;
          case "juni":
            datamonthuse = 6;
            break;
          case "june":
            datamonthuse = 6;
            break;
          case "juli":
            datamonthuse = 7;
            break;
          case "july":
            datamonthuse = 7;
            break;
          case "agustus":
            datamonthuse = 8;
            break;
          case "august":
            datamonthuse = 8;
            break;
          case "september":
            datamonthuse = 9;
            break;
          case "september":
            datamonthuse = 9;
            break;
          case "oktober":
            datamonthuse = 10;
            break;
          case "october":
            datamonthuse = 10;
            break;
          case "november":
            datamonthuse = 11;
            break;
          case "november":
            datamonthuse = 11;
            break;
          case "desember":
            datamonthuse = 12;
            break;
          case "descember":
            datamonthuse = 12;
            break;
        }
        let dateinit = new Date();
        dateinit.setMonth(datamonthuse - 1);
        dateinit.setFullYear($("#answerInputyears").val());
        dateinit.setDate($("#answerInputdays").val());
        if (
          moment(dateinit)
            .fromNow()
            .split(" ")[0] > 17
        ) {
          this.trigertextvalidasiumur = false;
          let datause = {
            name: this.getinputnama,
            email: this.getinputemail,
            birth_date: Number(moment(dateinit).format("X")),
            phone: this.getinputhp,
            id_card: this.getinputktp,
            resume: this.urlimageupload,
            expertise: datagetallhukum
          };
          this.apipostdata(datause);
        } else {
          this.trigertextvalidasiumur = true;
        }
      } else {
        if (this.getinputnama === "") {
          this.trigertextvalidasiname = true;
          if (this.gettrigerbahasa === "indonesia") {
            this.textvalidasiname = "Nama lengkap harus diisi";
          } else {
            this.textvalidasiname = "Full name is required";
          }
          $("#inputnama").removeClass();
          $("#inputnama").addClass("form-control-red");
          $("#textnama").removeClass();
          $("#textnama").addClass("text-line-red");
        } else {
          this.trigertextvalidasiname = false;
          $("#inputnama").removeClass();
          $("#inputnama").addClass("input-control-gray");
          $("#textnama").removeClass();
          $("#textnama").addClass("text-line-blue");
        }
        if (this.getinputemail === "") {
          this.trigertextvalidasiemail = true;
          if (this.gettrigerbahasa === "indonesia") {
            this.textvalidasiemail =
              "Alamat email harus diisi";
          } else {
            this.textvalidasiemail =
              "Email address is required";
          }
          $("#inputemail").removeClass();
          $("#inputemail").addClass("form-control-red");
          $("#textemail").removeClass();
          $("#textemail").addClass("text-line-red");
        } else {
          if (this.validateEmail(this.getinputemail) === false) {
            this.trigertextvalidasiemail = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiemail =
                "Format alamat email tidak sesuai";
            } else {
              this.textvalidasiemail =
                "Invalid email address format";
            }
            $("#inputemail").removeClass();
            $("#inputemail").addClass("form-control-red");
            $("#textemail").removeClass();
            $("#textemail").addClass("text-line-red");
          } else {
            this.trigertextvalidasiemail = false;
            $("#inputemail").removeClass();
            $("#inputemail").addClass("input-control-gray");
            $("#textemail").removeClass();
            $("#textemail").addClass("text-line-blue");
          }
        }
        if (this.getinputhp === "") {
          this.trigertextvalidasihp = true;
          if (this.gettrigerbahasa === "indonesia") {
            this.textvalidasihp =
              "Nomor HP harus diisi";
          } else {
            this.textvalidasihp =
              "Phone number is required";
          }
          $("#inputhp").removeClass();
          $("#inputhp").addClass("form-control-red");
          $("#texthp").removeClass();
          $("#texthp").addClass("text-line-red");
        } else {
          if (this.phonenumber(this.getinputhp) === false) {
            this.trigertextvalidasihp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasihp =
                "Format nomor HP tidak sesuai";
            } else {
              this.textvalidasihp =
                "Invalid phone number format";
            }
            $("#inputhp").removeClass();
            $("#inputhp").addClass("form-control-red");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-red");
          } else {
            this.trigertextvalidasihp = false;
            $("#inputhp").removeClass();
            $("#inputhp").addClass("input-control-gray");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-blue");
          }
        }
        if (this.getinputktp === "") {
          this.trigertextvalidasiktp = true;
          if (this.gettrigerbahasa === "indonesia") {
            this.textvalidasiktp =
              "Nomor KTP harus diisi";
          } else {
            this.textvalidasiktp =
              "National ID number is required";
          }
          $("#inputktp").removeClass();
          $("#inputktp").addClass("form-control-red");
          $("#textktp").removeClass();
          $("#textktp").addClass("text-line-red");
        } else {
          if (this.ktpnumber(this.getinputktp) === false) {
            this.trigertextvalidasiktp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiktp =
                "Format nomor KTP tidak sesuai";
            } else {
              this.textvalidasiktp =
                "Invalid national ID number format";
            }
            $("#inputktp").removeClass();
            $("#inputktp").addClass("form-control-red");
            $("#textktp").removeClass();
            $("#textktp").addClass("text-line-red");
          } else {
            this.trigertextvalidasiktp = false;
            $("#inputktp").removeClass();
            $("#inputktp").addClass("input-control-gray");
            $("#textktp").removeClass();
            $("#textktp").addClass("text-line-blue");
          }
        }
        if (this.getinputyear === "") {
            this.trigertextvalidasitahun = true;
            this.trigertextvalidasiumur = false;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasitahun = "Tanggal lahir harus dipilih";
            } else {
              this.textvalidasitahun = "Birthdate is required";
            }
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("form-control-red");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-red");
          } else {
            this.textvalidasitahun = false;
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("input-control-gray");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-blue");
          }
          if (this.getinputmonth === "") {
            this.trigertextvalidasimonth = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasimonth = "Bulan lahir harus dipilih";
            } else {
              this.textvalidasimonth = "Birth month is required";
            }
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("form-control-red");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-red");
          } else {
            this.textvalidasimonth = false;
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("input-control-gray");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-blue");
          }
        if (this.getinputday === "") {
            this.trigertextvalidasiday = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiday = "Hari lahir harus dipilih";
            } else {
              this.textvalidasiday = "Birth date required";
            }
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("form-control-red");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-red");
          } else {
            this.textvalidasiday = false;
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("input-control-gray");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-blue");
          }
        if (this.trigerfileimage === false) {
          this.trigerfile = false;
          this.trigertextvalidasiresume = true;
          $("#textresume").removeClass();
          $("#textresume").addClass("text-line-red");
        } else {
          this.trigertextvalidasiresume = false;
          this.trigerfile = false;
          $("#textresume").removeClass();
          $("#textresume").addClass("text-line-blue");
        }
        if (
          this.hukum1 === false &&
          this.hukum2 === false &&
          this.hukum3 === false &&
          this.hukum4 === false &&
          this.hukum5 === false &&
          this.hukum6 === false &&
          this.hukum7 === false &&
          this.hukum8 === false &&
          this.hukum9 === false &&
          this.hukum10 === false &&
          this.lainnya === false
        ) {
          this.trigerkeahlian = true;
        } else {
          this.trigerkeahlian = false;
        }
        if (this.inputtrigerlainnya == true) {
          this.trigerlainnyacheck = true;
        } else {
          this.trigerlainnyacheck = false;
        }
      }
    },
    changetinputhukum(type, data) {
      this.trigerkeahlian = false;
    },
    inputdatalainnya() {
      if ($("#inputlainnya").val() === "") {
        this.trigerlainnyacheck = true;
      } else {
        this.trigerlainnyacheck = false;
      }
    },
    apipostdata(bodydata) {
      axios({
        method: "post",
        url: "https://api.ketemuin.id/v1/registration/partner",
        data: bodydata
      })
        .then(response => {
          if (response.message == null) {
            window.location.reload();
          }
        })
        .catch(response => {});
    }
  }
};
</script>