<template>
  <div class="client-container">
    <div class="client-header">
      <div class="client">
        <div class="row">
          <div class="col-12 mt-3 text-center">
            <h2 class="title-header" v-html="datagetall.judul[gettrigerbahasa]"></h2>
          </div>
          <div class="col-12 my-3">
            <div class="row">
              <div class="col-lg-4 col-12 text-center">
                <img width="100%" :src="require(`@/assets/klien/${datagetall.menu1.image}`)" />
                <h6 class="img-title" v-html="datagetall.menu1.judulmenu[gettrigerbahasa]"></h6>
                <span class="img-content" v-html="datagetall.menu1.deskripsimenu[gettrigerbahasa]"></span>
              </div>
              <div class="col-lg-4 col-12 text-center">
                <img width="100%" :src="require(`@/assets/klien/${datagetall.menu2.image}`)" />
                <h6 class="img-title" v-html="datagetall.menu2.judulmenu[gettrigerbahasa]"></h6>
                <span class="img-content" v-html="datagetall.menu2.deskripsimenu[gettrigerbahasa]"></span>
              </div>
              <div class="col-lg-4 col-12 text-center">
                <img width="100%" :src="require(`@/assets/klien/${datagetall.menu3.image}`)" />
                <h6 class="img-title" v-html="datagetall.menu3.judulmenu[gettrigerbahasa]"></h6>
                <span class="img-content" v-html="datagetall.menu3.deskripsimenu[gettrigerbahasa]"></span>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4 mb-3">
            <div class="row">
              <div
                class="col-12 text-join-client text-center"
              >{{datagetall.textJoin[gettrigerbahasa]}}</div>
              <div class="col-12 text-center mt-2">
                <img src="../assets/klien/ic_swipe.svg" @click="swipe()" style="cursor:pointer" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="client-form" id="clientform">
      <div class="client">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-7 my-5">
            <div class="panel-form-client">
              <div class="row">
                <div class="col-12 text-center">
                  <h2 class="title-header" v-html="datagetall.judulconent[gettrigerbahasa]"></h2>
                </div>
                <div class="col-12">
                  <div class="text-container">
                    <span class="text-line" id="textnama">{{datagetall.input1[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      type="text"
                      class="input-control-gray"
                      id="inputnama"
                      v-model="getinputnama"
                      @keyup="getvalueinput('name',getinputnama)"
                    />
                  </div>
                  <span class="allert" v-if="trigertextvalidasiname">{{textvalidasiname}}</span>
                </div>
                <div class="col-12 mt-3">
                  <div class="text-container">
                    <span class="text-line" id="textemail">{{datagetall.input2[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      type="text"
                      class="input-control-gray"
                      v-model="getinputemail"
                      id="inputemail"
                      @keyup="getvalueinput('email',getinputemail)"
                    />
                  </div>
                  <span class="allert" v-if="trigertextvalidasiemail">{{textvalidasiemail}}</span>
                </div>
                <div class="col-12 mt-3">
                  <div class="text-container">
                    <span class="text-line" id="texthp">{{datagetall.input3[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      type="number"
                      name="number"
                      class="input-control-gray"
                      v-model="getinputhp"
                      id="inputhp"
                      @keyup="getvalueinput('hp',getinputhp)"
                    />
                  </div>
                  <span class="allert" v-if="trigertextvalidasihp">{{textvalidasihp}}</span>
                </div>
                <div class="col-4 mt-3">
                  <div class="text-container">
                    <span class="text-line" id="texttahun">{{datagetall.input6[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      list="years"
                      name="years"
                      id="answerInputyears"
                      class="input-control-gray"
                      v-model="getinputyear"
                      @blur="autodetectvalue()"
                      @keyup="getvalueinput('year',getinputyear)"
                      @focus="clickdropdown('year')"
                    />
                    <datalist id="years">
                      <option
                        v-bind:value="item.value"
                        v-for="item in year"
                        :key="item.id"
                      >{{item.name}}</option>
                    </datalist>
                  </div>
                  <span class="allert" v-if="trigertextvalidasitahun">{{textvalidasitahun}}</span>
                </div>
                <div class="col-4 mt-3">
                  <div class="text-container">
                    <span class="text-line" id="textmonth">{{datagetall.input5[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      list="months"
                      name="months"
                      id="answerInputmonths"
                      class="input-control-gray"
                      v-model="getinputmonth"
                      @blur="autodetectvaluemonth()"
                      @change="changedate()"
                      @keyup="getvalueinput('month',getinputmonth)"
                      @focus="clickdropdown('month')"
                    />
                    <datalist id="months">
                      <option v-bind:value="item.name" v-for="item in month" :key="item.id"></option>
                    </datalist>
                  </div>
                  <span class="allert" v-if="trigertextvalidasimonth">{{textvalidasimonth}}</span>
                </div>
                <div class="col-4 mt-3">
                  <div class="text-container">
                    <span class="text-line" id="textday">{{datagetall.input4[gettrigerbahasa]}}</span>
                    <br />
                    <input
                      list="days"
                      name="days"
                      id="answerInputdays"
                      class="input-control-gray"
                      v-model="getinputday"
                      @blur="autodetectvaluedays()"
                      @keyup="getvalueinput('day',getinputday)"
                      @focus="clickdropdown('day')"
                    />
                    <datalist id="days">
                      <option v-bind:value="item.value" v-for="item in day" :key="item.id"></option>
                    </datalist>
                  </div>
                  <span class="allert" v-if="trigertextvalidasiday">{{textvalidasiday}}</span>
                </div>
                <div class="col-12">
                  <span
                    class="allert"
                    v-if="trigertextvalidasiumur"
                  >{{datagetall.alertumur[gettrigerbahasa]}}</span>
                </div>
                <div class="col-12 mt-4">
                  <hr class="line-client" />
                </div>
                <div class="col-12 mt-3">
                  <span class="notes-text">{{datagetall.servicetipe[gettrigerbahasa]}}</span>
                  <div class="tab-client">
                    <div class="row no-gutters">
                      <div class="col-6 align-self-center text-center">
                        <div
                          class="tab-client-active"
                          @click="clicktabclient('tabdoc')"
                          style="cursor:pointer"
                          id="tabdoc"
                        >
                          <span class="tab-text">{{datagetall.type1[gettrigerbahasa]}}</span>
                        </div>
                      </div>
                      <div class="col-6 align-self-center text-center">
                        <div @click="clicktabclient('tabcon')" style="cursor:pointer" id="tabcon">
                          <span class="tab-text">{{datagetall.type2[gettrigerbahasa]}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12" name="tabdoc" style="display:block">
                  <div class="row">
                    <div class="col-12 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textkategori"
                        >{{datagetall.input7[gettrigerbahasa]}}</span>
                        <br />
                        <input
                          list="categorys"
                          name="categorys"
                          id="answerInputcategorys"
                          class="input-control-gray"
                          v-model="getinputcategorys"
                          @blur="autodetectvaluecategory()"
                          @keyup="getvalueinput('kategori1',getinputcategorys)"
                          @focus="clickdropdown('kategori1')"
                        />
                        <datalist id="categorys">
                          <option v-bind:value="item.name" v-for="item in category" :key="item.id"></option>
                        </datalist>
                      </div>
                      <span
                        id="notekategori"
                        style="display:none"
                        class="notes-text"
                      >{{datagetall.lainnya[gettrigerbahasa]}}</span>
                      <span
                        class="allert"
                        v-if="trigertextvalidasikategori"
                      >{{textvalidasikategori}}</span>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textdeskripsi"
                          style="position:absolute;height:10px"
                        >{{datagetall.input8[gettrigerbahasa]}}</span>
                        <br />
                        <textarea
                          row="10"
                          class="input-control-gray"
                          v-model="getinputdeskripsi"
                          id="inputdeskripsi"
                          @keyup="getvalueinput('deskripsi',getinputdeskripsi)"
                        />
                      </div>
                      <span
                        class="allert"
                        v-if="trigertextvalidasideskripsi"
                      >{{textvalidasideskripsi}}</span>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textpengerjaan"
                        >{{datagetall.input9[gettrigerbahasa]}}</span>
                        <br />
                        <input
                          type="number"
                          class="input-control-gray"
                          v-model="getinputpengerjaan"
                          id="inputpengerjaan"
                          @keyup="getvalueinput('pengerjaan',getinputpengerjaan)"
                        />
                        <span class="sufix-active">{{datagetall.hari[gettrigerbahasa]}}</span>
                      </div>
                      <span
                        class="notes-text"
                        id="notepengerjaan"
                        style="display:none"
                      >{{datagetall.terhitung[gettrigerbahasa]}}</span>
                      <span
                        class="allert"
                        v-if="trigertextvalidasipengerjaan"
                      >{{textvalidasipengerjaan}}</span>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textbiaya"
                        >{{datagetall.input10[gettrigerbahasa]}}</span>
                        <br />
                        <input
                          type="number"
                          class="input-control-gray"
                          v-model="getinputbiaya"
                          id="inputbiaya"
                          @keyup="getvalueinput('biaya',getinputbiaya)"
                        />
                        <span class="sufix-active">Rupiah</span>
                      </div>
                      <span class="allert" v-if="trigertextvalidasibiaya">{{textvalidasibiaya}}</span>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textcatatan"
                          style="position:absolute;height:10px"
                        >{{datagetall.input11[gettrigerbahasa]}}</span>
                        <br />
                        <textarea
                          row="10"
                          class="input-control-gray"
                          v-model="getinputcatatan"
                          id="inputcatatan"
                          @keyup="getvalueinput('catatan',getinputcatatan)"
                        />
                      </div>
                    </div>
                    <div class="col-12 mt-5">
                      <div class="row justify-content-center">
                        <div class="col-md-4 col-7">
                          <button
                            class="btn btn-contact-orange btn-block"
                            @click="kirimdata('dokumentasi')"
                          >{{datagetall.button[gettrigerbahasa]}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12" name="tabcon" style="display:none">
                  <div class="row">
                    <div class="col-12 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textkategori2"
                        >{{datagetall.input7[gettrigerbahasa]}}</span>
                        <br />
                        <input
                          list="categorys2"
                          name="categorys2"
                          id="answerInputcategorys2"
                          class="input-control-gray"
                          v-model="getinputcategorys2"
                          @blur="autodetectvaluecategory2()"
                          @keyup="getvalueinput('kategori2',getinputcategorys2)"
                          @focus="clickdropdown('kategori2')"
                        />
                        <datalist id="categorys2">
                          <option v-bind:value="item.name" v-for="item in category" :key="item.id"></option>
                        </datalist>
                      </div>
                      <span
                        class="notes-text"
                        id="notekategori2"
                        style="display:none"
                      >{{datagetall.lainnya[gettrigerbahasa]}}</span>
                      <span
                        class="allert"
                        v-if="trigertextvalidasikategori2"
                      >{{textvalidasikategori2}}</span>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textdeskripsi2"
                          style="position:absolute;height:10px"
                        >{{datagetall.input12[gettrigerbahasa]}}</span>
                        <br />
                        <textarea
                          row="10"
                          class="input-control-gray"
                          v-model="getinputdeskripsi2"
                          id="inputdeskripsi2"
                          @keyup="getvalueinput('deskripsi2',getinputdeskripsi2)"
                        />
                      </div>
                      <span
                        class="allert"
                        v-if="trigertextvalidasideskripsi2"
                      >{{textvalidasideskripsi2}}</span>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8 mt-3">
                          <div class="text-container">
                            <span
                              class="text-line"
                              id="textjadwal1"
                            >{{datagetall.input13[gettrigerbahasa]}}</span>
                            <br />
                            <date-picker
                              class="input-control-gray"
                              v-model="nilaijadwal1"
                              format="DD/MM/YYYY"
                              type="date"
                              id="nilaijadwal1"
                              @change="datechange('jadwal1',nilaijadwal1)"
                              @blur="datechange('jadwal1',nilaijadwal1)"
                              :disabled-date="disabledBefore"
                              :default-value="new Date()"
                            ></date-picker>
                          </div>
                          <span
                            class="allert"
                            v-if="trigertextvalidasijadwal1"
                          >{{textvalidasijadwal1}}</span>
                        </div>
                        <div class="col-4 mt-3">
                          <div class="text-container">
                            <span
                              class="text-line"
                              id="texttime1"
                            >{{datagetall.time1[gettrigerbahasa]}}</span>
                            <br />
                            <input
                              list="time1"
                              name="time1"
                              id="answerInputtime1"
                              class="input-control-gray"
                              v-model="getinputtime1"
                              @blur="autodetectvaluetime1()"
                              @keyup="getvalueinput('time1',getinputtime1)"
                              @focus="clickdropdown('time1')"
                            />
                            <datalist id="time1">
                              <option v-bind:value="item.name" v-for="item in time" :key="item.id"></option>
                            </datalist>
                          </div>
                          <span class="notes-text"></span>
                          <span class="allert" v-if="trigertextvalidasitime1">{{textvalidasitime1}}</span>
                        </div>
                        <div class="col-8 mt-3">
                          <div class="text-container">
                            <span
                              class="text-line"
                              id="textjadwal2"
                            >{{datagetall.input14[gettrigerbahasa]}}</span>
                            <br />
                            <date-picker
                              class="input-control-gray"
                              v-model="nilaijadwal2"
                              format="DD/MM/YYYY"
                              type="date"
                              id="nilaijadwal2"
                              :disabled-date="disabledBefore"
                              :default-value="new Date()"
                            ></date-picker>
                            <!-- <span class="sufix-active">{{datagetall.hari[gettrigerbahasa]}}</span> -->
                          </div>
                          <span class="notes-text"></span>
                        </div>
                        <div class="col-4 mt-3">
                          <div class="text-container">
                            <span
                              class="text-line"
                              id="texttime2"
                            >{{datagetall.time2[gettrigerbahasa]}}</span>
                            <br />
                            <input
                              list="time2"
                              name="time2"
                              id="answerInputtime2"
                              class="input-control-gray"
                              v-model="getinputtime2"
                              @keyup="getvalueinput('time2',getinputtime2)"
                              @focus="clickdropdown('time2')"
                            />
                            <datalist id="time2">
                              <option v-bind:value="item.name" v-for="item in time" :key="item.id"></option>
                            </datalist>
                          </div>
                          <span class="notes-text"></span>
                          <span class="allert" v-if="trigertextvalidasitime2">{{textvalidasitime2}}</span>
                        </div>
                        <div class="col-8 mt-3">
                          <div class="text-container">
                            <span
                              class="text-line"
                              id="textjadwal3"
                            >{{datagetall.input15[gettrigerbahasa]}}</span>
                            <br />
                            <date-picker
                              class="input-control-gray"
                              v-model="nilaijadwal3"
                              format="DD/MM/YYYY"
                              type="date"
                              id="nilaijadwal3"
                              :disabled-date="disabledBefore"
                              :default-value="new Date()"
                            ></date-picker>
                          </div>
                          <span class="notes-text"></span>
                          <span
                            class="allert"
                            v-if="trigertextvalidasijadwal3"
                          >{{textvalidasijadwal3}}</span>
                        </div>
                        <div class="col-4 mt-3">
                          <div class="text-container">
                            <span
                              class="text-line"
                              id="texttime3"
                            >{{datagetall.time2[gettrigerbahasa]}}</span>
                            <br />
                            <input
                              list="time3"
                              name="time3"
                              id="answerInputtime3"
                              class="input-control-gray"
                              v-model="getinputtime3"
                              @keyup="getvalueinput('time3',getinputtime3)"
                              @focus="clickdropdown('time3')"
                            />
                            <datalist id="time3">
                              <option v-bind:value="item.name" v-for="item in time" :key="item.id"></option>
                            </datalist>
                          </div>
                          <span class="notes-text"></span>
                          <span class="allert" v-if="trigertextvalidasitime3">{{textvalidasitime3}}</span>
                        </div>
                        <div class="col-12">
                          <span
                            class="allert"
                            v-if="trigertextvalidasijadwalsama"
                          >{{datagetall.textvalidasijadwalsama[gettrigerbahasa]}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="text-container">
                        <span
                          class="text-line"
                          id="textcatatan2"
                          style="position:absolute;height:10px"
                        >{{datagetall.input11[gettrigerbahasa]}}</span>
                        <br />
                        <textarea
                          row="10"
                          class="input-control-gray"
                          v-model="getinputcatatan2"
                          id="inputcatatan2"
                          @keyup="getvalueinput('catatan2',getinputcatatan2)"
                        />
                      </div>
                    </div>
                    <div class="col-12 mt-5">
                      <div class="row justify-content-center">
                        <div class="col-md-4 col-7">
                          <button
                            class="btn btn-contact-orange btn-block"
                            @click="kirimdata('konsultasi')"
                          >{{datagetall.button[gettrigerbahasa]}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.text-join-client {
  color: #265970;
  font-size: 24px;

  font-family: "bold";
}
@media all and (orientation: landscape) {
  @media (min-width: 1025px) {
    .client-header {
      background-color: white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .swipe-button {
      position: absolute !important;
      bottom: 0;
      max-width: 1360px !important;
      padding: 1rem;
    }
  }
  @media (max-width: 1024px) {
    .client-header {
      background-color: white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .swipe-button {
      position: relative;
    }
  }
  @media (max-width: 600px) {
    .panel-form-client {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 1rem;
    }
    .text-line-blue {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #2e6b87;
    }
    .text-line-red {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #ee6d61;
    }
    .text-line {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #b1b1b1;
    }
  }
  @media (min-width: 601px) {
    .panel-form-client {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 5rem;
    }
    .text-line-blue {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #2e6b87;
    }
    .text-line-red {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #ee6d61;
    }
    .text-line {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #b1b1b1;
    }
  }
}
@media all and (orientation: portrait) {
  @media (min-width: 1001px) {
    .client-header {
      background-color: white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .swipe-button {
      position: absolute !important;
      bottom: 0;
      max-width: 1360px !important;
      padding: 1rem;
    }
  }
  @media (max-width: 1000px) {
    .client-header {
      background-color: white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .swipe-button {
      position: relative;
    }
  }
  @media (max-width: 600px) {
    .panel-form-client {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 1rem;
    }
    .text-line-blue {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #2e6b87;
    }
    .text-line-red {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #ee6d61;
    }
    .text-line {
      padding-left: 0px;
      padding-right: 0px;
      background: #fff;
      margin-left: 0.5rem;
      font-family: "medium";
      font-size: 12px;
      color: #b1b1b1;
    }
  }
  @media (min-width: 601px) {
    .panel-form-client {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 5rem;
    }
    .text-line-blue {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #2e6b87;
    }
    .text-line-red {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #ee6d61;
    }
    .text-line {
      padding-left: 5px;
      padding-right: 5px;
      background: #fff;
      margin-left: 1rem;
      font-family: "medium";
      font-size: 12px;
      color: #b1b1b1;
    }
  }
}
.mx-input {
  box-shadow: none !important;
  border: 1px solid #ffffff !important;
  height: unset !important;
  padding: unset !important;
}
.mx-datepicker {
  position: unset !important;
  display: block !important;
  width: 100% !important;
}
.parallax {
  /* The image used */

  /* Set a specific height */
  /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sufix-active {
  position: relative;
  right: 10px;
  float: right;
  bottom: 20px;
  font-family: "medium";
  color: #265970;
  font-size: 14px;
}
.sufix {
  position: relative;
  right: 10px;
  float: right;
  bottom: 20px;
  font-family: "medium";
  color: #b1b1b1;
  font-size: 14px;
}
.notes-text {
  font-family: "medium";
  font-size: 12px;
  color: #265970;
  margin-left: 1rem;
}
.tab-text {
  font-family: "medium";
  font-size: 14px;
}
.tab-client-active {
  background-color: #c8dde7;
  border-radius: 5px;
  padding: 0.3rem;
}
.tab-client {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0.3rem;
}
.line-client {
  height: 2px;
  border-width: 0;
  color: #c8dde7;
  background-color: #c8dde7;
}

.client-form {
  /* height:90vh; */
  /* max-height: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-color: #f5f5f5;
  background-image: url(../assets/howitwork/bg_how.svg);
}
.img-content {
  font-family: "medium";
  font-size: 16px;
}
.img-title {
  font-family: "semibold";
  font-size: 24px;
}
.client-container {
  width: 100%;
}
.client {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
.title-header {
  font-family: "bold";
  font-size: 36px;
  color: #265970;
}
select {
  outline: none;
}
</style>

<script>
/* eslint-disable */
import $ from "jquery";
import axios from "axios";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import moment from "moment-timezone";
import Parallax from "vue-parallaxy";
export default {
  components: {
    DatePicker,
    Parallax
  },
  data() {
    return {
      checkdatajadwal: false,
      trigertextvalidasijadwalsama: false,
      clientform: false,
      nilaijadwal1: null,
      nilaijadwal2: null,
      nilaijadwal3: null,
      hours: Array.from({ length: 10 }).map((_, i) => i + 8),
      getinputyear: "",
      getinputtime1: null,
      getinputtime2: null,
      getinputtime3: null,
      getinputmonth: "",
      getinputday: "",
      getinputcategorys: "",
      getinputcategorys2: "",
      getinputnama: "",
      getinputemail: "",
      getinputhp: "",
      getinputsubyek: "",
      getinputdeskripsi: "",
      getinputkategori: "",
      getinputdeskripsi2: "",
      getinputkategori2: "",
      getinputpengerjaan: "",
      getinputbiaya: "",
      getinputbiaya2: "",
      getinputcatatan: "",
      getinputcatatan2: "",
      getinputjadwal1: "",
      getinputjadwal2: "",
      getinputjadwal3: "",
      textvalidasiname: "",
      trigertextvalidasiname: false,
      textvalidasijadwal1: "",
      trigertextvalidasijadwal1: false,
      textvalidasijadwal2: "",
      trigertextvalidasijadwal2: false,
      textvalidasijadwal3: "",
      trigertextvalidasijadwal3: false,
      textvalidasicatatan: "",
      trigertextvalidasicatatan: false,
      textvalidasicatatan2: "",
      trigertextvalidasicatatan2: false,
      textvalidasiemail: "",
      trigertextvalidasiemail: false,
      textvalidasitime1: "",
      trigertextvalidasitime1: false,
      textvalidasitime2: "",
      trigertextvalidasitime2: false,
      textvalidasitime3: "",
      trigertextvalidasitime3: false,
      textvalidasihp: "",
      trigertextvalidasihp: false,
      textvalidasisubyek: "",
      trigertextvalidasisubyek: false,
      textvalidasideskripsi: "",
      trigertextvalidasideskripsi: false,
      textvalidasideskripsi2: "",
      trigertextvalidasideskripsi2: false,
      textvalidasitahun: "",
      trigertextvalidasitahun: false,
      textvalidasimonth: "",
      trigertextvalidasimonth: false,
      textvalidasiday: "",
      trigertextvalidasiday: false,
      textvalidasikategori: "",
      trigertextvalidasikategori: false,
      textvalidasikategori2: "",
      trigertextvalidasikategori2: false,
      textvalidasipengerjaan: "",
      trigertextvalidasipengerjaan: false,
      textvalidasibiaya: "",
      trigertextvalidasibiaya: false,
      textvalidasibiaya2: "",
      trigertextvalidasibiaya2: false,
      gettrigerbahasa: "indonesia",
      blurinputyear: "",
      blurinputmonth: "",
      blurinputday: "",
      blurinputcategory: "",
      blurinputcategory2: "",
      blurinputtime1: "",
      blurinputtime2: "",
      blurinputtime3: "",
      year: [],
      month: [],
      day: [],
      time: [],
      category: [],
      trigertextvalidasiumur: false,
      datagetall: {
        textJoin: {
          indonesia: "Gabung Sekarang",
          inggris: "Join Now"
        },
        alertumur: {
          indonesia: "Anda harus berusia 18 tahun keatas",
          inggris: "You must be 18 years old and above"
        },
        judul: {
          indonesia: "Mengapa jadi klien di <label>#ketemuin</label>?",
          inggris: "Why become <label>#ketemuin</label> client?"
        },
        type1: {
          indonesia: "Pembuatan Dokumen",
          inggris: "Drafting"
        },
        hari: {
          indonesia: "Hari",
          inggris: "Day"
        },
        terhitung: {
          indonesia: "Terhitung sejak pembayaran terkonfirmasi",
          inggris: "Counted since payment is confirmed"
        },
        lainnya: {
          indonesia: "Silahkan pilih 'Lainnya' bila tidak yakin",
          inggris: "Please select 'Other' if unsure"
        },
        type2: {
          indonesia: "Konsultasi",
          inggris: "Consulting"
        },
        textvalidasijadwalsama: {
          indonesia:
            "Jadwal konsultasi tidak boleh sama dengan jadwal sebelumnya",
          inggris:
            "The consultation schedule cannot be the same as the previous schedule"
        },
        menu1: {
          judulmenu: {
            indonesia: "AMAN",
            inggris: "SAFE"
          },
          deskripsimenu: {
            indonesia: "Penyedia jasa telah melalui proses verifikasi",
            inggris: "Service providers has gone through verification process"
          },
          image: "img-1.svg"
        },
        menu2: {
          judulmenu: {
            indonesia: "FLEKSIBEL",
            inggris: "FLEXIBLE"
          },
          deskripsimenu: {
            indonesia: "Bebas memilih penyedia jasa sesuai preferensimu",
            inggris:
              "Freedom to select service provider based on your preferences"
          },
          image: "img-2.svg"
        },
        menu3: {
          judulmenu: {
            indonesia: "DAMPAK SOSIAL",
            inggris: "SOCIAL IMPACT"
          },
          deskripsimenu: {
            indonesia: "Akses ke layanan profesional yang lebih mudah",
            inggris: "Easier access to professional services"
          },
          image: "img-3.svg"
        },
        judulconent: {
          indonesia: "Yuk ketemuan di <label>#ketemuin</label>!",
          inggris: "Let's meet up at <label>#ketemuin</label>!"
        },
        servicetipe: {
          indonesia: "Type Layanan*",
          inggris: "Service Type*"
        },
        input1: {
          indonesia: "Nama Lengkap*",
          inggris: "Full Name*"
        },
        input2: {
          indonesia: "Alamat Email*",
          inggris: "Email Address*"
        },
        input3: {
          indonesia: "Nomor HP*",
          inggris: "Phone Number*"
        },
        input4: {
          indonesia: "Tanggal Lahir*",
          inggris: "Birth Date*"
        },
        input5: {
          indonesia: "Bulan Lahir*",
          inggris: "Birth Month*"
        },
        input6: {
          indonesia: "Tahun Lahir*",
          inggris: "Birth Year*"
        },
        input7: {
          indonesia: "Kategori*",
          inggris: "Category*"
        },
        input8: {
          indonesia: "Deskripsi Pekerjaan*",
          inggris: "Task Description*"
        },
        input9: {
          indonesia: "Ekspektasi Lama Pengerjaan*",
          inggris: "Expected Processing Time*"
        },
        input10: {
          indonesia: "Biaya yang dianggarkan*",
          inggris: "Nominal Budget*"
        },
        input11: {
          indonesia: "Catatan Tambahan",
          inggris: "Additional Notes"
        },
        input12: {
          indonesia: "Deskripsi Topik*",
          inggris: "Task Description*"
        },
        input13: {
          indonesia: "Jadwal konsultasi yang diharapkan*",
          inggris: "Expected processing time*"
        },
        input14: {
          indonesia: "Jadwal konsultasi (Alternatif 1)",
          inggris: "Expected Consultation Date (Alternative 1)"
        },
        input15: {
          indonesia: "Jadwal konsultasi (Alternatif 2)",
          inggris: "Expected Consultation Date (Alternative 2)"
        },
        button: {
          indonesia: "Kirim",
          inggris: "Submit"
        },
        time1: {
          indonesia: "Waktu*",
          inggris: "Time*"
        },
        time2: {
          indonesia: "Waktu",
          inggris: "Time"
        }
      }
    };
  },
  created() {
    let urlget = window.location.pathname;
    this.month = [];
    this.year = [];
    let dateinitfrom = new Date().getFullYear() - 18;
    for (let i = dateinitfrom; i >= dateinitfrom - 100; i--) {
      let dataobj = {
        // key: i, value: i, text: i.toString()
        name: i,
        value: i
      };
      this.year.push(dataobj);
    }

    this.time.push(
      { name: "09:00 - 10:00" },
      { name: "10:00 - 11:00" },
      { name: "11:00 - 12:00" },
      { name: "12:00 - 13:00" },
      { name: "13:00 - 14:00" },
      { name: "14:00 - 15:00" },
      { name: "15:00 - 16:00" },
      { name: "16:00 - 17:00" },
      { name: "17:00 - 18:00" }
    );
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
      this.category.push(
        { name: "Hukum Hak Kekayaan Intelektual" },
        { name: "Hukum Hak Kekayaan Intelektual - Paten" },
        { name: "Hukum Hak Kekayaan Intelektual - Hak Cipta" },
        { name: "Hukum Hak Kekayaan Intelektual - Pendaftaran Merek" },
        { name: "Hukum Hak Kekayaan Intelektual - Desain Industri" },
        { name: "Hukum Hak Kekayaan Intelektual - Perjanjian Lisensi" },
        { name: "Hukum Hak Kekayaan Intelektual - Pengalihan Hak" },
        { name: "Hukum Hak Kekayaan Intelektual - Royalti" },
        { name: "Hukum Investasi & Bisnis" },
        { name: "Hukum Investasi & Bisnis - Start Up" },
        { name: "Hukum Investasi & Bisnis - UMKM" },
        { name: "Hukum Investasi & Bisnis - Investasi" },
        { name: "Hukum Investasi & Bisnis - Perusahaan (Umum)" },
        { name: "Hukum Keluarga" },
        { name: "Hukum Keluarga - Kewarisan" },
        { name: "Hukum Keluarga - Hak Asuh Anak" },
        { name: "Hukum Keluarga - Pernikahan" },
        { name: "Hukum Keluarga - Perceraian" },
        { name: "Hukum Keluarga - Pembagian Harta" },
        { name: "Hukum Keluarga - Hibah" },
        { name: "Hukum Keluarga - Wasiat" },
        { name: "Hukum Ketenagakerjaan" },
        { name: "Hukum Ketenagakerjaan - Perjanjian Kerja" },
        { name: "Hukum Ketenagakerjaan - BPJS" },
        { name: "Hukum Ketenagakerjaan - Pemutusan Hubungan Kerja" },
        { name: "Hukum Ketenagakerjaan - Peraturan Perusahaan" },
        { name: "Hukum Ketenagakerjaan - Sengketa Hubungan Industrial" },
        { name: "Hukum Ketenagakerjaan - Pensiun" },
        { name: "Hukum Perdata" },
        { name: "Hukum Perdata - Wanprestasi" },
        { name: "Hukum Perdata - Ganti Kerugian" },
        { name: "Hukum Perdata - Kepailitan" },
        { name: "Hukum Perdata - Restrukturisasi Pembayaran" },
        { name: "Hukum Perlindungan Konsumen" },
        { name: "Hukum Perpajakan" },
        { name: "Hukum Perpajakan - Perorangan" },
        { name: "Hukum Perpajakan - Badan" },
        { name: "Hukum Perpajakan - UMKM" },
        { name: "Hukum Perpajakan - Sengketa Pajak" },
        { name: "Hukum Perpajakan - Penghematan Pajak" },
        { name: "Hukum Pertanahan dan Perumahan" },
        { name: "Hukum Pertanahan dan Perumahan - Jual Beli" },
        { name: "Hukum Pertanahan dan Perumahan - Kepemilikan Properti" },
        { name: "Hukum Perusahaan" },
        { name: "Hukum Perusahaan - Pendirian Badan Hukum" },
        { name: "Hukum Perusahaan - Perizinan" },
        { name: "Hukum Perusahaan - Kepemilikan Saham" },
        { name: "Hukum Perusahaan - Permodalan" },
        { name: "Hukum Perusahaan - Pembubaran" },
        { name: "Sengketa" },
        { name: "Sengketa - Sengketa Perdata" },
        { name: "Sengketa - Sengketa Pidana" },
        { name: "Sengketa - Somasi" },
        { name: "Sengketa - Pelaporan Kepolisian" },
        { name: "Lainnya" }
      );
      this.month.push(
        { name: "Januari", value: "01" },
        { name: "Februari", value: "02" },
        { name: "Maret", value: "03" },
        { name: "April", value: "04" },
        { name: "Mei", value: "05" },
        { name: "Juni", value: "06" },
        { name: "Juli", value: "07" },
        { name: "Agustus", value: "08" },
        { name: "September", value: "09" },
        { name: "Oktober", value: "10" },
        { name: "November", value: "11" },
        { name: "Desember", value: "12" }
      );
    } else {
      this.gettrigerbahasa = "inggris";
      this.category.push(
        { name: "Intellectual Property Law" },
        { name: "Intellectual Property Law - Patent" },
        { name: "Intellectual Property Law - Copyright" },
        { name: "Intellectual Property Law - Trademark Ragistration" },
        { name: "Intellectual Property Law - Industrial Design" },
        { name: "Intellectual Property Law - License Agreement" },
        { name: "Intellectual Property Law - Assignment of Rights" },
        { name: "Intellectual Property Law - Royalty" },
        { name: "Investment & Business Law" },
        { name: "Investment & Business Law - Start Up" },
        { name: "Investment & Business Law - Small & Medium Enterprise" },
        { name: "Investment & Business Law - Investment" },
        { name: "Investment & Business Law - Corporate (General)" },
        { name: "Family Law" },
        { name: "Family Law - Inheritence" },
        { name: "Family Law - Children Custody Rights" },
        { name: "Family Law - Marriage" },
        { name: "Family Law - Divorce" },
        { name: "Family Law - Division of Property" },
        { name: "Family Law - Grant" },
        { name: "Family Law - Will" },
        { name: "Labour Law" },
        { name: "Labour Law - Employment Agreement" },
        { name: "Labour Law - BPJS" },
        { name: "Labour Law - Termination of Employment (PHK)" },
        { name: "Labour Law - Company Regulation" },
        { name: "Labour Law - Dispute on Industrial Relation" },
        { name: "Labour Law - Pension" },
        { name: "Civil Law" },
        { name: "Civil Law - Default" },
        { name: "Civil Law - Indemnity" },
        { name: "Civil Law - Bankruptcy" },
        { name: "Civil Law - Payment Restructuring" },
        { name: "Consumer Protection Law" },
        { name: "Taxation Law" },
        { name: "Taxation Law - Personal" },
        { name: "Taxation Law - Corporate" },
        { name: "Taxation Law - Small & Medium Enterprise" },
        { name: "Taxation Law - Tax Dispute" },
        { name: "Taxation Law - Tax Savings" },
        { name: "Land and Property Law" },
        { name: "Land and Property Law - Sell & Purchase" },
        { name: "Land and Property Law - Property Ownership" },
        { name: "Company Law" },
        { name: "Company Law - Legal Entity Establishment" },
        { name: "Company Law - Licensing" },
        { name: "Company Law - Share Ownership" },
        { name: "Company Law - Capital" },
        { name: "Company Law - Dissolution" },
        { name: "Dispute" },
        { name: "Dispute - Civil Dispute" },
        { name: "Dispute - Criminal Case" },
        { name: "Dispute - Warnings" },
        { name: "Dispute - Police Reporting" },
        { name: "Others" }
      );
      this.month.push(
        { name: "January", value: "01" },
        { name: "February", value: "02" },
        { name: "March", value: "03" },
        { name: "April", value: "04" },
        { name: "May", value: "05" },
        { name: "June", value: "06" },
        { name: "July", value: "07" },
        { name: "August", value: "08" },
        { name: "September", value: "09" },
        { name: "October", value: "10" },
        { name: "November", value: "11" },
        { name: "December", value: "12" }
      );
    }
  },
  mounted() {
    $('input[type="number"]').keypress(function(event) {
      return /\d/.test(String.fromCharCode(event.keyCode));
    });
    $("#answerInputmonths").prop("disabled", true);
    $("#answerInputdays").prop("disabled", true);
    $(window).scroll(event => {
      var scroll = $(window).scrollTop();
      if (scroll === 0) {
        this.clientform = false;
      }
    });
  },
  methods: {
    clickdropdown(type) {
      switch (type) {
        case "year":
          this.getinputyear = "";
          break;
        case "month":
          this.getinputmonth = "";
          break;
        case "day":
          this.getinputday = "";
          break;
        case "kategori1":
          this.getinputcategorys = "";
          break;
        case "kategori2":
          this.getinputcategorys2 = "";
          break;
        case "time1":
          this.getinputtime1 = "";
          break;
        case "time2":
          this.getinputtime2 = "";
          break;
        case "time3":
          this.getinputtime3 = "";
          break;
      }
    },
    swipe() {
      document
        .getElementById("clientform")
        .scrollIntoView({ behavior: "smooth", block: "start" });
      setTimeout(() => {
        window.scrollBy(0, -40);
      }, 500);
    },
    disabledBefore(date) {
      const today = new Date();
      today.setHours(0, 0, 0, 0);
      today.setDate(today.getDate() + 2);
      return date < today;
    },
    autodetectvaluetime1() {
      for (const i of this.time) {
        if (i.name.toLowerCase() === this.getinputtime1.toLowerCase()) {
          this.blurinputtime1 = this.getinputtime1.replace(/\b[a-z]/g, x =>
            x.toUpperCase()
          );
          break;
        } else {
          this.blurinputtime1 = "";
        }
      }
      $("#answerInputtime1").val(this.blurinputtime1);
      if (this.blurinputtime1 == "") {
        this.trigertextvalidasitime1 = true;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasitime1 =
            "Jadwal konsultasi yang diharapkan harus diisi";
        } else {
          this.textvalidasitime1 = "Expected consultation time is required";
        }
        $("#answerInputtime1").removeClass();
        $("#answerInputtime1").addClass("form-control-red");
        $("#texttime1").removeClass();
        $("#texttime1").addClass("text-line-red");
      }
    },
    autodetectvaluedays() {
      for (const i of this.day) {
        if (Number(i.value) === Number(this.getinputday)) {
          this.blurinputday = this.getinputday;
          break;
        } else {
          this.blurinputday = "";
        }
      }
      $("#answerInputdays").val(this.blurinputday);
      if (this.blurinputday == "") {
        this.trigertextvalidasiday = true;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasiday = "Hari lahir harus dipilih";
        } else {
          this.textvalidasiday = "Birth date required";
        }
        $("#answerInputdays").removeClass();
        $("#answerInputdays").addClass("form-control-red");
        $("#textday").removeClass();
        $("#textday").addClass("text-line-red");
      }
    },
    autodetectvaluecategory() {
      for (const i of this.category) {
        if (i.name.toLowerCase() === this.getinputcategorys.toLowerCase()) {
          this.blurinputcategory = this.getinputcategorys.replace(
            /\b[a-z]/g,
            x => x.toUpperCase()
          );
          break;
        } else {
          this.blurinputcategory = "";
        }
      }
      $("#answerInputcategorys").val(this.blurinputcategory);
      if (this.blurinputcategory == "") {
        $("#notekategori").css("display", "none");
        this.trigertextvalidasikategori = true;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasikategori = "Kategori harus dipilih";
        } else {
          this.textvalidasikategori = "Category is required";
        }
        $("#answerInputcategorys").removeClass();
        $("#answerInputcategorys").addClass("form-control-red");
        $("#textkategori").removeClass();
        $("#textkategori").addClass("text-line-red");
      }
    },
    autodetectvaluecategory2() {
      for (const i of this.category) {
        if (i.name.toLowerCase() === this.getinputcategorys2.toLowerCase()) {
          this.blurinputcategory2 = this.getinputcategorys2.replace(
            /\b[a-z]/g,
            x => x.toUpperCase()
          );
          break;
        } else {
          this.blurinputcategory2 = "";
        }
      }
      $("#answerInputcategorys2").val(this.blurinputcategory2);
      if (this.blurinputcategory2 == "") {
        $("#notekategori").css("display", "none");
        this.trigertextvalidasikategori2 = true;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasikategori2 = "Kategori harus dipilih";
        } else {
          this.textvalidasikategori2 = "Category is required";
        }
        $("#answerInputcategorys2").removeClass();
        $("#answerInputcategorys2").addClass("form-control-red");
        $("#textkategori2").removeClass();
        $("#textkategori2").addClass("text-line-red");
      }
    },
    autodetectvaluemonth() {
      for (const i of this.month) {
        if (i.name.toLowerCase() === this.getinputmonth.toLowerCase()) {
          this.blurinputmonth = this.getinputmonth.replace(/\b[a-z]/g, x =>
            x.toUpperCase()
          );
          break;
        } else {
          this.blurinputmonth = "";
        }
      }
      $("#answerInputmonths").val(this.blurinputmonth);
      if (this.blurinputmonth == "") {
        this.trigertextvalidasimonth = true;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasimonth = "Bulan lahir harus dipilih";
        } else {
          this.textvalidasimonth = "Birth month is required";
        }
        $("#answerInputmonths").removeClass();
        $("#answerInputmonths").addClass("form-control-red");
        $("#textmonth").removeClass();
        $("#textmonth").addClass("text-line-red");
      }
    },
    autodetectvalue() {
      $("#answerInputmonths").prop("disabled", false);
      for (const i of this.year) {
        if (Number(i.name) === Number(this.getinputyear)) {
          this.blurinputyear = this.getinputyear;
          break;
        } else {
          this.blurinputyear = "";
        }
      }
      $("#answerInputyears").val(this.blurinputyear);
      if (this.blurinputyear == "") {
        this.trigertextvalidasitahun = true;
        this.trigertextvalidasiumur = false;
        if (this.gettrigerbahasa === "indonesia") {
          this.textvalidasitahun = "Tahun lahir harus dipilih";
        } else {
          this.textvalidasitahun = "Birth year is required";
        }
        $("#answerInputyears").removeClass();
        $("#answerInputyears").addClass("form-control-red");
        $("#texttahun").removeClass();
        $("#texttahun").addClass("text-line-red");
      }
    },
    getvalueinput(type, data) {
      switch (type) {
        case "name":
          if ($("#inputnama").val() !== "") {
            this.trigertextvalidasiname = false;
            $("#inputnama").removeClass();
            $("#inputnama").addClass("input-control-gray");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-blue");
          } else {
            this.trigertextvalidasiname = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiname = "Nama lengkap harus diisi";
            } else {
              this.textvalidasiname = "Full name is required";
            }
            $("#inputnama").removeClass();
            $("#inputnama").addClass("form-control-red");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-red");
          }
          break;
        case "email":
          if (data !== "") {
            if (this.validateEmail(data) === false) {
              this.trigertextvalidasiemail = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasiemail = "Format alamat email tidak sesuai";
              } else {
                this.textvalidasiemail = "Invalid email address format";
              }
              $("#inputemail").removeClass();
              $("#inputemail").addClass("form-control-red");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-red");
            } else {
              this.trigertextvalidasiemail = false;
              $("#inputemail").removeClass();
              $("#inputemail").addClass("input-control-gray");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-blue");
            }
          } else {
            this.trigertextvalidasiemail = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiemail = "Alamat email harus diisi";
            } else {
              this.textvalidasiemail = "Email address is required";
            }
            $("#inputemail").removeClass();
            $("#inputemail").addClass("form-control-red");
            $("#textemail").removeClass();
            $("#textemail").addClass("text-line-red");
          }
          break;
        case "hp":
          if (data !== "") {
            if (this.phonenumber(data) === false) {
              this.trigertextvalidasihp = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasihp = "Format nomor HP tidak sesuai";
              } else {
                this.textvalidasihp = "Invalid phone number format";
              }
              $("#inputhp").removeClass();
              $("#inputhp").addClass("form-control-red");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-red");
            } else {
              this.trigertextvalidasihp = false;
              $("#inputhp").removeClass();
              $("#inputhp").addClass("input-control-gray");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-blue");
            }
          } else {
            this.trigertextvalidasihp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasihp = "Nomor HP harus diisi";
            } else {
              this.textvalidasihp = "Phone number is required";
            }
            $("#inputhp").removeClass();
            $("#inputhp").addClass("form-control-red");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-red");
          }
          break;
        case "subyek":
          if (data !== "") {
            this.trigertextvalidasisubyek = false;
            $("#inputsubyek").removeClass();
            $("#inputsubyek").addClass("input-control-gray");
            $("#textsubyek").removeClass();
            $("#textsubyek").addClass("text-line-blue");
          } else {
            this.trigertextvalidasisubyek = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasisubyek = "Subyek harus diisi";
            } else {
              this.textvalidasisubyek = "Subject is required";
            }
            $("#inputsubyek").removeClass();
            $("#inputsubyek").addClass("form-control-red");
            $("#textsubyek").removeClass();
            $("#textsubyek").addClass("text-line-red");
          }
          break;
        case "deskripsi":
          if ($("#inputdeskripsi").val() !== "") {
            this.trigertextvalidasideskripsi = false;
            $("#inputdeskripsi").removeClass();
            $("#inputdeskripsi").addClass("input-control-gray");
            $("#textdeskripsi").removeClass();
            $("#textdeskripsi").addClass("text-line-blue");
          } else {
            this.trigertextvalidasideskripsi = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasideskripsi = "Deskripsi harus diisi";
            } else {
              this.textvalidasideskripsi = "Description is required";
            }
            $("#inputdeskripsi").removeClass();
            $("#inputdeskripsi").addClass("form-control-red");
            $("#textdeskripsi").removeClass();
            $("#textdeskripsi").addClass("text-line-red");
          }
          break;
        case "deskripsi2":
          if ($("#inputdeskripsi2").val() !== "") {
            this.trigertextvalidasideskripsi2 = false;
            $("#inputdeskripsi2").removeClass();
            $("#inputdeskripsi2").addClass("input-control-gray");
            $("#textdeskripsi2").removeClass();
            $("#textdeskripsi2").addClass("text-line-blue");
          } else {
            this.trigertextvalidasideskripsi2 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasideskripsi2 = "Deskripsi harus diisi";
            } else {
              this.textvalidasideskripsi2 = "Description is required";
            }
            $("#inputdeskripsi2").removeClass();
            $("#inputdeskripsi2").addClass("form-control-red");
            $("#textdeskripsi2").removeClass();
            $("#textdeskripsi2").addClass("text-line-red");
          }
          break;
        case "year":
          if (data != "") {
            this.trigertextvalidasitahun = false;
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("input-control-gray");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-blue");
          } else {
            this.trigertextvalidasitahun = true;
            this.trigertextvalidasiumur = false;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasitahun = "Tahun lahir harus dipilih";
            } else {
              this.textvalidasitahun = "Birth year is required";
            }
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("form-control-red");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-red");
          }
          break;
        case "month":
          if (data != "") {
            this.trigertextvalidasimonth = false;
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("input-control-gray");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-blue");
          } else {
            this.trigertextvalidasimonth = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasimonth = "Bulan lahir harus dipilih";
            } else {
              this.textvalidasimonth = "Birth month is required";
            }
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("form-control-red");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-red");
          }
          break;
        case "day":
          if (data != "") {
            this.trigertextvalidasiday = false;
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("input-control-gray");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-blue");
          } else {
            this.trigertextvalidasiday = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiday = "Hari lahir harus dipilih";
            } else {
              this.textvalidasiday = "Birth date required";
            }
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("form-control-red");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-red");
          }
          break;
        case "kategori1":
          if (data != "") {
            this.trigertextvalidasikategori = false;
            $("#answerInputcategorys").removeClass();
            $("#answerInputcategorys").addClass("input-control-gray");
            $("#textkategori").removeClass();
            $("#textkategori").addClass("text-line-blue");
            $("#notekategori").css("display", "block");
          } else {
            this.trigertextvalidasikategori = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasikategori = "Kategori harus dipilih";
            } else {
              this.textvalidasikategori = "Category is required";
            }
            $("#notekategori").css("display", "none");
            $("#answerInputcategorys").removeClass();
            $("#answerInputcategorys").addClass("form-control-red");
            $("#textkategori").removeClass();
            $("#textkategori").addClass("text-line-red");
          }
          break;
        case "kategori2":
          if (data != "") {
            this.trigertextvalidasikategori2 = false;
            $("#answerInputcategorys2").removeClass();
            $("#answerInputcategorys2").addClass("input-control-gray");
            $("#textkategori2").removeClass();
            $("#textkategori2").addClass("text-line-blue");
            $("#notekategori2").css("display", "block");
          } else {
            this.trigertextvalidasikategori2 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasikategori2 = "Kategori harus dipilih";
            } else {
              this.textvalidasikategori2 = "Category is required";
            }
            $("#answerInputcategorys2").removeClass();
            $("#answerInputcategorys2").addClass("form-control-red");
            $("#textkategori2").removeClass();
            $("#textkategori2").addClass("text-line-red");
            $("#notekategori2").css("display", "none");
          }
          break;
        case "pengerjaan":
          if (data != "") {
            this.trigertextvalidasipengerjaan = false;
            $("#inputpengerjaan").removeClass();
            $("#inputpengerjaan").addClass("input-control-gray");
            $("#textpengerjaan").removeClass();
            $("#textpengerjaan").addClass("text-line-blue");
          } else {
            this.trigertextvalidasipengerjaan = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasipengerjaan =
                "Ekspektasi lama pengerjaan harus diisi";
            } else {
              this.textvalidasipengerjaan =
                "Expected processing time is required";
            }
            $("#inputpengerjaan").removeClass();
            $("#inputpengerjaan").addClass("form-control-red");
            $("#textpengerjaan").removeClass();
            $("#textpengerjaan").addClass("text-line-red");
          }
          break;
        case "biaya":
          if (data != "") {
            this.trigertextvalidasibiaya = false;
            $("#inputbiaya").removeClass();
            $("#inputbiaya").addClass("input-control-gray");
            $("#textbiaya").removeClass();
            $("#textbiaya").addClass("text-line-blue");
          } else {
            this.trigertextvalidasibiaya = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasibiaya = "Biaya yang dianggarkan harus diisi";
            } else {
              this.textvalidasibiaya = "Nominal budget is required";
            }
            $("#inputbiaya").removeClass();
            $("#inputbiaya").addClass("form-control-red");
            $("#textbiaya").removeClass();
            $("#textbiaya").addClass("text-line-red");
          }
          break;
        case "biaya2":
          if (data != "") {
            this.trigertextvalidasibiaya2 = false;
            $("#inputbiaya2").removeClass();
            $("#inputbiaya2").addClass("input-control-gray");
            $("#textbiaya2").removeClass();
            $("#textbiaya2").addClass("text-line-blue");
          } else {
            this.trigertextvalidasibiaya2 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasibiaya2 = "Biaya yang dianggarkan harus diisi";
            } else {
              this.textvalidasibiaya2 = "Nominal budget is required";
            }
            $("#inputbiaya2").removeClass();
            $("#inputbiaya2").addClass("form-control-red");
            $("#textbiaya2").removeClass();
            $("#textbiaya2").addClass("text-line-red");
          }
          break;
        case "time1":
          if (data != "") {
            this.trigertextvalidasitime1 = false;
            $("#answerInputtime1").removeClass();
            $("#answerInputtime1").addClass("input-control-gray");
            $("#texttime1").removeClass();
            $("#texttime1").addClass("text-line-blue");
          } else {
            this.trigertextvalidasitime1 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasitime1 = "Harus diisi";
            } else {
              this.textvalidasitime1 = "Required";
            }
            $("#answerInputtime1").removeClass();
            $("#answerInputtime1").addClass("form-control-red");
            $("#texttime1").removeClass();
            $("#texttime1").addClass("text-line-red");
          }
          break;
      }
    },
    validateEmail(input) {
      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if (input.match(mailformat)) {
        return true;
      } else {
        return false;
      }
    },
    phonenumber(input) {
      var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{3})$/;
      if (input.toString().length < 10 || input.toString().length > 12) {
        return false;
      } else {
        return true;
      }
    },
    getvalue(event) {
      if (event.key === "Enter") {
      }
    },
    clickblur(data) {},
    changedate() {
      let limit = 0;
      this.day = [];
      if (
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "februari" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "february"
      ) {
        limit = 29;
      } else if (
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "april" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "april" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "juni" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "june" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "september" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "september" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "november" ||
        $("#answerInputmonths")
          .val()
          .toLowerCase() == "november"
      ) {
        limit = 30;
      } else {
        limit = 31;
      }
      for (let i = 1; i <= limit; i++) {
        let dataobj = {
          name: i,
          value: i
        };
        this.day.push(dataobj);
      }
      $("#answerInputdays").prop("disabled", false);
    },
    clicktabclient(dataget) {
      let datanavtab = ["tabdoc", "tabcon"];
      datanavtab.forEach(data => {
        if (dataget === data) {
          $('div[name ="' + data + '"]').css("display", "block");
          $("#" + data).addClass("tab-client-active");
        } else {
          $('div[name ="' + data + '"]').css("display", "none");
          if ($("#" + data).hasClass("tab-client-active") === true) {
            $("#" + data).removeClass("tab-client-active");
          }
        }
      });
    },
    kirimdata(type) {
      if (type === "dokumentasi") {
        if (
          this.getinputnama !== "" &&
          this.getinputemail !== "" &&
          this.getinputhp !== "" &&
          $("#answerInputcategorys").val() !== "" &&
          $("#answerInputyears").val() !== "" &&
          $("#answerInputmonths").val() !== "" &&
          $("#answerInputdays").val() !== "" &&
          this.getinputpengerjaan !== "" &&
          this.getinputbiaya !== "" &&
          this.getinputdeskripsi !== "" &&
          this.phonenumber(this.getinputhp) != false &&
          this.validateEmail(this.getinputemail) != false
        ) {
          this.apipostdata(type);
        } else {
          if (this.getinputnama === "") {
            this.trigertextvalidasiname = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiname = "Nama lengkap harus diisi";
            } else {
              this.textvalidasiname = "Full name is required";
            }
            $("#inputnama").removeClass();
            $("#inputnama").addClass("form-control-red");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-red");
          } else {
            this.trigertextvalidasiname = false;
            $("#inputnama").removeClass();
            $("#inputnama").addClass("input-control-gray");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-blue");
          }
          if (this.getinputemail === "") {
            this.trigertextvalidasiemail = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiemail = "Alamat email harus diisi";
            } else {
              this.textvalidasiemail = "Email address is required";
            }
            $("#inputemail").removeClass();
            $("#inputemail").addClass("form-control-red");
            $("#textemail").removeClass();
            $("#textemail").addClass("text-line-red");
          } else {
            if (this.validateEmail(this.getinputemail) === false) {
              this.trigertextvalidasiemail = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasiemail = "Format alamat email tidak sesuai";
              } else {
                this.textvalidasiemail = "Invalid email address format";
              }
              $("#inputemail").removeClass();
              $("#inputemail").addClass("form-control-red");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-red");
            } else {
              this.trigertextvalidasiemail = false;
              $("#inputemail").removeClass();
              $("#inputemail").addClass("input-control-gray");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-blue");
            }
          }
          if (this.getinputhp === "") {
            this.trigertextvalidasihp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasihp = "Nomor HP harus diisi";
            } else {
              this.textvalidasihp = "Phone number is required";
            }
            $("#inputhp").removeClass();
            $("#inputhp").addClass("form-control-red");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-red");
          } else {
            if (this.phonenumber(this.getinputhp) === false) {
              this.trigertextvalidasihp = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasihp = "Format nomor HP tidak sesuai";
              } else {
                this.textvalidasihp = "Invalid phone number format";
              }
              $("#inputhp").removeClass();
              $("#inputhp").addClass("form-control-red");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-red");
            } else {
              this.trigertextvalidasihp = false;
              $("#inputhp").removeClass();
              $("#inputhp").addClass("input-control-gray");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-blue");
            }
          }
          if (this.getinputyear === "") {
            this.trigertextvalidasitahun = true;
            this.trigertextvalidasiumur = false;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasitahun = "Tanggal lahir harus dipilih";
            } else {
              this.textvalidasitahun = "Birthdate is required";
            }
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("form-control-red");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-red");
          } else {
            this.textvalidasitahun = false;
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("input-control-gray");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-blue");
          }
          if (this.getinputmonth === "") {
            this.trigertextvalidasimonth = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasimonth = "Bulan lahir harus dipilih";
            } else {
              this.textvalidasimonth = "Birth month is required";
            }
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("form-control-red");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-red");
          } else {
            this.textvalidasimonth = false;
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("input-control-gray");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-blue");
          }
          if (this.getinputday === "") {
            this.trigertextvalidasiday = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiday = "Hari lahir harus dipilih";
            } else {
              this.textvalidasiday = "Birth date required";
            }
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("form-control-red");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-red");
          } else {
            this.textvalidasiday = false;
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("input-control-gray");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-blue");
          }
          if (this.getinputcategorys === "") {
            this.trigertextvalidasikategori = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasikategori = "Kategori harus dipilih";
            } else {
              this.textvalidasikategori = "Category is required";
            }
            $("#notekategori").css("display", "none");
            $("#answerInputcategorys").removeClass();
            $("#answerInputcategorys").addClass("form-control-red");
            $("#textkategori").removeClass();
            $("#textkategori").addClass("text-line-red");
          } else {
            this.textvalidasikategori = false;
            $("#notekategori").css("display", "block");
            $("#answerInputcategorys").removeClass();
            $("#answerInputcategorys").addClass("input-control-gray");
            $("#textkategori").removeClass();
            $("#textkategori").addClass("text-line-blue");
          }
          if (this.getinputdeskripsi === "") {
            this.trigertextvalidasideskripsi = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasideskripsi = "Deskripsi pekerjaan harus diisi";
            } else {
              this.textvalidasideskripsi = "Task description is required";
            }
            $("#inputdeskripsi").removeClass();
            $("#inputdeskripsi").addClass("form-control-red");
            $("#textdeskripsi").removeClass();
            $("#textdeskripsi").addClass("text-line-red");
          } else {
            this.textvalidasideskripsi = false;
            $("#inputdeskripsi").removeClass();
            $("#inputdeskripsi").addClass("input-control-gray");
            $("#textdeskripsi").removeClass();
            $("#textdeskripsi").addClass("text-line-blue");
          }
          if (this.getinputpengerjaan === "") {
            this.trigertextvalidasipengerjaan = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasipengerjaan =
                "Ekspektasi lama pengerjaan harus diisi";
            } else {
              this.textvalidasipengerjaan =
                "Expected processing time is required";
            }
            $("#notepengerjaan").css("display", "none");
            $("#inputpengerjaan").removeClass();
            $("#inputpengerjaan").addClass("form-control-red");
            $("#textpengerjaan").removeClass();
            $("#textpengerjaan").addClass("text-line-red");
          } else {
            this.textvalidasipengerjaan = false;
            $("#notepengerjaan").css("display", "block");
            $("#inputpengerjaan").removeClass();
            $("#inputpengerjaan").addClass("input-control-gray");
            $("#textpengerjaan").removeClass();
            $("#textpengerjaan").addClass("text-line-blue");
          }
          if (this.getinputbiaya === "") {
            this.trigertextvalidasibiaya = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasibiaya = "Biaya yang dianggarkan harus diisi";
            } else {
              this.textvalidasibiaya = "Nominal budget is required";
            }
            $("#inputbiaya").removeClass();
            $("#inputbiaya").addClass("form-control-red");
            $("#textbiaya").removeClass();
            $("#textbiaya").addClass("text-line-red");
          } else {
            this.textvalidasibiaya = false;
            $("#inputbiaya").removeClass();
            $("#inputbiaya").addClass("input-control-gray");
            $("#textbiaya").removeClass();
            $("#textbiaya").addClass("text-line-blue");
          }
        }
      } else {
        if (
          this.getinputnama !== "" &&
          this.getinputemail !== "" &&
          this.getinputhp !== "" &&
          $("#answerInputcategorys2").val() !== "" &&
          $("#answerInputyears").val() !== "" &&
          $("#answerInputmonths").val() !== "" &&
          $("#answerInputdays").val() !== "" &&
          this.getinputdeskripsi2 !== "" &&
          $("#answerInputtime1").val() !== "" &&
          this.nilaijadwal1 !== ""
        ) {
          this.apipostdata(type);
        } else {
          if (this.nilaijadwal1 === null) {
            this.trigertextvalidasijadwal1 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasijadwal1 =
                "Jadwal konsultasi yang diharapkan harus diisi";
            } else {
              this.textvalidasijadwal1 =
                "Expected consultation time is required";
            }
            $("#nilaijadwal1").removeClass();
            $("#nilaijadwal1").addClass("form-control-red");
            $("#textjadwal1").removeClass();
            $("#textjadwal1").addClass("text-line-red");
          } else {
            this.textvalidasijadwal1 = false;
            $("#nilaijadwal1").removeClass();
            $("#nilaijadwal1").addClass("input-control-gray");
            $("#textjadwal1").removeClass();
            $("#textjadwal1").addClass("text-line-blue");
          }
          if (this.getinputtime1 === null) {
            this.trigertextvalidasitime1 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasitime1 = "Harus diisi";
            } else {
              this.textvalidasitime1 = "Required";
            }
            $("#answerInputtime1").removeClass();
            $("#answerInputtime1").addClass("form-control-red");
            $("#texttime1").removeClass();
            $("#texttime1").addClass("text-line-red");
          } else {
            this.textvalidasijadwal1 = false;
            $("#answerInputtime1").removeClass();
            $("#answerInputtime1").addClass("input-control-gray");
            $("#texttime1").removeClass();
            $("#texttime1").addClass("text-line-blue");
          }
          if (this.getinputyear === "") {
            this.trigertextvalidasitahun = true;
            this.trigertextvalidasiumur = false;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasitahun = "Tanggal lahir harus dipilih";
            } else {
              this.textvalidasitahun = "Birthdate is required";
            }
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("form-control-red");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-red");
          } else {
            this.textvalidasitahun = false;
            $("#answerInputyears").removeClass();
            $("#answerInputyears").addClass("input-control-gray");
            $("#texttahun").removeClass();
            $("#texttahun").addClass("text-line-blue");
          }
          if (this.getinputmonth === "") {
            this.trigertextvalidasimonth = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasimonth = "Bulan lahir harus dipilih";
            } else {
              this.textvalidasimonth = "Birth month is required";
            }
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("form-control-red");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-red");
          } else {
            this.textvalidasimonth = false;
            $("#answerInputmonths").removeClass();
            $("#answerInputmonths").addClass("input-control-gray");
            $("#textmonth").removeClass();
            $("#textmonth").addClass("text-line-blue");
          }
          if (this.getinputday === "") {
            this.trigertextvalidasiday = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiday = "Hari lahir harus dipilih";
            } else {
              this.textvalidasiday = "Birth date required";
            }
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("form-control-red");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-red");
          } else {
            this.textvalidasiday = false;
            $("#answerInputdays").removeClass();
            $("#answerInputdays").addClass("input-control-gray");
            $("#textday").removeClass();
            $("#textday").addClass("text-line-blue");
          }
          if (this.getinputnama === "") {
            this.trigertextvalidasiname = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiname = "Nama lengkap harus diisi";
            } else {
              this.textvalidasiname = "Full name is required";
            }
            $("#inputnama").removeClass();
            $("#inputnama").addClass("form-control-red");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-red");
          } else {
            this.trigertextvalidasiname = false;
            $("#inputnama").removeClass();
            $("#inputnama").addClass("input-control-gray");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-blue");
          }
          if (this.getinputemail === "") {
            this.trigertextvalidasiemail = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiemail = "Alamat email harus diisi";
            } else {
              this.textvalidasiemail = "Email address is required";
            }
            $("#inputemail").removeClass();
            $("#inputemail").addClass("form-control-red");
            $("#textemail").removeClass();
            $("#textemail").addClass("text-line-red");
          } else {
            if (this.validateEmail(this.getinputemail) === false) {
              this.trigertextvalidasiemail = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasiemail = "Format alamat email tidak sesuai";
              } else {
                this.textvalidasiemail = "Invalid email address format";
              }
              $("#inputemail").removeClass();
              $("#inputemail").addClass("form-control-red");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-red");
            } else {
              this.trigertextvalidasiemail = false;
              $("#inputemail").removeClass();
              $("#inputemail").addClass("input-control-gray");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-blue");
            }
          }
          if (this.getinputhp === "") {
            this.trigertextvalidasihp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasihp = "Nomor HP harus diisi";
            } else {
              this.textvalidasihp = "Phone number is required";
            }
            $("#inputhp").removeClass();
            $("#inputhp").addClass("form-control-red");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-red");
          } else {
            if (this.phonenumber(this.getinputhp) === false) {
              this.trigertextvalidasihp = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasihp = "Format nomor HP tidak sesuai";
              } else {
                this.textvalidasihp = "Invalid phone number format";
              }
              $("#inputhp").removeClass();
              $("#inputhp").addClass("form-control-red");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-red");
            } else {
              this.trigertextvalidasihp = false;
              $("#inputhp").removeClass();
              $("#inputhp").addClass("input-control-gray");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-blue");
            }
          }
          if (this.getinputcategorys2 === "") {
            this.trigertextvalidasikategori2 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasikategori2 = "Kategori harus dipilih";
            } else {
              this.textvalidasikategori2 = "Category is required";
            }
            $("#notekategori2").css("display", "none");
            $("#answerInputcategorys2").removeClass();
            $("#answerInputcategorys2").addClass("form-control-red");
            $("#textkategori2").removeClass();
            $("#textkategori2").addClass("text-line-red");
          } else {
            this.textvalidasikategori2 = false;
            $("#notekategori2").css("display", "block");
            $("#answerInputcategorys2").removeClass();
            $("#answerInputcategorys2").addClass("input-control-gray");
            $("#textkategori2").removeClass();
            $("#textkategori2").addClass("text-line-blue");
          }
          if (this.getinputdeskripsi2 === "") {
            this.trigertextvalidasideskripsi2 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasideskripsi2 = "Deskripsi pekerjaan harus diisi";
            } else {
              this.textvalidasideskripsi2 = "Task description is required";
            }
            $("#inputdeskripsi2").removeClass();
            $("#inputdeskripsi2").addClass("form-control-red");
            $("#textdeskripsi2").removeClass();
            $("#textdeskripsi2").addClass("text-line-red");
          } else {
            this.textvalidasideskripsi2 = false;
            $("#inputdeskripsi2").removeClass();
            $("#inputdeskripsi2").addClass("input-control-gray");
            $("#textdeskripsi2").removeClass();
            $("#textdeskripsi2").addClass("text-line-blue");
          }
          if (this.getinputbiaya2 === "") {
            this.trigertextvalidasibiaya2 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasibiaya2 = "Biaya yang dianggarkan harus diisi";
            } else {
              this.textvalidasibiaya2 = "Nominal budget is required";
            }
            $("#inputbiaya2").removeClass();
            $("#inputbiaya2").addClass("form-control-red");
            $("#textbiaya2").removeClass();
            $("#textbiaya2").addClass("text-line-red");
          } else {
            this.textvalidasibiaya2 = false;
            $("#inputbiaya2").removeClass();
            $("#inputbiaya2").addClass("input-control-gray");
            $("#textbiaya2").removeClass();
            $("#textbiaya2").addClass("text-line-blue");
          }
        }
      }
    },
    apipostdata(type) {
      let datamonthuse;
      switch (
        $("#answerInputmonths")
          .val()
          .toLowerCase()
      ) {
        case "januari":
          datamonthuse = 1;
          break;
        case "january":
          datamonthuse = 1;
          break;
        case "februari":
          datamonthuse = 2;
          break;
        case "february":
          datamonthuse = 2;
          break;
        case "maret":
          datamonthuse = 3;
          break;
        case "march":
          datamonthuse = 3;
          break;
        case "april":
          datamonthuse = 4;
          break;
        case "april":
          datamonthuse = 4;
          break;
        case "mei":
          datamonthuse = 5;
          break;
        case "may":
          datamonthuse = 5;
          break;
        case "juni":
          datamonthuse = 6;
          break;
        case "june":
          datamonthuse = 6;
          break;
        case "juli":
          datamonthuse = 7;
          break;
        case "july":
          datamonthuse = 7;
          break;
        case "agustus":
          datamonthuse = 8;
          break;
        case "august":
          datamonthuse = 8;
          break;
        case "september":
          datamonthuse = 9;
          break;
        case "september":
          datamonthuse = 9;
          break;
        case "oktober":
          datamonthuse = 10;
          break;
        case "october":
          datamonthuse = 10;
          break;
        case "november":
          datamonthuse = 11;
          break;
        case "november":
          datamonthuse = 11;
          break;
        case "desember":
          datamonthuse = 12;
          break;
        case "descember":
          datamonthuse = 12;
          break;
      }
      let dateinit = new Date();
      dateinit.setMonth(datamonthuse - 1);
      dateinit.setFullYear($("#answerInputyears").val());
      dateinit.setDate($("#answerInputdays").val());
      let bodydata = {
        name: $("#inputnama").val(),
        email: $("#inputemail").val(),
        project_notes: $("#inputcatatan").val(),
        phone: $("#inputhp").val()
      };
      if (type == "dokumentasi") {
        bodydata["project_type"] = "document";
        bodydata["budget"] = Number($("#inputbiaya").val());
        bodydata["day_duration"] = Number($("#inputpengerjaan").val());
        bodydata["category"] = $("#answerInputcategorys").val();
        bodydata["description"] = $("#inputdeskripsi").val();
      } else {
        bodydata["project_type"] = "consultation";
        bodydata["category"] = $("#answerInputcategorys2").val();
        bodydata["description"] = $("#inputdeskripsi2").val();
        let getdatatime = [];
        let alldatatimeunik = [];
        let datapushuniklength = [];
        let dataalltime = [];
        let datatimeobj = [
          {
            date: this.nilaijadwal1,
            time: this.getinputtime1
          },
          {
            date: this.nilaijadwal2,
            time: this.getinputtime2
          },
          {
            date: this.nilaijadwal3,
            time: this.getinputtime3
          }
        ];
        datatimeobj.forEach((data, index) => {
          if (data.date != null && data.time != null) {
            let dateinit1 = new Date();
            dateinit1.setHours(data.time.slice(0, 2));
            dateinit1.setMinutes(0);
            dateinit1.setSeconds(0);
            dateinit1.setMonth(new Date(data.date).getMonth() + 1);
            dateinit1.setFullYear(new Date(data.date).getFullYear());
            dateinit1.setDate(new Date(data.date).getDate());
            datapushuniklength.push(index);
            if (
              alldatatimeunik.includes(moment(dateinit1).format("X")) === false
            ) {
              alldatatimeunik.push(moment(dateinit1).format("X"));
              this.trigertrigertextvalidasijadwalsama = false;
            } else {
              this.trigertrigertextvalidasijadwalsama = true;
              this.checkdatajadwal = true;
            }
          }
        });
        if (datapushuniklength.length === alldatatimeunik.length) {
          this.checkdatajadwal = false;
        } else {
          this.checkdatajadwal = true;
        }

        alldatatimeunik.forEach((data, index) => {
          let dataobj = {
            priority: index + 1,
            time: Number(data)
          };
          dataalltime.push(dataobj);
        });
        bodydata["schedule_option"] = dataalltime;
      }
      if (
        moment(dateinit)
          .fromNow()
          .split(" ")[0] > 17
      ) {
        this.trigertextvalidasiumur = false;
        bodydata["birth_date"] = Number(moment(dateinit).format("X"));
        if (type != "dokumentasi") {
          if (this.checkdatajadwal == false) {
            axios({
              method: "post",
              url: "https://api.ketemuin.id/v1/registration/client",
              data: bodydata
            })
              .then(response => {
                if (response.message == null) {
                  window.location.reload();
                }
              })
              .catch(response => {});
          } else {
            this.trigertextvalidasijadwalsama = true;
          }
        } else {
          axios({
            method: "post",
            url: "https://api.ketemuin.id/v1/registration/client",
            data: bodydata
          })
            .then(response => {
              if (response.message == null) {
                window.location.reload();
              }
            })
            .catch(response => {});
        }
      } else {
        this.trigertextvalidasiumur = true;
      }
    },
    datechange(type, data) {
      switch (type) {
        case "jadwal1":
          if (data) {
            this.trigertextvalidasijadwal1 = false;
            $("#nilaijadwal1").css("border", "1px solid #ced4da");
            $("#textjadwal1").removeClass();
            $("#textjadwal1").addClass("text-line-blue");
          } else {
            this.trigertextvalidasijadwal1 = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasijadwal1 =
                "Jadwal konsultasi yang diharapkan harus diisi";
            } else {
              this.textvalidasijadwal1 =
                "Expected consultation time is required";
            }
            $("#nilaijadwal1").css("border", "1px solid #ee6d61");
            $("#textjadwal1").removeClass();
            $("#textjadwal1").addClass("text-line-red");
          }
          break;
      }
    }
  }
};
</script>