<template>
  <div class="bg-commingsoon">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="popup" v-if="trigerresponse">
            <div class="popup-container">
              <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center" v-if="success === true">
                  <span class="notif-image-success">
                    <img
                    style="margin-bottom:5px"
                    src="../assets/icon_success_white-1.svg"/>
                  </span>
                  <span class="notif-content">{{ responsetext }}
                    <img class="ml-3" src="../assets/icon_close_grey-1.svg" v-on:click="close()"/></span>
                </div>
                <div class="col-12 col-md-6 text-center" v-if="success === false">
                  <span class="notif-image-error">
                    <img style="margin-bottom:5px" src="../assets/icon_error_white-1.svg"/>
                  </span>
                  <span class="notif-content">{{ responsetext }} 
                    <img class="ml-3" src="../assets/icon_close_grey-1.svg" v-on:click="close()"/></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img
                class="d-none d-md-block mt-lg-4 mt-md-5 mb-md-5 mb-lg-0"
                src="../assets/Ketemuinlogo-1.svg"
                alt=""
              />
              <img
                class="d-block d-md-none my-4"
                src="../assets/ketemuin-logo-m.svg"
                alt=""
              />
            </div>
            <div class="col-12 col-md-6 mt-md-5">
              <div class="row">
                <div class="col-12">
                  <p class="hi">Hi!</p>
                  <p class="content">
                    Segera hadir platform untuk mempertemukan pencari jasa
                    profesional dengan penyedia jasa profesional. Gabung
                    sekarang, dapatkan akses lebih awal dan kejutan menarik.
                    Yuk, ketemuan di ketemuin!
                  </p>
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-7 mb-3">
                      <input
                        id="emailinput"
                        type="text"
                        class="form-control input-text"
                        placeholder="Alamat Email"
                      />
                      <p v-if="emptyEmail" style="color:#EE6D61;font-family:'medium';" class="ml-3 mt-1">
                        Alamat email tidak boleh kosong</p>
                      <p v-if="validEmail === false" style="color:#EE6D61;font-family:'medium';" class="ml-3 mt-1">
                        Format alamat email tidak sesuai</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                      <button
                        class="btn btn-block btn-blue"
                        v-on:click="send()"
                      >
                        Dapatkan Update
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-lg-4 mb-md-5">
              <div class="row">
                <div class="col-12 d-none d-md-block d-lg-none text-center">
                  <img src="../assets/comingsoon-icon.png" style="width: 100%;" />
                </div>
                <div class="col-12 d-none d-md-none d-lg-block text-center">
                  <img src="../assets/comingsoon-icon.png" style="width: 75%;" />
                </div>
                <div class="col-12 d-block d-md-none d-lg-none text-center mt-5">
                  <img
                    src="../assets/comingsoon-icon-m.png"
                    style="width: 100%;"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 text-center p-3 my-md-5 my-lg-0">
              <span class="footerdesign">Copyright &copy; 2020 Ketemuin. All rights reserved.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
@import "../assets/fonts.css";
@media all and (orientation: landscape) {
  @media (min-width: 1000px) {
    .bg-commingsoon {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/bg-1.svg);
    }
    .footerdesign {
    font-size: 16px;
    color: #2e6b87;
    font-family: "regular";
    }
    .title {
      color: #2e6b87;
    }
    .input-text {
      border: none !important;
      font-family: "medium";
      padding: 1rem !important;
    }
    .btn-blue {
      font-size: 16px !important;
      font-family: "bold";
      background-color: #f2b451 !important;
      color: white !important;
    }
    .hi {
      font-size: 80px;
      font-family: "Bold";
      color: #2e6b87;
      font-weight: bold;
    }
    .content {
      font-size: 18px;
      font-family: "medium";
      color: #2e6b87;
    }
    .popup{
    position: fixed;
    display: block;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 999999;
    }
    .popup-container{
      position: relative;
      z-index: 1;
      font-family: medium;
    }
    .notification {
      position: fixed;
      z-index: 1;
      left: 50%;
      transform: translate(-50%, 3rem);
      padding: 0.5rem;
    }
    .notif-image-error {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 0.5rem;
      background-color: #EE6D61;
      box-shadow: 0px 1px #aaaaaa;
    }
    .notif-image-success {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 0.5rem;
      background-color: #64CA56;
      box-shadow: 0px 1px #aaaaaa;
    }
    .notif-content {
      padding: 0.5rem;
      background-color: white;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0px 1px #aaaaaa;
    }
  }
  @media (min-width: 700px) and (max-width: 1000px) {
  .bg-commingsoon {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/bg-1.svg);
  }
  .footerdesign {
    font-size: 16px;
    color: #2e6b87;
    font-family: "regular";
  }
  .title {
    color: #2e6b87;
  }
  .input-text {
    border: none !important;
    font-family: "medium";
    padding: 1rem !important;
  }
  .btn-blue {
    font-size: 16px !important;
    font-family: "bold";
    background-color: #f2b451 !important;
    color: white !important;
  }
  .hi {
    font-size: 80px;
    font-family: "Bold";
    color: #2e6b87;
    font-weight: bold;
  }
  .content {
    font-size: 18px;
    font-family: "medium";
    color: #2e6b87;
  }
  .popup{
  position: fixed;
  display: block;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 999999;
  }
  .popup-container{
    position: relative;
    z-index: 1;
    font-family: medium;
  }
  .notification {
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 3rem);
    padding: 0.5rem;
  }
  .notif-image-error {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #EE6D61;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-image-success {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #64CA56;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-content {
    padding: 0.5rem;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px #aaaaaa;
  }
}
@media (max-width: 700px) {
  .bg-commingsoon {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/bg2-1.svg);
  }
  .footerdesign {
    font-size: 14px;
    color: #2e6b87;
    font-family: "regular";
  }
  .title {
    color: #2e6b87;
  }
  .input-text {
    border: none !important;
    font-family: "medium";
    padding: 1rem !important;
  }
  .btn-blue {
    font-size: 16px !important;
    font-family: "bold";
    background-color: #f2b451 !important;
    color: white !important;
  }
  .hi {
    font-size: 60px;
    font-family: "Bold";
    color: #2e6b87;
    font-weight: bold;
  }
  .content {
    font-size: 16px;
    font-family: "medium";
    color: #2e6b87;
  }
  .popup{
  position: fixed;
  display: block;
  top: 2rem;
  left: 0;
  right: 0;
  z-index: 999999;
  }
  .popup-container{
    position: relative;
    z-index: 1;
    font-family: medium;
  }
  .notification {
    position: fixed;
    z-index: 1;
    left: 15%;
    transform: translate(0, 3rem);
    padding: 0.5rem;
  }
  .notif-image-error {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #EE6D61;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-image-success {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #64CA56;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-content {
    padding: 0.5rem;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px #aaaaaa;
  }
}
}
@media all and (orientation: portrait) {
  @media (min-width: 700px) {
  .bg-commingsoon {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/bg-1.svg);
  }
  .footerdesign {
    font-size: 16px;
    color: #2e6b87;
    font-family: "regular";
  }
  .title {
    color: #2e6b87;
  }
  .input-text {
    border: none !important;
    font-family: "medium";
    padding: 1rem !important;
  }
  .btn-blue {
    font-size: 16px !important;
    font-family: "bold";
    background-color: #f2b451 !important;
    color: white !important;
  }
  .hi {
    font-size: 80px;
    font-family: "Bold";
    color: #2e6b87;
    font-weight: bold;
  }
  .content {
    font-size: 18px;
    font-family: "medium";
    color: #2e6b87;
  }
  .popup{
  position: fixed;
  display: block;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 999999;
  }
  .popup-container{
    position: relative;
    z-index: 1;
    font-family: medium;
  }
  .notification {
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 3rem);
    padding: 0.5rem;
  }
  .notif-image-error {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #EE6D61;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-image-success {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #64CA56;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-content {
    padding: 0.5rem;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px #aaaaaa;
  }
}
@media (max-width: 700px) {
  .bg-commingsoon {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/bg2-1.svg);
  }
  .footerdesign {
    font-size: 14px;
    color: #2e6b87;
    font-family: "regular";
  }
  .title {
    color: #2e6b87;
  }
  .input-text {
    border: none !important;
    font-family: "medium";
    padding: 1rem !important;
  }
  .btn-blue {
    font-size: 16px !important;
    font-family: "bold";
    background-color: #f2b451 !important;
    color: white !important;
  }
  .hi {
    font-size: 60px;
    font-family: "Bold";
    color: #2e6b87;
    font-weight: bold;
  }
  .content {
    font-size: 16px;
    font-family: "medium";
    color: #2e6b87;
  }
  .popup{
  position: fixed;
  display: block;
  top: 2rem;
  left: 0;
  right: 0;
  z-index: 999999;
  }
  .popup-container{
    position: relative;
    z-index: 1;
    font-family: medium;
  }
  .notification {
    position: fixed;
    z-index: 1;
    left: 15%;
    transform: translate(0, 3rem);
    padding: 0.5rem;
  }
  .notif-image-error {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #EE6D61;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-image-success {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    background-color: #64CA56;
    box-shadow: 0px 1px #aaaaaa;
  }
  .notif-content {
    padding: 0.5rem;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px #aaaaaa;
  }
}
}


</style>
<script>
/* eslint-disable */
import axios from "axios";
import $ from "jquery";
export default {
  data() {
    return {
      email: "",
      success: null,
      responsetext: null,
      trigerresponse: false,
      emptyEmail: null,
      validEmail: null,
    };
  },
  mounted() {},
  methods: {
    validateEmail(input) {
      let mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if (input.match(mailformat)) {
        return true;
      } else {
        return false;
      }
    },
    close(){
      this.trigerresponse = false;
    },
    send() {
      this.email = $("#emailinput").val();
      if (this.email != "") {       
        if (this.validateEmail(this.email) === true){
        const bodyFormData = new FormData();
        bodyFormData.set("email", this.email);
        axios({
          method: "post",
          url: "https://api.ketemuin.id/v1/register",
          data: bodyFormData,
          headers: { "Content-Type": "multipart/form-data" },
        }).then((response) => {
            if (response.data.status == 200) {
              this.validEmail = true;
              this.emptyEmail = false;         
              this.success = true;
              this.responsetext = "Alamat email berhasil disimpan";
              this.trigerresponse = true;
              $("#emailinput").val("");
              setTimeout(() => {
                this.trigerresponse = false;
              }, 3000);
            } else {
              this.validEmail = true;
              this.emptyEmail = false;
              this.responsetext = "Email gagal ditambahkan";
              this.success = false;
              this.trigerresponse = true;
              setTimeout(() => {
                this.trigerresponse = false;
              }, 3000);
            }
          }).catch((response) => {
            if (response) {
              this.validEmail = true;
              this.emptyEmail = false;
              this.responsetext = "Email gagal ditambahkan";
              this.success = false;
              this.trigerresponse = true;
              setTimeout(() => {
                this.trigerresponse = false;
              }, 3000);
            }
          });
        }else{
          this.validEmail = false;
          this.emptyEmail = false;
        }
      }else{
        this.emptyEmail = true;       
        this.validEmail = true;
      }
    },
  },
};
</script>
