<template>
  <div class="contact-container">
    <div class="contact">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-11 order-2 order-lg-1 my-5 text-center align-self-center">
          <img width="75%" src="../assets/contact-us/img.svg" alt />
        </div>
        <div class="col-lg-6 col-11 order-1 order-lg-2 my-5">
          <div class="panel-form">
            <div class="row justify-content-center">
              <div class="col-12 text-center mb-5">
                <h6 class="titlecontact">{{dataobjinit.judul}}</h6>
              </div>
              <div class="col-12">
                <div class="text-container">
                  <span class="text-line" id="textnama">{{dataobjinit.input1}}</span>
                  <br />
                  <input
                    type="text"
                    class="input-control-gray"
                    id="inputnama"
                    v-model="getinputnama"
                    @keyup="getvalueinput('name',getinputnama)"
                  />
                </div>
                <span class="allert" v-if="trigertextvalidasiname">{{textvalidasiname}}</span>
                <!-- <div class="text-container" v-if="trigervalidasi === null">
                  <span class="text-line-red" v-if="getinputnama === ''">{{dataobjinit.input1}}</span>
                  <span class="text-line-blue" v-if="getinputnama !== ''">{{dataobjinit.input1}}</span>
                  <br />
                  <input  type="text" class="form-control-red" id="inputnama" v-model="getinputnama" v-if="getinputnama === ''"/>
                  <input type="text" class="input-control-gray" id="inputnama" v-model="getinputnama" v-if="getinputnama !== ''"/>
                </div>-->
              </div>
              <div class="col-12 mt-3">
                <div class="text-container">
                  <span class="text-line" id="textemail">{{dataobjinit.input2}}</span>
                  <br />
                  <input
                    type="text"
                    class="input-control-gray"
                    v-model="getinputemail"
                    id="inputemail"
                    @keyup="getvalueinput('email',getinputemail)"
                  />
                </div>
                <span class="allert" v-if="trigertextvalidasiemail">{{textvalidasiemail}}</span>
              </div>
              <div class="col-12 mt-3">
                <div class="text-container">
                  <span class="text-line" id="texthp">{{dataobjinit.input3}}</span>
                  <br />
                  <input
                    type="number"
                    class="input-control-gray"
                    v-model="getinputhp"
                    id="inputhp"
                    @keyup="getvalueinput('hp',getinputhp)"
                  />
                </div>
                <span class="allert" v-if="trigertextvalidasihp">{{textvalidasihp}}</span>
              </div>
              <div class="col-12 mt-3">
                <div class="text-container">
                  <span class="text-line" id="textsubyek">{{dataobjinit.input4}}</span>
                  <br />
                  <input
                    type="text"
                    class="input-control-gray"
                    v-model="getinputsubyek"
                    id="inputsubyek"
                    @keyup="getvalueinput('subyek',getinputsubyek)"
                  />
                </div>
                <span class="allert" v-if="trigertextvalidasisubyek">{{textvalidasisubyek}}</span>
              </div>
              <div class="col-12 mt-3">
                <div class="text-container">
                  <span
                    class="text-line"
                    id="textdeskripsi"
                    style="position:absolute;height:10px"
                  >{{dataobjinit.input5}}</span>
                  <br />
                  <textarea
                    row="5"
                    class="input-control-gray"
                    v-model="getinputdeskripsi"
                    id="inputdeskripsi"
                    @keyup="getvalueinput('deskripsi',getinputdeskripsi)"
                  />
                </div>
                <span class="allert" v-if="trigertextvalidasideskripsi">{{textvalidasideskripsi}}</span>
              </div>
              <div class="col-7 col-md-4 mt-3">
                <button
                  class="btn btn-contact-orange btn-block"
                  @click="kirim()"
                >{{dataobjinit.button}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.titlecontact {
  color: #265970;
  font-family: "bold";
  font-size: 36px;
}
.allert {
  font-size: 12px;
  color: #ee6d61;
  font-family: "medium";
}
input[type="number"] {
  -moz-appearance: textfield !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
@media all and (orientation: landscape) {
  .panel-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media (min-width: 1366px) {
    .contact-container {
      height: 85vh;
      /* max-height: 500px; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      background-color: #f5f5f5;
      background-image: url(../assets/contact-us/bg.svg);
    }
  }
  @media (min-width: 770px) and (max-width: 1365px) {
    .contact-container {
      /* height:90vh; */
      /* max-height: 500px; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      background-color: #f5f5f5;
      background-image: url(../assets/contact-us/bg.svg);
    }
  }
  @media (max-width: 770px) {
    .contact-container {
      /* height:90vh; */
      /* max-height: 500px; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      background-color: #f5f5f5;
      background-image: url(../assets/contact-us/bg.svg);
    }
  }
}
@media all and (orientation: portrait) {
  @media (max-width: 1000px) {
    .contact-container {
      /* height:90vh; */
      /* max-height: 500px; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      background-color: #f5f5f5;
      background-image: url(../assets/contact-us/bg.svg);
    }
  }
  @media (min-width: 1000px) {
    .contact-container {
      height: 85vh;
      /* max-height: 500px; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      background-color: #f5f5f5;
      background-image: url(../assets/contact-us/bg.svg);
    }
  }
  @media (min-width: 600px) {
    .panel-form {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 5px grey;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
  @media (max-width: 600px) {
    .panel-form {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 5px grey;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
.form-control-red {
  display: block;
  width: 100%;
  /* height: calc(1.5em + 0.75rem + 2px); */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ee6d61;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-control-gray {
  display: block;
  width: 100%;
  /* height: calc(1.5em + 0.75rem + 2px); */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-container {
  width: 100%;
  /* text-align: left; */
  /* margin-left: 1rem; */
  /* margin-left: 10px; */
  /* padding-left: 1rem;
    border: 1px solid #000; */
  line-height: 0.1rem;
  /* margin: 10px 0 20px;
    height: 50px; */
}
.text-line-blue {
  padding-left: 5px;
  padding-right: 5px;
  background: #fff;
  margin-left: 1rem;
  font-family: "medium";
  font-size: 12px;
  color: #2e6b87;
}
.text-line-red {
  padding-left: 5px;
  padding-right: 5px;
  background: #fff;
  margin-left: 1rem;
  font-family: "medium";
  font-size: 12px;
  color: #ee6d61;
}
.text-line {
  padding-left: 5px;
  padding-right: 5px;
  background: #fff;
  margin-left: 1rem;
  font-family: "medium";
  font-size: 12px;
  color: #b1b1b1;
}

.contact {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}

.btn-contact-orange {
  font-size: 16px !important;
  font-family: "bold";
  background-color: #f2b451 !important;
  color: white !important;
  height: 48px;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
</style>
<script>
/* eslint-disable */
import $ from "jquery";
import axios from "axios";
export default {
  data() {
    return {
      dataobjinit: {},
      getinputnama: "",
      getinputemail: "",
      getinputhp: "",
      getinputsubyek: "",
      getinputdeskripsi: "",
      textvalidasiname: "",
      trigertextvalidasiname: false,
      textvalidasiemail: "",
      trigertextvalidasiemail: false,
      textvalidasihp: "",
      trigertextvalidasihp: false,
      textvalidasisubyek: "",
      trigertextvalidasisubyek: false,
      textvalidasideskripsi: "",
      trigertextvalidasideskripsi: false,
      trigervalidasi: true,
      gettrigerbahasa: "indonesia",
      datagetall: {
        judul: {
          indonesia: "Ada sesuatu di pikiran Anda?",
          inggris: "Have something in your mind?"
        },
        button: {
          indonesia: "Kirim",
          inggris: "Submit"
        },
        input1: {
          indonesia: "Nama Lengkap",
          inggris: "Full Name"
        },
        input2: {
          indonesia: "Alamat Email",
          inggris: "Email Address"
        },
        input3: {
          indonesia: "Nomor HP",
          inggris: "Phone Number"
        },
        input4: {
          indonesia: "Subyek",
          inggris: "Subject"
        },
        input5: {
          indonesia: "Deskripsi",
          inggris: "Description"
        }
      }
    };
  },
  created() {
    let urlget = window.location.pathname;
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
    } else {
      this.gettrigerbahasa = "inggris";
    }
    this.detectinibahasa();
  },
  mounted() {
    $('input[type="number"]').keypress(function(event) {
      return /\d/.test(String.fromCharCode(event.keyCode));
    });
  },
  methods: {
    detectinibahasa() {
      this.dataobjinit = {
        judul: this.datagetall.judul[this.gettrigerbahasa],
        button: this.datagetall.button[this.gettrigerbahasa],
        input1: this.datagetall.input1[this.gettrigerbahasa],
        input2: this.datagetall.input2[this.gettrigerbahasa],
        input3: this.datagetall.input3[this.gettrigerbahasa],
        input4: this.datagetall.input4[this.gettrigerbahasa],
        input5: this.datagetall.input5[this.gettrigerbahasa]
      };
    },
    kirim() {
      if (
        this.getinputnama !== "" &&
        this.getinputemail !== "" &&
        this.getinputhp !== "" &&
        this.getinputsubyek !== "" &&
        this.getinputdeskripsi !== ""
      ) {
        if (
          this.validateEmail(this.getinputemail) === true &&
          this.phonenumber(this.getinputhp) === true
        ) {
          // $('#inputnama').val('')
          // $('#inputemail').val('')
          // $('#inputhp').val('')
          // $('#inputsubyek').val('')
          // $('#inputdeskripsi').val('')
          let bodyFormData = {
            name: this.getinputnama,
            email: this.getinputemail,
            phone: this.getinputhp,
            subject: this.getinputsubyek,
            description: this.getinputdeskripsi
          };
          axios({
            method: "post",
            url: "https://api.ketemuin.id/v1/reachout",
            data: bodyFormData,
          })
            .then(response => {
              if (response.message == null)
              window.location.reload()
            })
            .catch(response => {});
        }
      } else {
        if (this.getinputnama === "") {
          this.trigertextvalidasiname = true;
          if (this.gettrigerbahasa === "indonesia") {
            this.textvalidasiname = "Nama lengkap harus diisi";
          } else {
            this.textvalidasiname = "Full name is required";
          }
          $("#inputnama").removeClass();
          $("#inputnama").addClass("form-control-red");
          $("#textnama").removeClass();
          $("#textnama").addClass("text-line-red");
        } else {
          this.trigertextvalidasiname = false;
          $("#inputnama").removeClass();
          $("#inputnama").addClass("input-control-gray");
          $("#textnama").removeClass();
          $("#textnama").addClass("text-line-blue");
        }
        if (this.getinputemail === "") {
            this.trigertextvalidasiemail = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiemail =
                "Alamat email harus diisi";
            } else {
              this.textvalidasiemail =
                "Email address is required";
            }
            $("#inputemail").removeClass();
            $("#inputemail").addClass("form-control-red");
            $("#textemail").removeClass();
            $("#textemail").addClass("text-line-red");
          } else {
            if (this.validateEmail(this.getinputemail) === false) {
              this.trigertextvalidasiemail = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasiemail =
                  "Format alamat email tidak sesuai";
              } else {
                this.textvalidasiemail =
                  "Invalid email address format";
              }
              $("#inputemail").removeClass();
              $("#inputemail").addClass("form-control-red");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-red");
            } else {
              this.trigertextvalidasiemail = false;
              $("#inputemail").removeClass();
              $("#inputemail").addClass("input-control-gray");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-blue");
            }
          }
        if (this.getinputhp === "") {
          this.trigertextvalidasihp = true;
          if (this.gettrigerbahasa === "indonesia") {
            this.textvalidasihp =
              "Nomor HP harus diisi";
          } else {
            this.textvalidasihp =
              "Phone number is required";
          }
          $("#inputhp").removeClass();
          $("#inputhp").addClass("form-control-red");
          $("#texthp").removeClass();
          $("#texthp").addClass("text-line-red");
        } else {
          if (this.phonenumber(this.getinputhp) === false) {
            this.trigertextvalidasihp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasihp =
                "Format nomor HP tidak sesuai";
            } else {
              this.textvalidasihp =
                "Invalid phone number format";
            }
            $("#inputhp").removeClass();
            $("#inputhp").addClass("form-control-red");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-red");
          } else {
            this.trigertextvalidasihp = false;
            $("#inputhp").removeClass();
            $("#inputhp").addClass("input-control-gray");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-blue");
          }
        }

        if (this.getinputsubyek === "") {
          this.trigertextvalidasisubyek = true;
          if (this.gettrigerbahasa === "indonesia") {
            this.textvalidasisubyek = "Subyek harus diisi";
          } else {
            this.textvalidasisubyek = "Subject is required";
          }
          $("#inputsubyek").removeClass();
          $("#inputsubyek").addClass("form-control-red");
          $("#textsubyek").removeClass();
          $("#textsubyek").addClass("text-line-red");
        } else {
          this.trigertextvalidasisubyek = false;
          $("#inputsubyek").removeClass();
          $("#inputsubyek").addClass("input-control-gray");
          $("#textsubyek").removeClass();
          $("#textsubyek").addClass("text-line-blue");
        }
        if (this.getinputdeskripsi === "") {
          this.trigertextvalidasideskripsi = true;
          if (this.gettrigerbahasa === "indonesia") {
            this.textvalidasideskripsi = "Deskripsi harus diisi";
          } else {
            this.textvalidasideskripsi = "Description is required";
          }
          $("#inputdeskripsi").removeClass();
          $("#inputdeskripsi").addClass("form-control-red");
          $("#textdeskripsi").removeClass();
          $("#textdeskripsi").addClass("text-line-red");
        } else {
          this.trigertextvalidasideskripsi = false;
          $("#inputdeskripsi").removeClass();
          $("#inputdeskripsi").addClass("input-control-gray");
          $("#textdeskripsi").removeClass();
          $("#textdeskripsi").addClass("text-line-blue");
        }
      }
    },
    getvalueinput(type, data) {
      switch (type) {
        case "name":
          if (data !== "") {
            this.trigertextvalidasiname = false;
            $("#inputnama").removeClass();
            $("#inputnama").addClass("input-control-gray");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-blue");
          } else {
            this.trigertextvalidasiname = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiname = "Nama lengkap harus diisi";
            } else {
              this.textvalidasiname = "Full name is required";
            }
            $("#inputnama").removeClass();
            $("#inputnama").addClass("form-control-red");
            $("#textnama").removeClass();
            $("#textnama").addClass("text-line-red");
          }
          break;
        case "email":
          if (data !== "") {
            if (this.validateEmail(data) === false) {
              this.trigertextvalidasiemail = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasiemail =
                  "Format alamat email tidak sesuai";
              } else {
                this.textvalidasiemail =
                  "Invalid email address format";
              }
              $("#inputemail").removeClass();
              $("#inputemail").addClass("form-control-red");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-red");
            } else {
              this.trigertextvalidasiemail = false;
              $("#inputemail").removeClass();
              $("#inputemail").addClass("input-control-gray");
              $("#textemail").removeClass();
              $("#textemail").addClass("text-line-blue");
            }
          } else {
            this.trigertextvalidasiemail = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasiemail =
                "Alamat email harus diisi";
            } else {
              this.textvalidasiemail =
                "Email address is required";
            }
            $("#inputemail").removeClass();
            $("#inputemail").addClass("form-control-red");
            $("#textemail").removeClass();
            $("#textemail").addClass("text-line-red");
          }
          break;
        case "hp":
          if (data !== "") {
            if (this.phonenumber(data) === false) {
              this.trigertextvalidasihp = true;
              if (this.gettrigerbahasa === "indonesia") {
                this.textvalidasihp =
                  "Format nomor HP tidak sesuai";
              } else {
                this.textvalidasihp =
                  "Invalid phone number format";
              }
              $("#inputhp").removeClass();
              $("#inputhp").addClass("form-control-red");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-red");
            } else {
              this.trigertextvalidasihp = false;
              $("#inputhp").removeClass();
              $("#inputhp").addClass("input-control-gray");
              $("#texthp").removeClass();
              $("#texthp").addClass("text-line-blue");
            }
          } else {
            this.trigertextvalidasihp = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasihp =
                "Nomor HP harus diisi";
            } else {
              this.textvalidasihp =
                "Phone number is required";
            }
            $("#inputhp").removeClass();
            $("#inputhp").addClass("form-control-red");
            $("#texthp").removeClass();
            $("#texthp").addClass("text-line-red");
          }
          break;
        case "subyek":
          if (data !== "") {
            this.trigertextvalidasisubyek = false;
            $("#inputsubyek").removeClass();
            $("#inputsubyek").addClass("input-control-gray");
            $("#textsubyek").removeClass();
            $("#textsubyek").addClass("text-line-blue");
          } else {
            this.trigertextvalidasisubyek = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasisubyek = "Subyek harus diisi";
            } else {
              this.textvalidasisubyek = "Subject is required";
            }
            $("#inputsubyek").removeClass();
            $("#inputsubyek").addClass("form-control-red");
            $("#textsubyek").removeClass();
            $("#textsubyek").addClass("text-line-red");
          }
          break;
        case "deskripsi":
          if (data !== "") {
            this.trigertextvalidasideskripsi = false;
            $("#inputdeskripsi").removeClass();
            $("#inputdeskripsi").addClass("input-control-gray");
            $("#textdeskripsi").removeClass();
            $("#textdeskripsi").addClass("text-line-blue");
          } else {
            this.trigertextvalidasideskripsi = true;
            if (this.gettrigerbahasa === "indonesia") {
              this.textvalidasideskripsi = "Deskripsi harus diisi";
            } else {
              this.textvalidasideskripsi = "Description is required";
            }
            $("#inputdeskripsi").removeClass();
            $("#inputdeskripsi").addClass("form-control-red");
            $("#textdeskripsi").removeClass();
            $("#textdeskripsi").addClass("text-line-red");
          }
          break;
      }
    },
    validateEmail(input) {
      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if (input.match(mailformat)) {
        return true;
      } else {
        return false;
      }
    },
    phonenumber(input) {
      var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{3})$/;
      if (input.toString().length < 10 || input.toString().length > 12) {
        return false;
      } else {
        return true;
      }
    }
  }
};
</script>