<template>
  <div class="dashboard">
    <Header></Header>
    <div style="padding-top:64px">
        <router-view/>
    </div>
    <Footer></Footer>
  </div>
</template>
<style>
</style>
<script>
import Footer from '../components/Footer'
import Header from '../components/Header'
export default {
    components :{
        Header,
        Footer
    }
}
</script>