<template>
  <div class="faq-container">
    <div class="faq">
      <div class="row">
        <div class="col-12 text-center mt-4">
          <h2
            style="font-size:36px;font-family: bold;color:#265970"
          >{{datagetall.judul[gettrigerbahasa]}}</h2>
        </div>
        <div class="col-lg-12 mt-4">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-12">
              <div class="panel-form-client mb-5">
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul1">
                    <div class="accordion_head" @click="clicknav1()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'1.'+ datagetall.judul1[gettrigerbahasa]"></div>
                        <div class="col-1 text-right"><img  class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content1" hidden>
                      <div v-html="datagetall.content1[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul2">
                    <div class="accordion_head" @click="clicknav2()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'2.'+ datagetall.judul2[gettrigerbahasa]"></div>
                        <div class="col-1 text-right"><img  class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content2" hidden>
                      <div v-html="datagetall.content2[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul3">
                    <div class="accordion_head" @click="clicknav3()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'3.'+ datagetall.judul3[gettrigerbahasa]"></div>
                        <div class="col-1 text-right"><img  class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content3" hidden>
                      <div v-html="datagetall.content3[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul4">
                    <div class="accordion_head" @click="clicknav4()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'4.'+ datagetall.judul4[gettrigerbahasa]"></div>
                        <div class="col-1"><img  class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content4" hidden>
                      <div v-html="datagetall.content4[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul5">
                    <div class="accordion_head" @click="clicknav5()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'5.'+ datagetall.judul5[gettrigerbahasa]"></div>
                        <div class="col-1"><img  class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content5" hidden>
                      <div v-html="datagetall.content5[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul6">
                    <div class="accordion_head" @click="clicknav6()">
                      <div class="row no-gutters">
                      <div class="col-11" v-html="'6.'+ datagetall.judul6[gettrigerbahasa]"></div>
                      <div class="col-1"><img  class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content6" hidden>
                      <div v-html="datagetall.content6[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul7">
                    <div class="accordion_head" @click="clicknav7()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'7.'+ datagetall.judul7[gettrigerbahasa]"></div>
                        <div class="col-1"><img  class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content7" hidden>
                      <div v-html="datagetall.content7[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul8">
                    <div class="accordion_head" @click="clicknav8()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'8.'+ datagetall.judul8[gettrigerbahasa]"></div>
                        <div class="col-1"><img class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content8" hidden>
                      <div v-html="datagetall.content8[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                 <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul9">
                    <div class="accordion_head" @click="clicknav9()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'9.'+ datagetall.judul9[gettrigerbahasa]"></div>
                        <div class="col-1"><img  class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content9" hidden>
                      <div v-html="datagetall.content9[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
                <div class="faq_list">
                  <div class="faq_accordion collapsed" id="judul10">
                    <div class="accordion_head" @click="clicknav10()">
                      <div class="row no-gutters">
                        <div class="col-11" v-html="'10.'+ datagetall.judul10[gettrigerbahasa]"></div>
                        <div class="col-1"><img class="career_arrow" src="../assets/faq/ic_chevron-down.svg"></div>
                      </div>
                    </div>
                    <div class="accordion_body" id="content10" hidden>
                      <div v-html="datagetall.content10[gettrigerbahasa]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.faq_accordion {
  overflow: hidden;
  border-bottom: 2px solid #C8DDE7;
}

.accordion_head {
  position: relative;
  font-family: "semibold";
  font-size: 14px;
  color: #242021;
  cursor: pointer;
  padding-top: 20px;
  padding-left: 10px;
  background-color: white;
}

img.career_arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  display: table;
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.faq_accordion.collapsed .accordion_head {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: white;
}

.faq_accordion.collapsed img.career_arrow {
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion_body {
  padding-top: 5px;
  padding-bottom: 30px;
  padding-left: 10px;
  font-family: "medium";
  font-size: 14px;
  line-height: 2;
}

@media (max-width: 768px) {
  .faq_title {
    margin: 30px auto 20px;
    font-size: 20px;
  }

  .faq_accordion {
    margin: 15px 0px;
  }

  .accordion_head {
    font-size: 16px;
  }

  .accordion_body {
    font-size: 14px;
    line-height: 1.5;
  }
}
.faq-container {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/faq/bg-faq.svg);
}
.faq {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
</style>
<script>
/* eslint-disable */
import $ from "jquery";
export default {
  data() {
    return {
      gettrigerbahasa: "indonesia",
      trigerclick1:false,
      trigerclick2:false,
      trigerclick3:false,
      trigerclick4:false,
      trigerclick5:false,
      trigerclick6:false,
      trigerclick7:false,
      trigerclick8:false,
      trigerclick9:false,
      trigerclick10:false,
      datagetall: {
        judul: {
          indonesia: "Frequently Asked Questions",
          inggris: "Frequently Asked Questions"
        },
        judul1: {
          indonesia:
            "Apakah para penyedia jasa profesional di <label style='margin-bottom: 0px'>#ketemuin</label> terpercaya?",
          inggris:
            "Are the professional service providers in <label style='margin-bottom: 0px'>#ketemuin</label> trustworthy?"
        },
        content1: {
          indonesia:
            "Sebagai bagian dari upaya peningkatan kualitas layanan <label style='margin-bottom: 0px'>#ketemuin</label> kepada para penggunanya, seluruh penyedia jasa profesional yang bergabung di <label style='margin-bottom: 0px'>#ketemuin</label> telah melewati seleksi berdasarkan latar belakang pendidikan dan/atau pengalaman kerja yang dimilikinya. Hal tersebut juga dimaksudkan untuk memastikan bahwa kemampuan yang dimiliki oleh penyedia jasa yang bersangkutan sesuai dengan kebutuhan pengguna (klien) sesuai dengan permasalahan yang dihadapinya masing-masing.",
          inggris:
            "As a part of <label style='margin-bottom: 0px'>#ketemuin</label>’s effort on service quality improvement to its users, all of professional service providers in <label style='margin-bottom: 0px'>#ketemuin</label> has been selected based on their education and/or working experience background. This is also intended to ensure that such service provider’s ability to fits client’s needs for the matters at hand."
        },
        judul2: {
          indonesia:
            "Mengapa saya (klien) harus menggunakan <label style='margin-bottom: 0px'>#ketemuin</label> dalam mencari penyedia jasa professional?",
          inggris:
            "Why do I (client) have to use <label style='margin-bottom: 0px'>#ketemuin</label> on searching for professional service provider?"
        },
        content2: {
          indonesia:
            "Visi utama dari <label style='margin-bottom: 0px'>#ketemuin</label> adalah untuk menjadi platform digital untuk mempertemukan klien dengan para penyedia jasa professional sesuai dengan kebutuhannya masing-masing. Dalam hal ini layanan <label style='margin-bottom: 0px'>#ketemuin</label> bukan hanya berusaha mempertemukan antara kebutuhan klien dengan penyedia jasa yang ada berdasarkan masalah yang dihadapi, namun platform <label style='margin-bottom: 0px'>#ketemuin</label> juga memungkinkan para klien untuk memilih penyedia jasa berdasarkan kecocokan dari budget yang dimiliki (klien dan penyedia jasa dapat bernegosiasi pada platform <label style='margin-bottom: 0px'>#ketemuin</label> untuk menentukan harga yang dapat disepakati bersama)",
          inggris:
            "The grand vision of <label style='margin-bottom: 0px'>#ketemuin</label> is to become a digital platform which connects clients with professional service providers in accordance with each of their needs. In this matter <label style='margin-bottom: 0px'>#ketemuin</label> is not only trying to connects between client’s need and the existing service providers based on the matters to be solved, but <label style='margin-bottom: 0px'>#ketemuin</label>’s platform also enables the clients to select their service provider based on the compatibility of their budget (client and service provider is able to conduct negotiation on <label style='margin-bottom: 0px'>#ketemuin</label>’s platform to determine a price that can be mutually agreed)"
        },
        judul3: {
          indonesia:
            "Mengapa saya (penyedia jasa) harus menggunakan <label style='margin-bottom: 0px'>#ketemuin</label> dalam mencari klien?",
          inggris:
            "Why do I (service provider) have to use <label style='margin-bottom: 0px'>#ketemuin</label> on searching for professional service provider?"
        },
        content3: {
          indonesia:
            "Visi utama dari <label style='margin-bottom: 0px'>#ketemuin</label> adalah untuk menjadi platform digital untuk mempertemukan calon klien dengan para penyedia jasa professional sesuai dengan kebutuhannya masing-masing. Dalam hal ini layanan <label style='margin-bottom: 0px'>#ketemuin</label> bukan hanya mengusahakan untuk mempertemukan antara kebutuhan klien dengan penyedia jasa yang ada berdasarkan masalah yang dihadapi, namun platform <label style='margin-bottom: 0px'>#ketemuin</label> juga memungkinkan para penyedia jasa untuk dapat memberikan jasanya berdasarkan tingkat pengalaman dan/atau keahlian yang dimiliki. Dalam hal ini seluruh penyedia jasa dari tingkat yang paling senior hingga pemula (seperti contoh fresh graduate yang memiliki kemampuan namun karena mungkin masih minimnya jaringan (networking) yang dimiliki sehingga masih sulit mendapatkan klien) dapat bergabung di <label style='margin-bottom: 0px'>#ketemuin</label>. Dalam hal ini platform <label style='margin-bottom: 0px'>#ketemuin</label> juga memungkinkan para penggunanya untuk saling bernegosiasi terkait harga layanan pekerjaan yang akan dilaksanakan sehingga membuka kesempatan yang lebih besar bagi penyedia jasa maupun klien untuk dapat saling bertemu kemampuan dan kebutuhannya di platform <label style='margin-bottom: 0px'>#ketemuin</label>",
          inggris:
            "The grand vision of <label style='margin-bottom: 0px'>#ketemuin</label> is to become a digital platform which connects clients with professional service providers in accordance with each of their needs. In this matter <label style='margin-bottom: 0px'>#ketemuin</label> is not only trying to connects between client’s need and the existing service providers based on the matters to be solved, but <label style='margin-bottom: 0px'>#ketemuin</label>’s platform also enables service providers to provide service based on their levels of experience and/or expertise. In this matter all of service providers from the most senior to beginner levels (e.g. fresh graduates who has the capability to render service but probably is still lacking in networking thus experienced hardship in searching for client) may join <label style='margin-bottom: 0px'>#ketemuin</label>. In this matter <label style='margin-bottom: 0px'>#ketemuin</label>’s platform also enables its users to negotiate in relation to the price of the service, thus this will bring a bigger opportunity for service provider and also for the client to connect and match their skills and needs in <label style='margin-bottom: 0px'>#ketemuin</label>’s platform"
        },
        judul4: {
          indonesia:
            "Apakah pembayaran yang saya lakukan sebagai klien melalui <label style='margin-bottom: 0px'>#ketemuin</label> aman?",
          inggris:
            "Is the payment that I make as a client through <label style='margin-bottom: 0px'>#ketemuin</label> safe?"
        },
        content4: {
          indonesia:
            "<label style='margin-bottom: 0px'>#ketemuin</label> telah merancang skema pembayaran kepada penyedia jasa dimana segala pembayaran dari klien baru akan disampaikan kepada penyedia jasa tersebut hanya pada saat pekerjaan yang dilakukan sudah dinyatakan selesai (anda dapat melihat bagian “Cara Kerja”) untuk melihat secara lebih rinci terkait hal ini.",
          inggris:
            "<label style='margin-bottom: 0px'>#ketemuin</label> has designed the payment scheme to the service provider where any payment from the client would only be conveyed to such service provider when the service has been stated as done (you can go to “how it works” section to see more details with regards to this matter"
        },
        judul5: {
          indonesia:
            "Apakah pekerjaan yang saya lakukan sebagai penyedia jasa melalui <label style='margin-bottom: 0px'>#ketemuin</label> pasti dibayar oleh klien?",
          inggris:
            "Will the service that I render as a service provider through <label style='margin-bottom: 0px'>#ketemuin</label> be paid by the client?"
        },
        content5: {
          indonesia:
            "<label style='margin-bottom: 0px'>#ketemuin</label> telah merancang skema pembayaran kepada penyedia jasa dimana setelah pekerjaan dinyatakan selesai maka pembayaran akan langsung disampaikan kepada penyedia jasa. Anda dapat melihat bagian “how it works” untuk melihat secara lebih rinci terkait hal ini",
          inggris:
            "<label style='margin-bottom: 0px'>#ketemuin</label> has designed the payment scheme to the service provider where after the service has been stated as done, then the payment will be conveyed directly to the service provider. You can go to the “how it works” section to see more details with regards to this matter"
        },
        judul6: {
          indonesia:
            "Apakah data-data yang saya sampaikan kepada <label style='margin-bottom: 0px'>#ketemuin</label> terjamin keamanannya?",
          inggris:
            "Are the data that I provide to <label style='margin-bottom: 0px'>#ketemuin</label> safe?"
        },
        content6: {
          indonesia:
            "<label style='margin-bottom: 0px'>#ketemuin</label> sangat menghormati dan menjaga kerahasiaan serta integritas dari setiap data dalam bentuk apapun yang Anda sampaikan (sebagai contoh identitas, data terkait permasalahan yang dihadapi, lokasi, kontak, serta keterangan-keterangan apapun dalam bentuk lainnya). <label style='margin-bottom: 0px'>#ketemuin</label> senantiasa melaksanakan penerapan standar keamanan terbaik bagi keamanan informasi para penggunanya. Segala data-data yang anda sampaikan sebagai pengguna hanya akan digunakan untuk mendukung pelaksanaan layanan saja. Apabila <label style='margin-bottom: 0px'>#ketemuin</label> hendak mengungkapkan data anda kepada pihak lain untuk tujuan apapun, maka <label style='margin-bottom: 0px'>#ketemuin</label> akan selalu meminta persetujuan terlebih dahulu kepada anda.",
          inggris:
            "<label style='margin-bottom: 0px'>#ketemuin</label> highly respects and guards the confidentiality and integrity of any data that you conveyed in any form (e.g. identity, data related to the matters at hand, location, contact, along with any informations in any forms. <label style='margin-bottom: 0px'>#ketemuin</label> will continuously apply the best security standard for informations of its users. Any data that you provide as user will only be utilized to support the implementation of the service. In any case that <label style='margin-bottom: 0px'>#ketemuin</label> would like to disclose your data to any other party for any purpose, then <label style='margin-bottom: 0px'>#ketemuin</label> will always request for your prior approval."
        },
        judul7: {
          indonesia:
            "Haruskah saya (klien) memberikan penilaian saya (review kepuasan pengguna) setelah selesainya pekerjaan?",
          inggris:
            "Do I (client) have to provide my review (in relation to user satisfaction) after the completion of the service?"
        },
        content7: {
          indonesia:
            "Penilaian anda sangat berarti untuk peningkatan layanan <label style='margin-bottom: 0px'>#ketemuin</label> maupun bagi para penyedia jasa di masa mendatang.  Kami sangat menghargai dan mengharapkan agar anda dapat memberikan penilaian dan tanggapan atas layanan yang anda terima melalui platform <label style='margin-bottom: 0px'>#ketemuin</label>",
          inggris:
            "Your review/assessment is very valuable for the improvement of <label style='margin-bottom: 0px'>#ketemuin</label>’s service and also for service providers in the future. We really appreciate and expect that you could provide your review and response over the service that you received through <label style='margin-bottom: 0px'>#ketemuin</label>’s platform"
        },
        judul8: {
          indonesia:
            "Haruskah saya (penyedia jasa) memberikan penilaian saya (review kepuasan pengguna) setelah selesainya pekerjaan?",
          inggris:
            "Do I (service provider) have to provide my review (in relation to user satisfaction) after the completion of the service?"
        },
        content8: {
          indonesia:
            "Penilaian anda sangat berarti untuk peningkatan layanan <label style='margin-bottom: 0px'>#ketemuin</label> dimasa mendatang. Kami sangat menghargai dan mengharapkan agar anda dapat memberikan penilaian dan tanggapan terhadap penggunaan platform <label style='margin-bottom: 0px'>#ketemuin</label>",
          inggris:
            "Your review is very valuable for the improvement of <label style='margin-bottom: 0px'>#ketemuin</label>’s service in the future. We really appreciate and expect that you could provide your review and response on the usage of <label style='margin-bottom: 0px'>#ketemuin</label>’s platform"
        },
        judul9: {
          indonesia:
            "Apakah saya (klien) dapat meminta pengembalian uang (refund) atas pembayaran pekerjaan yang dilakukan melalui <label style='margin-bottom: 0px'>#ketemuin</label>?",
          inggris:
            " Do I (client) can request for refund over payment for the service which conducted through <label style='margin-bottom: 0px'>#ketemuin</label>?"
        },
        content9: {
          indonesia:
            "Segala pembayaran yang telah dilakukan sehubungan dengan pekerjaan yang dilakukan melalui platform <label style='margin-bottom: 0px'>#ketemuin</label> tidak dapat dikembalikan (non-refundable). Namun demikian, setiap keluhan atau masukkan dari anda sangatlah berharga bagi <label style='margin-bottom: 0px'>#ketemuin</label>. Silahkan liat bagian “Contact Us” untuk dapat menyampaikan keluhan dan/atau masukan anda lebih lanjut kepada tim <label style='margin-bottom: 0px'>#ketemuin</label>",
          inggris:
            "Any payment that has been performed in relation to the service rendered through <label style='margin-bottom: 0px'>#ketemuin</label>’s platform are non-refundable. Nevertheless, each of complaint or suggestion from you is very valuable for <label style='margin-bottom: 0px'>#ketemuin</label>. You may go to the “Contact Us” section to convey your complaint and/or suggestion further to <label style='margin-bottom: 0px'>#ketemuin</label>’s team"
        },
        judul10: {
          indonesia: "Bagaimana cara saya dapat menghubungi <label style='margin-bottom: 0px'>#ketemuin</label>?",
          inggris: "How can I contact <label style='margin-bottom: 0px'>#ketemuin</label>?"
        },
        content10: {
          indonesia:
            "Anda dapat meng-klik <a href='https://ketemuin.id/id/hubungi-kami'>tautan ini</a> untuk informasi lebih lanjut tentang cara menghubungi tim <label style='margin-bottom: 0px'>#ketemuin</label>",
          inggris:
            "You may click <a href='https://ketemuin.id/en/contact-us'>this link</a> for further information on how to contact <label style='margin-bottom: 0px'>#ketemuin</label>’s team"
        }
      }
    };
  },
  created() {
    let urlget = window.location.pathname;
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
    } else {
      this.gettrigerbahasa = "inggris";
    }
  },
  mounted() {},
  methods: {
    clicknav1(){
      if (this.trigerclick1 === false){
        $('#judul1').removeClass()
          $('#judul1').addClass('faq_accordion')
          $("#content1").removeAttr("hidden");
          this.trigerclick1 = true
      }else{
                    $('#judul1').removeClass()
          $('#judul1').addClass('faq_accordion collapsed')
          $("#content1").attr("hidden",true);
          this.trigerclick1 = false
      }
    },
    clicknav2(){
      if (this.trigerclick2 === false){
        $('#judul2').removeClass()
          $('#judul2').addClass('faq_accordion')
          $("#content2").removeAttr("hidden");
          this.trigerclick2 = true
      }else{
                    $('#judul2').removeClass()
          $('#judul2').addClass('faq_accordion collapsed')
          $("#content2").attr("hidden",true);
          this.trigerclick2 = false
      }
    },
    clicknav3(){
      if (this.trigerclick3 === false){
        $('#judul3').removeClass()
          $('#judul3').addClass('faq_accordion')
          $("#content3").removeAttr("hidden");
          this.trigerclick3 = true
      }else{
                    $('#judul3').removeClass()
          $('#judul3').addClass('faq_accordion collapsed')
          $("#content3").attr("hidden",true);
          this.trigerclick3 = false
      }
    },
    clicknav4(){
      if (this.trigerclick4 === false){
        $('#judul4').removeClass()
          $('#judul4').addClass('faq_accordion')
          $("#content4").removeAttr("hidden");
          this.trigerclick4 = true
      }else{
                    $('#judul4').removeClass()
          $('#judul4').addClass('faq_accordion collapsed')
          $("#content4").attr("hidden",true);
          this.trigerclick4 = false
      }
    },
    clicknav5(){
      if (this.trigerclick5 === false){
        $('#judul5').removeClass()
          $('#judul5').addClass('faq_accordion')
          $("#content5").removeAttr("hidden");
          this.trigerclick5 = true
      }else{
                    $('#judul5').removeClass()
          $('#judul5').addClass('faq_accordion collapsed')
          $("#content5").attr("hidden",true);
          this.trigerclick5 = false
      }
    },
    clicknav6(){
      if (this.trigerclick6 === false){
        $('#judul6').removeClass()
          $('#judul6').addClass('faq_accordion')
          $("#content6").removeAttr("hidden");
          this.trigerclick6 = true
      }else{
                    $('#judul6').removeClass()
          $('#judul6').addClass('faq_accordion collapsed')
          $("#content6").attr("hidden",true);
          this.trigerclick6 = false
      }
    },
    clicknav7(){
      if (this.trigerclick7 === false){
        $('#judul7').removeClass()
          $('#judul7').addClass('faq_accordion')
          $("#content7").removeAttr("hidden");
          this.trigerclick7 = true
      }else{
                    $('#judul7').removeClass()
          $('#judul7').addClass('faq_accordion collapsed')
          $("#content7").attr("hidden",true);
          this.trigerclick7 = false
      }
    },
    clicknav8(){
      if (this.trigerclick8 === false){
        $('#judul8').removeClass()
          $('#judul8').addClass('faq_accordion')
          $("#content8").removeAttr("hidden");
          this.trigerclick8 = true
      }else{
                    $('#judul8').removeClass()
          $('#judul8').addClass('faq_accordion collapsed')
          $("#content8").attr("hidden",true);
          this.trigerclick8 = false
      }
    },
    clicknav9(){
      if (this.trigerclick9 === false){
        $('#judul9').removeClass()
          $('#judul9').addClass('faq_accordion')
          $("#content9").removeAttr("hidden");
          this.trigerclick9 = true
      }else{
                    $('#judul9').removeClass()
          $('#judul9').addClass('faq_accordion collapsed')
          $("#content9").attr("hidden",true);
          this.trigerclick9 = false
      }
    },
    clicknav10(){
      if (this.trigerclick10 === false){
        $('#judul10').removeClass()
          $('#judul10').addClass('faq_accordion')
          $("#content10").removeAttr("hidden");
          this.trigerclick10 = true
      }else{
                    $('#judul10').removeClass()
          $('#judul10').addClass('faq_accordion collapsed')
          $("#content10").attr("hidden",true);
          this.trigerclick10 = false
      }
    }
  }
};
</script>