<template>
  <div class="home-container">
    <div class="home">
      <div class="row">
        <div class="col-12 my-5">
          <agile @after-change="getevent()" :infinite="false" ref="carousel">
            <!-- <VueSlickCarousel v-bind="settings" @afterChange="getevent"> -->
            <div v-for="item in datacarousel" :key="item.id">
              <div class="row no-gutters justify-content-center" v-if="typeslide === 'client'">
                <div
                  class="col-11 col-lg-6 mb-5 mb-lg-0 text-center text-lg-left align-self-center"
                >
                  <!-- <h1 class="item-content">{{item.content}}</h1> -->
                  <h1 class="item-content" v-html="item.content"></h1>
                  <h6 class="item-descripsi" v-html="item.deskripsi"></h6>
                  <button class="btn btn-orange my-3" @click="torouter(item.link)">{{item.button}}</button>
                </div>
                <div class="col-12 col-lg-6">
                  <img
                    class="image-banner"
                    width="100%"
                    :src="require(`@/assets/home/${item.image}`)"
                    alt
                  />
                </div>
              </div>
              <div class="row no-gutters justify-content-center" v-if="typeslide === 'partner'">
                <div class="col-12 col-lg-6 order-lg-1 order-2">
                  <img
                    class="image-banner"
                    width="100%"
                    :src="require(`@/assets/home/${item.image}`)"
                    alt
                  />
                </div>
                <div
                  class="col-11 col-lg-6 order-1 mb-5 mb-lg-0 order-lg-2 text-center text-lg-left align-self-center"
                >
                  <!-- <h1 class="item-content">{{item.content}}</h1> -->
                  <h1 class="item-content" v-html="item.content"></h1>
                  <h6 class="item-descripsi" v-html="item.deskripsi"></h6>
                  <button class="btn btn-orange my-3" @click="torouter(item.link)">{{item.button}}</button>
                </div>
              </div>
            </div>
            <!-- </VueSlickCarousel> -->
          </agile>
          <button
            id="buttonnext"
            @click="$refs.carousel.goToNext()"
            style="background:none; border:none"
          ></button>
          <button
            id="buttonprev"
            @click="$refs.carousel.goToPrev()"
            style="background:none; border:none"
          ></button>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
@import "../assets/fonts.css";
@media all and (orientation: landscape) {
  @media (min-width: 1000px) {
    .home-container {
      height: 90vh;
      /* max-height: 500px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/home/banner_icon.jpg);
    }
    .image-banner {
      height: 400px;
    }
    .item-content {
      font-family: "bold";
      color: #265970;
      font-size: 36px !important;
    }
    .item-descripsi {
      font-family: "medium";
      font-size: 18px !important;
      /* color: black; */
    }
  }
  @media (min-width: 770px) and (max-width: 1000px) {
    .home-container {
      /* height: 80vh; */
      /* max-height: 500px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/home/banner_icon.jpg);
    }
    .image-banner {
      height: 400px;
    }
    .item-content {
      font-family: "bold";
      color: #265970;
      font-size: 36px !important;
    }
    .item-descripsi {
      font-family: "medium";
      font-size: 18px !important;
      /* color: black; */
    }
  }
  /* @media (min-width: 770px) {
        .home-container {
        max-height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(../assets/home/bg_banner_p-1.svg);
        }
        .image-banner{
            height: 400px;
        }      
    } */
  @media (max-width: 770px) {
    .home-container {
      max-height: 1000px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/home/banner_icon.jpg);
    }
    .image-banner {
      height: 400px;
    }
    .item-content {
      font-family: "bold";
      color: #265970;
      font-size: 24px !important;
    }
    .item-descripsi {
      font-family: "medium";
      font-size: 16px !important;
      /* color: black; */
    }
  }
}
@media all and (orientation: portrait) {
  @media (max-width: 599px) {
    .home-container {
      max-height: 1000px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/home/banner_icon.jpg);
    }
    .image-banner {
      height: 200px;
    }
    .item-content {
      font-family: "bold";
      color: #265970;
      font-size: 24px !important;
    }
    .item-descripsi {
      font-family: "medium";
      font-size: 16px !important;
      /* color: black; */
    }
  }
  @media (min-width: 600px) and (max-width: 1440px) {
    .home-container {
      height: 90vh;
      /* max-height: 500px; */
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/home/banner_icon.jpg);
    }
    .image-banner {
      height: 400px;
    }
    .item-content {
      font-family: "bold";
      color: #265970;
      font-size: 36px !important;
    }
    .item-descripsi {
      font-family: "medium";
      font-size: 18px !important;
      /* color: black; */
    }
  }
  /* @media (min-width: 770px) {
        .home-container {
        max-height: 1000px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(../assets/home/bg_banner_p-1.svg);
        }
        .image-banner{
            height: 200px;
        }
    } */
}

.btn-orange {
  font-size: 16px !important;
  font-family: "bold";
  background-color: #f2b451 !important;
  color: white !important;
  width: 181px;
  height: 48px;
}
/* .slick-next{
    display: none !important;
} */
/* .slick-dots li {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 60px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 5px;
    background-color: rgba(177,177,177,0.6);
    text-align: center;
    /* opacity: 0.25; */
/* color: red; */
/* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
/* .slick-dots li.slick-active button:before { */
/* opacity: 0.75; */
/* color: red; */
/* background-color: #46B29E
}  */
.agile__nav-button--next {
  display: none !important;
}
.agile__nav-button--prev {
  display: none !important;
}
.agile__actions {
  display: flex;
  justify-content: center;
}
.agile {
  width: 100%;
}
.agile__actions {
  margin-top: 20px;
}
.agile__dot {
  margin: 0 10px;
}
.agile__dot button {
  background-color: rgba(177, 177, 177, 0.6);
  border: none;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
}
.agile__dot--current button {
  background-color: #46b29e;
}
.home {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
label {
  color: #46b29e;
}
</style>
<script>
/* eslint-disable */
import { messageService } from "@/_services";
// import VueSlickCarousel from "vue-slick-carousel";
// import "vue-slick-carousel/dist/vue-slick-carousel.css";
// import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import $ from "jquery";
import { VueAgile } from "vue-agile";
export default {
  name: "home",
  //   components: { VueSlickCarousel,agile: VueAgile },
  components: { agile: VueAgile },

  data() {
    return {
      messages: [],
      gettrigerbahasa: "indonesia",
      typeslide: "client",
      positionget: "kiri",
      dataslide: {
        "1": [
          {
            content: {
              indonesia:
                "Mau jual rumah tapi bingung<br>bikin dokumen perjanjiannya ?",
              inggris:
                "Want to sell a house but doesn’t how to create the agreement ?"
            },
            deskripsi: {
              indonesia:
                "Para ahli di platform <label><label>#ketemuin</label></label> bisa banget bantu bikinin.",
              inggris:
                "Many expert in <label><label>#ketemuin</label></label> platform is ready to help you."
            },
            button: {
              indonesia: "Gabung Sekarang",
              inggris: "Join Now"
            },
            link: {
              indonesia: "/id/klien",
              inggris: "/en/client"
            },
            image: "img_banner_c1-1.svg",
            type: "client"
          },
          {
            content: {
              indonesia:
                "Anda sarjana hukum dan sedang mencari penghasilan tambahan ?",
              inggris:
                "Are you an advocate and looking for other source of income ?"
            },
            deskripsi: {
              indonesia:
                "Platform <label>#ketemuin</label> bisa banget buat kerja sampingan.",
              inggris:
                "<label>#ketemuin</label> platform can be your other source of income."
            },
            button: {
              indonesia: "Gabung Sekarang",
              inggris: "Join Now"
            },
            link: {
              indonesia: "/id/mitra",
              inggris: "/en/partner"
            },
            image: "img_banner_p1-1.svg",
            type: "partner"
          }
        ],
        "2": [
          {
            content: {
              indonesia: "Pusing urus perceraian dan harta gono - gini ?",
              inggris: "Overwhelmed with your divorce problem ?"
            },
            deskripsi: {
              indonesia:
                "Konsultasi dulu dengan ahlinya di platform <label>#ketemuin</label>",
              inggris:
                "Let’s consult with the expert at <label>#ketemuin</label> platform."
            },
            button: {
              indonesia: "Gabung Sekarang",
              inggris: "Join Now"
            },
            link: {
              indonesia: "/id/klien",
              inggris: "/en/client"
            },
            image: "img_banner_c2-1.svg",
            type: "client"
          },
          {
            content: {
              indonesia:
                "Baru lulus dari fakultas hukum dan pusing cari kerja di masa pandemi ?",
              inggris:
                "Just graduate from law school and hard to find a job during this pandemic ?"
            },
            deskripsi: {
              indonesia:
                "Daftar aja dulu di platform <label>#ketemuin</label> ",
              inggris:
                "First thing first, let’s sign up into <label>#ketemuin</label> platform."
            },
            button: {
              indonesia: "Gabung Sekarang",
              inggris: "Join Now"
            },
            link: {
              indonesia: "/id/mitra",
              inggris: "/en/partner"
            },
            image: "img_banner_p2-1.svg",
            type: "partner"
          }
        ],
        "3": [
          {
            content: {
              indonesia: "Mau mulai usaha tapi ga tau gimana ngurus ijinnya ?",
              inggris:
                "Want to start a business but don’t know how to get the permit ?"
            },
            deskripsi: {
              indonesia:
                "Buruan urus sekarang biar ga ganggu bisnis nantinya. Yuk konsultasi di <label>#ketemuin</label>",
              inggris:
                "Do it now! Let’s consult at <label>#ketemuin</label> platform."
            },
            button: {
              indonesia: "Gabung Sekarang",
              inggris: "Join Now"
            },
            link: {
              indonesia: "/id/klien",
              inggris: "/en/client"
            },
            image: "img_banner_c3-1.svg",
            type: "client"
          },
          {
            content: {
              indonesia:
                "Mau nambah portfolio kamu sebagai seorang ahli hukum ?",
              inggris: "Want to add your portfolio as an advocate ?"
            },
            button: {
              indonesia: "Gabung Sekarang",
              inggris: "Join Now"
            },
            deskripsi: {
              indonesia:
                "Kami akan <label>#ketemuin</label> kamu dengan beragam klien.",
              inggris:
                "<label>#ketemuin</label> platform will help you meet some client."
            },
            link: {
              indonesia: "/id/mitra",
              inggris: "/en/partner"
            },
            image: "img_banner_p3-1.svg",
            type: "partner"
          }
        ]
      },
      settings: {
        dots: true,
        dotsClass: "slick-dots custom-dot-class",
        edgeFriction: 0.35,
        infinite: false,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1
      },
      inittriger: 1,
      datacarousel: ["a", "b"]
    };
  },
  mounted() {
    this.initrenderdata();
    setInterval(() => {
      if (this.positionget === "kiri") {
        $("#buttonnext").click();
      } else {
        $("#buttonprev").click();
      }
    }, 5000);
  },
  methods: {
    torouter(url) {
      window.location.href = url
    },
    initrenderdata() {
      this.datacarousel = [];
      const items = [1, 2, 3];
      let item = items[Math.floor(Math.random() * items.length)];
      if (item === 1) {
        this.inittriger = 1;
        this.pushdata("1");
      } else if (item === 2) {
        this.inittriger = 3;
        this.pushdata("2");
      } else if (item === 3) {
        this.inittriger = 5;
        this.pushdata("3");
      }
    },
    pushdata(index) {
      this.datacarousel = [];
      this.dataslide[index].forEach(data => {
        let dataobj = {
          content: data.content[this.gettrigerbahasa],
          image: data.image,
          deskripsi: data.deskripsi[this.gettrigerbahasa],
          button: data.button[this.gettrigerbahasa],
          link: data.link[this.gettrigerbahasa]
        };
        this.datacarousel.push(dataobj);
      });
    },
    getevent() {
      if (this.typeslide === "client") {
        this.positionget = "kiri";
        this.typeslide = "partner";
      } else {
        this.positionget = "kanan";
        this.typeslide = "client";
      }
      if (this.inittriger < 6) {
        this.inittriger++;
      } else {
        this.inittriger = 0;
        this.inittriger++;
      }
      if (this.inittriger === 3) {
        this.datacarousel = [];
        this.pushdata("2");
      } else if (this.inittriger === 5) {
        this.datacarousel = [];
        this.pushdata("3");
      } else if (this.inittriger === 1) {
        this.datacarousel = [];
        this.pushdata("1");
      }
    }
  },
  created() {
    let urlget = window.location.pathname;
    let countuse;
    // this.subscription = messageService.getMessage().subscribe(message => {
    if (this.inittriger === 1 || this.inittriger === 2) {
      countuse = 1;
    } else if (this.inittriger === 3 || this.inittriger === 4) {
      countuse = 2;
    } else {
      countuse = 3;
    }
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
    } else {
      this.gettrigerbahasa = "inggris";
    }
    //   this.gettrigerbahasa = message.text;
    this.datacarousel = [];
    this.pushdata(countuse);
    // });
  },
  beforeDestroy() {
    // this.subscription.unsubscribe();
  }
};
</script>