<template>
  <div class="howitwork-container">
    <div class="tab-container">
      <div class="how">
        <div class="col-12 mt-5 text-center">
          <h2 class="title-tab">{{dataobjinit.judul}}</h2>
        </div>
        <div class="col-12 mt-2">
          <div class="row justify-content-center">
            <div
              class="col-lg-2 col-md-4 col-6 text-center navtab-active"
              @click="clicknavtab('navtab1')"
              style="cursor:pointer"
              id="navtab1"
            >{{dataobjinit.navtab1}}</div>
            <div
              class="col-lg-2 col-md-4 col-6 text-center navtab"
              @click="clicknavtab('navtab2')"
              style="cursor:pointer"
              id="navtab2"
            >{{dataobjinit.navtab2}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="how-container">
      <div class="how">
        <div class="col-12">
          <div name="navtab1" style="display:block">
            <div class="row justify-content-center">
              <div class="col-lg-7 col-12">
                <div class="panel-content my-5">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{clientcontentget[0].nomer}}</h6>
                          <h6 class="number">01</h6>
                        </div>
                        <div class="col-md-8 col-6 py-4 bg-gray align-self-center">
                          <h6 class="text-content" v-html="clientcontentget[0].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${clientcontentget[0].image}`)"
                            alt
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row">
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${clientcontentget[1].image}`)"
                            alt
                          />
                        </div>
                        <div class="col-md-8 col-6 bg-gray py-4 align-self-center">
                          <h6 class="text-content" v-html="clientcontentget[1].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{clientcontentget[1].nomer}}</h6>
                          <h6 class="number">02</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row">
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{clientcontentget[2].nomer}}</h6>
                          <h6 class="number">03</h6>
                        </div>
                        <div class="col-md-8 col-6 py-4 bg-gray align-self-center">
                          <h6 class="text-content" v-html="clientcontentget[2].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${clientcontentget[2].image}`)"
                            alt
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row">
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${clientcontentget[3].image}`)"
                            alt
                          />
                        </div>
                        <div class="col-md-8 col-6 bg-gray py-4 align-self-center">
                          <h6 class="text-content" v-html="clientcontentget[3].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{clientcontentget[3].nomer}}</h6>
                          <h6 class="number">04</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row">
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{clientcontentget[4].nomer}}</h6>
                          <h6 class="number">05</h6>
                        </div>
                        <div class="col-md-8 col-6 py-4 bg-gray align-self-center">
                          <h6 class="text-content" v-html="clientcontentget[4].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${clientcontentget[4].image}`)"
                            alt
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-7 mt-5">
                      <button class="btn btn-orange btn-block" @click="torouter(dataobjinit.linkklien)">{{dataobjinit.button}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div name="navtab2" style="display:none">
            <div class="row justify-content-center">
              <div class="col-lg-7 col-12">
                <div class="panel-content my-5">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{partnercontentget[0].nomer}}</h6>
                          <h6 class="number">01</h6>
                        </div>
                        <div class="col-md-8 col-6 py-4 bg-gray align-self-center">
                          <h6 class="text-content" v-html="partnercontentget[0].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${partnercontentget[0].image}`)"
                            alt
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row">
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${partnercontentget[1].image}`)"
                            alt
                          />
                        </div>
                        <div class="col-md-8 col-6 bg-gray py-4 align-self-center">
                          <h6 class="text-content" v-html="partnercontentget[1].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{partnercontentget[1].nomer}}</h6>
                          <h6 class="number">02</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row">
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{partnercontentget[2].nomer}}</h6>
                          <h6 class="number">03</h6>
                        </div>
                        <div class="col-md-8 col-6 py-4 bg-gray align-self-center">
                          <h6 class="text-content" v-html="partnercontentget[2].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${partnercontentget[2].image}`)"
                            alt
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row">
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${partnercontentget[3].image}`)"
                            alt
                          />
                        </div>
                        <div class="col-md-8 col-6 bg-gray py-4 align-self-center">
                          <h6 class="text-content" v-html="partnercontentget[3].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{partnercontentget[3].nomer}}</h6>
                          <h6 class="number">04</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-3">
                      <div class="row">
                        <div class="col-md-2 col-3 text-center align-self-center">
                          <h6 class="step">{{partnercontentget[4].nomer}}</h6>
                          <h6 class="number">05</h6>
                        </div>
                        <div class="col-md-8 col-6 py-4 bg-gray align-self-center">
                          <h6 class="text-content" v-html="partnercontentget[4].content"></h6>
                        </div>
                        <div class="col-md-2 col-3 align-self-center">
                          <img
                            width="100%"
                            :src="require(`@/assets/howitwork/${partnercontentget[4].image}`)"
                            alt
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-7 mt-5">
                      <button class="btn btn-orange btn-block" @click="torouter(dataobjinit.linkmitra)">{{dataobjinit.button}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
@media all and (orientation: landscape) {
  .how-container {
    /* height:90vh; */
    /* max-height: 500px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-color: #f5f5f5;
    background-image: url(../assets/howitwork/bg_how.svg);
  }
  .panel-content {
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    padding: 3rem;
  }
}
@media all and (orientation: portrait) {
  @media (max-width: 799px) {
    .how-container {
      /* height:90vh; */
      /* max-height: 500px; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      background-color: #f5f5f5;
      background-image: url(../assets/howitwork/bg_how.svg);
    }
    .panel-content {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
  @media (min-width: 800px) {
    .how-container {
      height: 80vh;
      /* max-height: 500px; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      background-color: #f5f5f5;
      background-image: url(../assets/howitwork/bg_how.svg);
    }
    .panel-content {
      background-color: white;
      box-shadow: 0px 0px 5px grey;
      border-radius: 10px;
      padding: 3rem;
    }
  }
}
.navtab-active {
  border-bottom: solid 3px #46b29e;
  font-family: "semibold";
  font-size: 24px;
  color: #46b29e;
}
.navtab {
  font-family: "semibold";
  font-size: 24px;
}
.tab-container {
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
}
.title-tab {
  font-family: "bold";
  font-size: 36px;
  color: #265970;
}
.nav-link {
  color: #46b29e !important;
  font-family: "semibold";
  font-size: 24px;
}
.howitwork-container {
  width: 100%;
}
/* .how-container {
  /* height:90vh; */
/* max-height: 500px; */
/* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/howitwork/bg_how.svg);
} */
*/ 
.how {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
}

.bg-gray {
  background-color: #f5f5f5;
  border-radius: 5px;
}
.step {
  font-family: "medium";
  font-size: 18px;
  color: #2e6b87;
}
.number {
  font-family: "bold";
  font-size: 36px;
  color: #265970;
}
.text-content {
  font-family: "medium";
  font-size: 20px;
  margin-left: 1rem;
}
.btn-orange {
  font-size: 16px !important;
  font-family: "bold";
  background-color: #f2b451 !important;
  color: white !important;
  width: 181px;
  height: 48px;
}
</style>
<script>
/* eslint-disable */
import $ from "jquery";
export default {
  data() {
    return {
      data: [],
      dataobjinit: {},
      gettrigerbahasa: "indonesia",
      clientcontentget: [],
      partnercontentget: [],
      datagetall: {
        judul: {
          indonesia: "Cara Kerja",
          inggris: "How it Works"
        },
        button: {
          indonesia: "Gabung Sekarang",
          inggris: "Join Now"
        },
        linkklien: {
          indonesia: "/id/klien",
          inggris: "/en/client"
        },
        linkmitra: {
          indonesia: "/id/mitra",
          inggris: "/en/partner"
        },
        tab1: {
          indonesia: "Klien",
          inggris: "Client"
        },
        tab2: {
          indonesia: "Mitra",
          inggris: "Partner"
        },
        client: [
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia:
                "Daftar jadi klien <label>#ketemuin</label>",
              inggris: "Register to be <label>#ketemuin</label> client"
            },
            image: "img_hiw_c1.svg",
          },
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia: "Pilih penyedia jasa sesuai preferensimu",
              inggris: "Select service provider based on your preferences"
            },
            image: "img_hiw_c2.svg"
          },
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia: "Lakukan pembayaran ke <label>#ketemuin</label>",
              inggris: "Do payment to <label>#ketemuin</label>"
            },
            image: "img_hiw_c3.svg"
          },
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia:
                "Periksa hasil kerja penyedia jasa (Pembuatan Dokumen) / konsultasi online sesuai jadwal (Konsultasi)",
              inggris:
                "Review result (Drafting) / Do online consultation based on schedule (Consulting)"
            },
            image: "img_hiw_c4.svg"
          },
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia:
                "Konfirmasi selesai & beri penilaian terhadap penyedia jasa",
              inggris:
                "Do Confirmation of competeness and give review to the service provider"
            },
            image: "img_hiw_c5.svg"
          }
        ],
        partner: [
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia: "Daftar jadi mitra <label>#ketemuin</label>",
              inggris: "Register to be <label>#ketemuin</label> client"
            },
            image: "img_hiw_p1.svg"
          },
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia: "Beri penawaran atas pekerjaan yang masuk",
              inggris: "Submit quotation for incoming job"
            },
            image: "img_hiw_p2.svg"
          },
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia:
                "Setelah penawaran disetujui, mulai membuat dokumen (Pembuatan Dokumen) / Berikan konsultasi online sesuai jadwal (Konsultasi)",
              inggris:
                "After quotation is accepted, start drafting the document (Drafting) / Give online consultation based on schedule (Consulting)"
            },
            image: "img_hiw_p3.svg"
          },
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia: "Tunggu review & konfirmasi pekerjaan selesai",
              inggris: "Waiting for review & confirmation of completeness"
            },
            image: "img_hiw_p4.svg"
          },
          {
            nomer: {
              indonesia: "Langkah",
              inggris: "Step"
            },
            content: {
              indonesia:
                "Beri penilaian terhadap klien & terima pembayaran dari <label>#ketemuin</label>",
              inggris:
                "Give review to the client & accept payment from <label>#ketemuin</label>"
            },
            image: "img_hiw_p5.svg"
          }
        ]
      }
    };
  },
  created() {
    let urlget = window.location.pathname;
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
    } else {
      this.gettrigerbahasa = "inggris";
    }
    this.detectinibahasa();
  },
  mounted() {},
  methods: {
    torouter(url) {
      window.location.href = url
    },
    detectinibahasa() {
      this.dataobjinit = {
        judul: this.datagetall.judul[this.gettrigerbahasa],
        navtab1: this.datagetall.tab1[this.gettrigerbahasa],
        navtab2: this.datagetall.tab2[this.gettrigerbahasa],
        button: this.datagetall.button[this.gettrigerbahasa],
        linkklien: this.datagetall.linkklien[this.gettrigerbahasa],
        linkmitra: this.datagetall.linkmitra[this.gettrigerbahasa],
      };
      this.datagetall.client.forEach(data => {
        let dataobjcontent = {
          nomer: data.nomer[this.gettrigerbahasa],
          content: data.content[this.gettrigerbahasa],
          image: data.image
        };
        this.clientcontentget.push(dataobjcontent);
      });
      this.datagetall.partner.forEach(data => {
        let dataobjcontent = {
          nomer: data.nomer[this.gettrigerbahasa],
          content: data.content[this.gettrigerbahasa],
          image: data.image
        };
        this.partnercontentget.push(dataobjcontent);
      });
    },
    clicknavtab(dataget) {
      let datanavtab = ["navtab1", "navtab2"];
      datanavtab.forEach(data => {
        if (dataget === data) {
          $('div[name ="' + data + '"]').css("display", "block");
          $("#" + data).addClass("navtab-active");
        } else {
          $('div[name ="' + data + '"]').css("display", "none");
          if ($("#" + data).hasClass("navtab-active") === true) {
            $("#" + data).removeClass("navtab-active");
            $("#" + data).addClass("navtab");
          }
        }
      });
    }
  }
};
</script>