<template>
  <div class="privacy-container">
    <div class="privacy">
      <div class="row">
        <div class="col-12 text-center mb-4">
          <img
            class="mt-5"
            src="../assets/Ketemuinlogo-1.svg"
            alt=""
          />
        </div>
        <div class="col-12 mt-4">
          <h6 class="title-privasi">{{datagetall.judul1[gettrigerbahasa]}}</h6>
          <p class="content-privasi">{{datagetall.content1[gettrigerbahasa]}}</p>
        </div>
        <div class="col-12 mt-4">
          <h6 class="title-privasi">{{datagetall.judul2[gettrigerbahasa]}}</h6>
          <p class="content-privasi">{{datagetall.content2[gettrigerbahasa]}}</p>
        </div>
        <div class="col-12 mt-4">
          <h6 class="title-privasi">{{datagetall.judul3[gettrigerbahasa]}}</h6>
          <p class="content-privasi" v-html="datagetall.content3[gettrigerbahasa]">
          </p>
        </div>
        <div class="col-12 mt-4">
          <h6 class="title-privasi">{{datagetall.judul4[gettrigerbahasa]}}</h6>
          <p class="content-privasi" v-html="datagetall.content4[gettrigerbahasa]">
          </p>
        </div>
        <div class="col-12 mt-4">
          <h6 class="title-privasi">{{datagetall.judul5[gettrigerbahasa]}}</h6>
          <p class="content-privasi" v-html="datagetall.content5[gettrigerbahasa]">
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.title-privasi{
  font-family: bold;
  font-size: 16px;
}
.content-privasi{
  font-family: "medium";
  font-size: 16px;
}
.privacy {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
.privacy-container{
  width: 100%;
}
</style>
<script>
/* eslint-disable */
export default {
  data() {
    return {
      gettrigerbahasa: "indonesia",
      datagetall: {
        judul1: {
          indonesia: "Kebijakan Privasi",
          inggris: "Privacy Policy"
        },
        content1: {
          indonesia: `Sebagai sebuah portal digital yang memfasilitasi interaksi di antara para penggunanya
          (pemberi jasa maupun pengguna jasa), Ketemuin.ID (“Kami”) berkomitmen untuk senantiasa menjaga
          serta melindungi segala aspek-aspek informasi yang berkaitan dengan privasi para pengguna.
          Oleh karenanya berikut telah kami susun kebijakan privasi untuk layanan yang diselenggarakan
          melalui Ketemuin.ID agar dapat anda pahami secara menyeluruh sebelum memutuskan untuk menggunakan
          layanan Kami.`,
          inggris: `As a digital portal that facilitates interaction between users (service providers and service users),
          Ketemuin.ID ("We") is committed to always maintaining and protecting all aspects of information relating to the
          privacy of users. Therefore, we have developed a privacy policy for services that are provided through Ketemuin.
          ID so that you can understand it thoroughly before deciding to use our services.`
        },
        judul2: {
          indonesia: "Cakupan",
          inggris: "Scope"
        },
        content2: {
          indonesia: "Kebijakan privasi ini berlaku bagi Kami, para pengguna Ketemuin.ID (Pemberi Jasa/Konsultan maupun Pengguna Jasa/Klien) maupun pihak-pihak lainnya yang memiliki hubungan Kerjasama ataupun afiliasi dengan Ketemuin.ID",
          inggris: "This privacy policy applies to us, users of Ketemuin.ID (service providers/consultants and service users/clients) as well as other parties who have a partnership or affiliation with Ketemuin.ID"
        },
        judul3: {
          indonesia: "Pengamanan Informasi Yang Terkait Dengan Privasi Pengguna",
          inggris: "Information Security Related to User Privacy"
        },
        content3: {
          indonesia: `Kami berkomitmen dan akan selalu mengusahakan untuk melakukan setiap tindakan yang
          diperlukan guna menjaga keamanan data pribadi para pengguna yang di dapatkan melalui media berikut termasuk namun tidak
          terbatas pada situs, email, aplikasi ataupun berbagai sumber dalam bentuk lainnya. Kami tidak akan mengalihkan informasi
          pribadi anda kepada pihak manapun tanpa persetujuan terlebih dahulu dari anda, akan tetapi Kami dapat menggunakan,
          mengolah, mengalihkan ataupun mengungkapkan informasi pribadi anda kepada pihak ketiga dan/atau afiliasinya sebagaimana
          tercantum dalam kebijakan privasi ini. <br><br> Pihak manapun yang memiliki hubungan kerjasama dan/atau hubungan afiliasi
          dengan Kami wajib memahami dan menyetujui bahwa setiap pengelolaan, penggunaan ataupun pengalihan dan pengungkapan
          informasi terkait data pribadi para pengguna adalah tidak diperkenankan, terkecuali apabila telah mendapatkan
          persetujuan dari pemilik informasi tersebut ataupun apabila diwajibkan berdasarkan hukum dan peraturan
          perundang-undangan yang berlaku. Para pihak yang memiliki hubungan kerjasama maupun afiliasi dengan Kami yang
          telah mendapat persetujuan untuk menggunakan informasi pribadi para pengguna memiliki kewajiban untuk menggunakan
          informasi tersebut sesuai kebutuhan dan juga untuk terus menjaga kerahasiaannya. Pelanggaran terhadap ketentuan ini
          dapat menyebabkan pengenaan sanksi berdasarkan ketentuan yang terdapat pada hukum dan peraturan perundang-undangan
          yang berlaku maupun perjanjian yang mungkin disepakati diantara para pihak terkait.`,
          inggris: `We are committed and will always take any action necessary to maintain the security of the personal data of the
          users obtained through the following media, including but not limited to sites, emails, applications or various sources in
          other forms. We will not transfer your personal information to any party without your prior consent, but we may use,
          process, transfer or disclose your personal information to third parties and / or affiliates as stated in this privacy
          policy.<br><br>Any party who has a cooperative relationship and / or affiliation relationship with us must understand and
          agree that any management, use or transfer and disclosure of information related to the personal data of users is not
          permitted, except if it has been approved by the owner of the information or if required by law and applicable laws and
          regulations. The parties who have a cooperative relationship or affiliation with us who have received approval to use the
          personal information of users have an obligation to use the information as needed and also to continue to maintain
          confidentiality. Violation of this provision may result in the imposition of sanctions based on the provisions contained
          in applicable laws and regulations as well as agreements that may be agreed between the relevant parties.`
        },
        judul4: {
          indonesia: "Pengumpulan Informasi Yang Terkait Dengan Privasi Pengguna",
          inggris: "Collection of Information Related to User Privacy"
        },
        content4: {
          indonesia: `Kami dapat memperoleh informasi sensitif yang terkait dengan privasi anda pada saat anda
          memasukkan informasi tersebut melalui situs kami, email, ataupun bentuk-bentuk media lainnya. Informasi tersebut
          dapat mencakup tetapi tidak terbatas pada: nama, alamat, tanggal lahir, nomor telepon, alamat email,
          nomor identitas, data terkait usaha anda maupun jenis informasi lainnya. Kami juga dapat memperoleh informasi
          pribadi melalui perangkat elektronik anda seperti namun tidak terbatas pada alamat IP, informasi perangkat lunak,
          perangkat keras maupun bentuk informasi lainnya. Apabila anda menyampaikan informasi terkait dengan privasi pihak
          ketiga kepada Kami melalui situs, email, ataupun media lainnya, maka Anda telah mewakili Kami mendapatkan
          persetujuan dari pemilik informasi tersebut untuk tujuan penggunaannya. Berikut beberapa contoh tujuan pengumpulan
          informasi pribadi para pengguna, termasuk namun tidak terbatas pada:
          <ol>
            <li>Melaksanakan proses pendaftaran, pesanan, dan pembayaran;</li>
            <li>Melakukan proses komunikasi dengan anda sebagai pengguna layanan;</li>
            <li>Mengakomodir kebutuhan statistik dan pengembangan layanan lebih lanjut</li>
            <li>Melaksanakan kegiatan identifikasi, investigasi, dan penyelesaian atas segala aktifitas yang melanggara hukum dalam penyelenggaraan layanan Ketemuin.ID</li>
            <li>Melaksanakan kewajiban pengungkapan informasi sebagaimana mungkin diwajibkan berdasarkan hukum dan peraturan perundang-undangan yang berlaku</li>
          </ol>`,
          inggris: `We may obtain sensitive information related to your privacy when you enter this information through our
          site, e-mail, or other forms of media. This information may include but is not limited to: name, address, date of
          birth, telephone number, e-mail address, identification number, data related to your business or other types of
          information. We may also obtain personal information through your electronic devices such as but not limited to IP
          addresses, software information, hardware or other forms of information. If you submit information related to the privacy
          of third parties to us through the site, email, or other media, then you have represented us with the consent of the owner
          of the information for the purpose of its use. Following are a few examples of the purpose of collecting users' personal
          information, including but not limited to:
          <ol>
            <li>Carry out the registration process, orders, and payments;</li>
            <li>Carry out a communication process with you as a service user;</li>
            <li>Accommodate statistical needs and further service development</li>
            <li>Carry out identification, investigation, and settlement activities for all activities that violate the law in the organization of the Ketemuin.ID service</li>
            <li>Carry out information disclosure obligations as may be required under applicable laws and regulations</li>
          </ol>`
        },
        judul5: {
          indonesia: "Pengelolaan, Penggunaan, Pengalihan dan Pengungkapan Informasi Yang Terkait Dengan Privasi Pengguna",
          inggris: "Management, Use, Transfer and Disclosure of Information Related To User Privacy"
        },
        content5: {
          indonesia: `Dengan menyampaikan informasi pribadi anda kepada Kami, Anda telah setuju dan memberi izin kepada Kami untuk
          mengelola, menggunakan, mengalihkan, mengungkapkan informasi pribadi Anda sehubungan dengan pelaksanaan layanan Kami,
          kepada pihak-pihak termasuk namun tidak terbatas kepada:
          <ol>
            <li>Setiap entitas usaha yang terkait dengan Kami;</li>
            <li>Setiap pihak yang memiliki perjanjian kerjasama dengan Kami;</li>
            <li>Setiap asosiassi terkait dengan bidang usaha Kami;</li>
            <li>Setiap agen, afiliasi, atau penyedia layanan pihak ketiga yang menyediakan administrasi, telekomunikasi, computer, pembayaran atau jasa lainnya kepada Kami terkait kegiatan operasional Kami;</li>
            <li></li>
          </ol>
          <br>
          Anda memiliki hak untuk mengubah ataupun memperbarui informasi pribadi yang telah anda sampaikan kepada Kami. Anda juga
          memiliki hak untuk mengakses setiap informasi pribadi yang telah anda berikan kepada Kami melalui media yang telah Kami
          sediakan. Anda berhak untuk tidak menyetujui ataupun menarik persetujuan yang telah anda berikan kepada Kami sehubungan
          dengan pengelolaan, penggunaan, pengalihan dan pengungkapan informasi pribadi anda oleh Kami sepanjang tidak dilarang
          berdasarkan hukum dan peraturan perundang-undangan yang berlaku, namun hal ini dapat menyebabkan Kami tidak dapat lagi
          memberikan layanan kepada anda.`,
          inggris: `By submitting your personal information to us, you have agreed and gave us permission to manage, use, transfer,
          disclose your personal information in connection with the conduct of our services, to parties including but not limited to:
          <ol>
            <li>Every business entity related to us;</li>
            <li>Every party who has a cooperation agreement with us;</li>
            <li>Every association associated with our line of business;</li>
            <li>Any agent, affiliate or third-party service provider that provides administration, telecommunications, computers, payments or other services to us in connection with our operational activities;</li>
            <li>Each relevant authorized agency, as well as any person or business entity, or government authority, for which we have the obligation to disclose the personal information of users of our services in accordance with applicable laws and regulations.</li>
          </ol>
          <br>
          You have the right to change or update the personal information that you have submitted to us. You also have the
          right to access any personal information that you have provided to us through the media that we have provided. You
          have the right not to approve or withdraw the agreement you have given us in connection with the management, use,
          transfer and disclosure of your personal information by us as long as it is not prohibited under the laws and
          regulations, but this can cause us to no longer be able provide services to you.`
        }
      }
    };
  },
  created() {
    let urlget = window.location.pathname;
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
    } else {
      this.gettrigerbahasa = "inggris";
    }
  },
  mounted() {
  },
  methods: {
    torouter(url) {
      window.location.href = url
    },
  }
};
</script>