<template>
  <div class="privacy-container">
    <div class="privacy">
      <div class="row">
        <div class="col-12 text-center mb-2">
          <img
            class="mt-4"
            src="../assets/Ketemuinlogo-1.svg"
            alt=""
          />
        </div>
        <div class="col-12 mt-4">
          <h6 class="title-privasi">{{datagetall.judul1[gettrigerbahasa]}}</h6>
          <p class="content-privasi">{{datagetall.content1[gettrigerbahasa]}}</p>
        </div>
        <div class="col-12 mt-3">
          <h6 class="title-privasi">{{datagetall.judul2[gettrigerbahasa]}}</h6>
          <p class="content-privasi" v-html="datagetall.content2[gettrigerbahasa]"></p>
        </div>
        <div class="col-12 mt-3">
          <h6 class="title-privasi">{{datagetall.judul3[gettrigerbahasa]}}</h6>
          <p class="content-privasi" v-html="datagetall.content3[gettrigerbahasa]">
          </p>
        </div>
        <div class="col-12 mt-3">
          <h6 class="title-privasi">{{datagetall.judul4[gettrigerbahasa]}}</h6>
          <p class="content-privasi" v-html="datagetall.content4[gettrigerbahasa]">
          </p>
        </div>
        <div class="col-12 mt-3">
          <h6 class="title-privasi">{{datagetall.judul5[gettrigerbahasa]}}</h6>
          <p class="content-privasi" v-html="datagetall.content5[gettrigerbahasa]">
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.title-privasi{
  margin-bottom: 1.5rem;
  font-family: bold;
  font-size: 16px;
}
.content-privasi{
  font-family: "medium";
  font-size: 16px;
}
.privacy {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
.privacy-container{
  width: 100%;
}
</style>
<script>
/* eslint-disable */
export default {
  data() {
    return {
      gettrigerbahasa: "indonesia",
      datagetall: {
        judul1: {
          indonesia: "Syarat Dan Ketentuan Layanan",
          inggris: "Terms and Conditions of Service"
        },
        content1: {
          indonesia: `PT Mempertemukan Lewat Teknologi (“Ketemuin”) adalah suatu perseroan terbatas yang didirikan
          berdasarkan hukum negara Republik Indonesia dan beralamat kedudukan di Jakarta, yang mana merupakan pemilik dan pengelola
          sebuah situs bernama www.ketemuin.id (“Platform”). Ketemuin menyediakan layanan yang berperan mempertemukan pengguna
          jasa (“Klien”) dengan setiap penyedia pada bidang jasanya masing-masing (“Konsultan”) termasuk namun tidak terbatas pada
          bidang hukum, psikologi, keuangan, dan teknologi.`,
          inggris: `PT Mempertemukan Lewat Teknologi (“Ketemuin”) is a limited liability company established under the
          laws of the Republic of Indonesia and having its domicile in Jakarta, which is the owner and the management of a
          site called www.ketemuin.id ("Platform"). Ketemuin provide services that have the role of bringing together
          service users ("Clients") with service providers in their respective service areas ("Consultants") including but
          not limited to the fields of law, psychology, finance, and technology.`
        },
        judul2: {
          indonesia: "Ketentuan Penggunaan",
          inggris: "Terms of Use"
        },
        content2: {
          indonesia: `Anda setuju untuk mematuhi setiap dan semua pedoman, pemberitahuan, aturan operasi dan kebijakan dan
          instruksi yang berkaitan dengan penggunaan dan/atau akses ke Platform, serta setiap perubahan-nya, yang dikeluarkan oleh
          kami, dari waktu ke waktu. Kami berhak untuk melakukan ubahan atas pedoman, pemberitahuan, aturan operasi, kebijakan dan
          instruksi sewaktu-waktu dan Anda dianggap mengetahui dan tunduk oleh setiap perubahan tersebut di atas setelah ada-nya
          pemberitahuan atau publikasi atas perubahan tersebut di Platform atau pemberitahuan melalui media lain.<br><br>
          Kami berhak untuk melakukan peningkatan, modifikasi, penghentian sementara, menghentikan penyediaan, menghapus, baik
          secara keseluruhan atau sebagian dari Platform, tanpa memberikan alasan & pemberitahuan sebelumnya, dan tidak
          bertanggung jawab jika peningkatan, modifikasi, suspensi atau penghapusan tersebut mencegah Anda mengakses Platform.<br><br>
          Kami memiliki hak penuh untuk melakukan hal-hal berikut:<br><br>
          Memantau, menyaring atau mengontrol setiap kegiatan, isi atau materi pada Platform. Atas kebijakan kami sendiri,
          kami dapat menyelidiki setiap pelanggaran terhadap Syarat dan Ketentuan dan dapat mengambil tindakan apapun yang
          dianggap sesuai atau tepat;<br><br>
          Mencegah atau membatasi akses pengguna pada Platform apabila menurut kami diperlukan;<br><br>
          Melaporkan kegiatan yang dicurigai sebagai pelanggaran terhadap hukum dan peraturan perundang-undangan yang berlaku kepada
          pihak yang berwenang serta bekerja sama dengan pihak berwenang tersebut; dan/atau <br><br>
          Meminta informasi dan data sehubungan dengan penggunaan layanan pada Platform dan/atau akses Platform setiap saat, dan
          sebagai pelaksanaan atas hak kami tersebut, jika Anda menolak untuk memberikan/mengungkapkan informasi/data yang
          diminta, atau jika Anda memberikan informasi tidak akurat, menyesatkan, penipuan data dan/atau informasi atau jika kami
          memiliki alasan yang cukup mencurigai Anda telah menyediakan informasi tidak akurat, menyesatkan atau penipuan data
          dan/atau informasi, kami berhak secara serta merta menghentikan atau menonaktifkan akun Anda.`,
          inggris: `You agree to comply with any and all guidelines, notices, operating rules and policies and instructions
          relating to the use and / or access to the Platform, as well as any changes, issued by us, from time to time. We
          reserve the right to make changes to the guidelines, notices, operating rules, policies and instructions at any time
          and you are considered to be aware of and subject to any of the changes mentioned above after there is a notification or
          publication of these changes on the Platform or notice through other media.<br><br>
          We reserve the right to make improvements, modifications, temporary termination, termination of service provided,
          content removal, either in whole or in part of the Platform, without giving reasons & prior notification, and are not
          responsible if the enhancement, modification, suspension or deletion prevents you from accessing the Platform.<br><br>
          We have the full right to do the following:<br><br>
          Monitor, filter or control every activity, content or material on the Platform. At our sole discretion, we can
          investigate any violation of the Terms and Conditions and may take any action deemed appropriate or effective;<br><br>
          Prevent or limit user access to the Platform if we believe it is needed;<br><br>
          Report activities suspected of being in violation of applicable laws and regulations to the competent authorities
          and cooperate with these authorities; and / or <br><br>
          Request information and data in connection with the use of services on the Platform and / or Platform access at any
          time, and as an exercise of our rights, if you refuse to provide / disclose the requested information / data, or if
          you provide inaccurate, misleading, fraudulent data and / or information or if we have a reasonable reason to
          suspect that you have provided inaccurate, misleading or fraudulent information and/or data, we have the right to
          immediately terminate or deactivate your account.`
        },
        judul3: {
          indonesia: "Penggunaan Yang Dilarang",
          inggris: "Prohibited Uses"
        },
        content3: {
          indonesia: `Dalam mengakses dan/atau menggunakan Platform kami, Anda menyetujui bahwa Anda tidak akan:<br><br>
          menggunakan peranti, perangkat lunak, proses atau cara otomatis untuk mengakses, mengambil, mengumpulkan, atau
          membuat indeks atau konten apapun pada Platform;<br><br>
          menggunakan peranti, perangkat lunak, proses atau cara apa pun untuk mengganggu atau berusaha mengganggu kerja yang
          benar pada Platform;<br><br>
          mengambil tindakan apa pun yang akan mengenakan beban atau membuat permintaan yang berlebihan pada layanan pada
          Platform yang kami anggap, menurut diskresi kami, semata-mata sebagai penggunaan situs yang tidak wajar atau tidak
          seimbang;<br><br>
          mengirimkan spam, surat berantai, kontes, junk email, survey, atau mass messaging lainnya, baik yang bersifat komersial
          atau tidak;<br><br>
          menggunakan Platform atau konten apa pun dari Platform dengan cara apa pun yang, menurut diskresi mutlak kami, tidak
          wajar dan / atau tidak untuk tujuan penyediaannya;<br><br>
          melanggar hak-hak yang dimiliki oleh orang mana pun, termasuk hak cipta, rahasia dagang, hak privasi, atau setiap hak
          kekayaan intelektual atau hak kepemilikan lainnya;<br><br>
          berpura-pura sebagai orang atau entitas mana pun atau berupaya untuk memperoleh uang, kata kunci atau informasi pribadi
          dari orang lain;<br><br>
          bertindak dengan melanggar Syarat & Ketentuan atau ketentuan lain yang dikenakan oleh kami atau setiap hukum yang
          berlaku;<br><br>
          menggandakan, mempublikasikan ulang, mengirimkan ulang, memodifikasi, mengadaptasi, mendistribusikan, menerjemahkan,
          membuat karya turunan atau adaptasi dari, menampilkan untuk publik, menjual, memperdagangkan, atau dengan cara apa
          pun mengusahakan platform kami atau setiap konten pada situs web kami, kecuali sebagaimana diotorisasi secara tegas
          oleh kami; atau <br><br>
          mengirimkan atau berusaha mengirimkan virus komputer, worm, cacat, kuda Trojan atau hal lain apapun yang bersifat
          destruktif. Kami mencadangkan hak untuk melaksanakan cara apa pun yang kami anggap perlu untuk mencegah akses yang
          tidak sah kepada atau penggunaan situs web kami, termasuk namun tidak terbatas pada, membuat hambatan-hambatan
          teknologi, atau melaporkan perilaku Anda kepada orang atau entitas mana pun.<br><br>
          Mengunggah, memasang, mengirimkan, menyebarkan, membantu distribusi konten, termasuk teks, gambar, video, suara,
          data dan informasi lain pada situs web kami, yaitu informasi yang salah atau menyesatkan, informasi pribadi yang
          melanggar privasi orang lain, informasi yang mengandung kebohongan, atau hal-hal yang dilanggar oleh hukum, atau
          bertujuan untuk menganggu pengguna situs web kami, dan informasi lain yang dapat merusak reputasi Platform kami.<br><br>
          Menyebarkan informasi-informasi menyesatkan yang tidak sesuai dengan layanan Ketemuin;<br><br>
          Melakukan tindakan apapun yang dapat merusak fitur-fitur yang dimiliki oleh Ketemuin;`,
          inggris: `In accessing and / or using our Platform, you agree that you will not:<br><br>
          use devices, software, processes or any automated means to access, retrieve, collect, or create indexes or any
          content on the Platform;<br><br>
          use any device, software, process or method to interrupt or attempt to interfere with the correct work on the
          Platform;<br><br>
          take any action that will impose a burden or make excessive requests on services on the Platform which we consider,
          in our discretion, solely as an improper or unequal use of the site;<br><br>
          sending spam, chain letters, contests, junk emails, surveys or other mass messaging, whether commercial or not;<br><br>
          use the Platform or any content from the Platform in any way that, in our absolute discretion, is unnatural and / or not
          for the purpose of providing it;<br><br>
          violate the rights owned by any person, including copyright, trade secrets, privacy rights, or any other intellectual
          property or other ownership rights;<br><br>
          pretend to be any person or entity or attempt to obtain money, keywords or personal information from others;<br><br>
          act in violation of the Terms & Conditions or other conditions imposed by us or any applicable law;<br><br>
          copy, republish, resubmit, modify, adapt, distribute, translate, make derivative works or adapt from, publicly
          display, sell, trade, or in any way endeavor to use our platform or any content on our website, except as authorized
          expressly by us; or<br><br>
          transmit or attempt to transmit computer viruses, worms, defects, Trojan horses or any other thing that is considered
          destructive. <br><br>
          We reserve the right to carry out any means we deem necessary to prevent unauthorized access to or use of our website,
          including but not limited to, creating technological obstacles, or reporting your behavior to any person or entity.<br><br>
          Upload, post, transmit, disseminate, assist in the distribution of content, including text, images, videos, sounds, data
          and other information on our website, i.e. false or misleading information, personal information that violates the privacy
          of others, information that contains lies, or things that are violated by law, or aim to disrupt our website users,
          and other information that can damage the reputation of our Platform.<br><br>
          Distribution of misleading information that is not compatible with the Ketemuin service;<br><br>
          Take any action that can damage the features possessed by Ketemuin;`
        },
        judul4: {
          indonesia: "Larangan – Klien",
          inggris: "Prohibition - Client"
        },
        content4: {
          indonesia: `Menggunakan layanan pada Platform dengan itikad tidak baik;<br><br>
          Menggunakan layanan pada Platform tanpa niat untuk membayar harga layanan dengan tujuan apapun tanpa ada pengecualian;<br><br>
          Melakukan pendaftaran atau melakukan negosiasi atau meminta suatu layanan jasa dengan tujuan untuk menggunakan harga, atau
          informasi lainnya yang tercantum pada Platform demi kepentingan komersial, kompetisi bisnis, survei pasar atau penggunaan
          lainnya yang bertentangan dengan Syarat dan Ketentuan ini;<br><br>
          Memberikan informasi yang tidak benar atau menyesatkan kepada Penyedia Jasa melalui Platform, termasuk pada saat melengkapi
          data-data yang diminta pada form dan mengunggah data yang tidak benar pada bagian-bagian tertentu dalam Platform;<br><br>
          Melakukan negosiasi secara langsung dengan Konsultan terkait hasil layanan, harga layanan atau hal-hal lain sehubungan dengan
          layanan tanpa melalui Platform.`,
          inggris: `Using services on the Platform without noble intentions;<br><br>
          Using services on the Platform without the intention to pay the price of services for any purpose without exceptions;<br><br>
          Registering or negotiating or requesting a service for the purpose of using prices, or other information listed on the
          Platform for commercial purposes, business competition, market surveys or other uses that conflict with these Terms and
          Conditions;<br><br>
          Providing incorrect or misleading information to Service Providers through the Platform, including when completing requested
          data on the form and uploading incorrect data on certain parts of the Platform;<br><br>
          Negotiating directly with the Consultant related to the results of services, price of services or other matters relating
          to the service without going through the Platform.`
        },
        judul5: {
          indonesia: "Larangan – Konsultan",
          inggris: "Prohibition - Consultant"
        },
        content5: {
          indonesia: `
          Mendaftarkan jasa pada Platform kami untuk kategori layanan tidak relevan atau tidak sesuai dengan layanan pada
          Platform;<br><br>
          Memberikan informasi yang tidak benar mengenai identitas diri, pekerjaan dan lokasi kerja;<br><br>
          Memasukkan nama pihak ketiga lain atau nama yang tidak pantas dalam profil, judul atau postingan lainnya, pesan
          atau penyampaian yang dilakukan di atau melalui Platform;<br><br>
          Memuat informasi yang menipu atau tidak benar pada keterangan profil yang disampaikan kepada kami;<br><br>
          Menggunakan profil pribadi atau Platform kami untuk mempromosikan layanan yang tidak disediakan atau layanan yang
          tidak diakui dalam Platform dan/atau hal apapun yang melanggar hukum;<br><br>
          Membujuk atau mendesak Klien secara langsung untuk melakukan pembayaran atas harga layanan atau melakukan
          hal-hal yang lain tanpa persetujuan kami;<br><br>
          Menawarkan atau memberikan layanan secara langsung kepada Pengguna Jasa tanpa melalui Platform.
         `,
          inggris: `
          Registering services on our Platform for service categories irrelevant or not compatible with services on the
          Platform;<br><br>
          Providing incorrect information about self-identity, work and work location;<br><br>
          Enter the name of another third party or an inappropriate name in the profile, title or other posts, messages or
          submissions made on or through the Platform;<br><br>
          Contains deceptive or incorrect information in the profile information submitted to us;<br><br>
          Use our personal profile or Platform to promote services not provided or services that are not recognized in the
          Platform and / or anything that violates the law;<br><br>
          Persuade or urge the Client directly to make payment for the price of the service or do other things without our
          agreement;<br><br>
          Offering or providing services directly to Service Users without going through the Platform.`
        },
        judul6: {
          indonesia: "Penyampaian Data Pengguna",
          inggris: "Submission of User Data"
        },
        content6: {
          indonesia: `
          Data yang diberikan oleh Klien dan Konsultan kepada kami harus akurat, lengkap, dan valid. Jika data yang diberikan tidak
          akurat atau tidak lengkap atau tidak valid, maka kami berhak untuk menghapus, menghentikan atau meng-non-aktifkan akun
          yang bersangkutan.
         `,
          inggris: `
          Data provided by Clients and Consultants to us must be accurate, complete and valid. If the data provided is inaccurate or
          incomplete or invalid, we reserve the right to delete, terminate or deactivate the relevant account.
         `
        },
        judul7: {
          indonesia: "Hak & Kewajiban – Klien",
          inggris: "Rights & Obligations - Clients"
        },
        content7: {
          indonesia: `
          Klien berkewajiban untuk memenuhi setiap permohonan atas informasi, data serta kelengkapan dokumen lainnya sesuai pilihan
          layanan pada Platform dalam waktu  yang disepakati bersama sejak layanan dipesan. Keterlambatan atas pemenuhan informasi,
          data dan kelengkapan dokumen lainnya yang melampaui periode waktu tersebut akan berakibat pada terhapusnya project Anda
          secara otomatis dari sistem kami, berikut pembayaran yang telah dibayarkan.<br><br>
          Klien wajib memenuhi setiap permohonan atas informasi yang diminta pada Platform kami, permintaan mana semata-mata untuk
          tujuan verifikasi identitas dan pengumpulan data secara menyeluruh untuk keperluan penyediaan layanan kepada Klien;<br><br>
          Klien wajib untuk memberikan informasi yang akurat, lengkap dan valid kepada Konsultan sesuai dengan persyaratan atas
          pilihan layanan pada Platform kami;<br><br>
          Klien wajib membayar biaya layanan kepada Konsultan sesuai dengan harga yang disepakati melalui Platform kami secara tepat
          waktu dan dalam jumlah penuh sesuai dengan tata cara pembayaran layanan terkait;<br><br>
          Klien berhak untuk mendapatkan hasil pekerjaan dari Konsultan sesuai dengan layanan yang dipilih pada Platform secara
          tepat waktu dan dengan hasil pekerjaan yang berkualitas.
         `,
          inggris: `
          The client is obliged to fulfill every request for information, data and other documents in accordance with the
          service options on the Platform within the agreed time after the service is ordered. Delay in the fulfillment of
          information, data and other documents that exceed the mentioned time period will result in the deletion of your
          project automatically from our system, along with the payment that has been paid.<br><br>
          The client is obliged to fulfill every request for information requested on our Platform, which request is solely
          for the purpose of verifying identity and overall data collection for the purpose of providing service to Client;<br><br>
          The Client is obliged to provide accurate, complete and valid information to the Consultant in accordance with the
          requirements of service choices on our Platform;<br><br>
          The client is obliged to pay service fees to the Consultant at the agreed price through our Platform in a timely
          manner and in full amount in accordance with the relevant service payment terms;<br><br>
          The client is entitled to get the service result from the Consultant work according to the services selected on the
          Platform in a timely manner and with quality work results.
         `
        },
        judul8: {
          indonesia: "Hak dan Kewajiban – Konsultan",
          inggris: "Rights and Obligations - Consultant"
        },
        content8: {
          indonesia: `
          Konsultan berkewajiban untuk melaksanakan pekerjaan yang disanggupinya melalui Platform dengan baik dan maksimal
          serta wajib untuk mengirimkan hasil pekerjaan secara tepat waktu kepada Klien;<br><br>
          Konsultan berkewajiban untuk memenuhi setiap permohonan atas informasi untuk tujuan verifikasi identitas pada
          Platform kami;<br><br>
          Konsultan berhak untuk menerima informasi yang akurat, lengkap dan valid atas Klien sesuai dengan persyaratan yang
          diminta untuk pilihan layanan pada Platform kami;<br><br>
          Konsultan berhak menerima pembayaran atas hasil pekerjaan sesuai dengan harga yang disepakati dengan klien melalui
          Platform secara tepat waktu dan dalam jumlah penuh.`,
          inggris: `
          The Consultant is obliged to carry out the work that he has agreed to through the Platform properly and with maximum
          effort and is obliged to deliver the results of work in a timely manner to the Client;<br><br>
          Consultants are obliged to fulfill every request for information for identity verification purposes on our Platform;
          The Consultant has the right to receive accurate, complete and valid information on the Client in accordance with
          the requirements requested for service options on our Platform;<br><br>
          The consultant is entitled to receive payment for the work at the price agreed with the client through the Platform
          in a timely and full amount.
         `
        },
        judul9: {
          indonesia: "Ketentuan Pembayaran",
          inggris: "Payment Terms"
        },
        content9: {
          indonesia: `Penggunaan Platform ini adalah bebas biaya. Kami dapat mengenakan biaya untuk pengunduhan dan/atau
          penggunaan Platform pada setiap saat, dengan pemberitahuan terlebih dahulu agar Anda dapat memutuskan apakah Anda
          ingin terus menggunakan Platform tersebut atau tidak. Namun demikian, sambungan internet yang dibutuhkan untuk
          menggunakan Platform, dan setiap biaya terkait (seperti biaya penggunaan data internet) yang ditimbulkan oleh
          penggunaan Platform tersebut adalah tanggung jawab Anda dan semata-mata dibebankan kepada Anda.<br><br>
          Harga yang berlaku pada setiap layanan dapat ditemukan pada Platform. Kami secara sepihak dapat mengubah dan/atau
          memperbaharui harga layanan tersebut dari waktu ke waktu.<br><br>
          Anda (Klien) setuju dan menyatakan sanggup untuk melakukan pembayaran (uang muka maupun pelunasannya ketika pekerjaan
          selesai) atas harga layanan yang Anda pilih pada Platform dan dalam jumlah penuh.<br><br>
          Anda (Klien) setuju dan menyatakan sanggup untuk membayar harga atas layanan yang diberikan kepada Anda secara tepat
          waktu dan dalam jumlah penuh.<br><br>
          Pembayaran dapat dilakukan dengan menggunakan metode transfer elektronik ke rekening Bank milik PT Mempertemukan
          Lewat Teknologi atau rekening bank lain yang ditunjuk dan/atau cara pembayaran lainnya yang disepakati bersama.<br><br>
          Berikut detail rekening Bank milik PT Mempertemukan Lewat Teknologi:<br><br>
          Bank: BCA
          Nama Pemilik Rekening: PT Mempertemukan Lewat Teknologi
          Nomor Rekening : [__________]<br><br>
          Dalam beberapa kasus di mana pekerjaan harus kami laksanakan terlebih dahulu karena permintaan yang sifatnya sangat
          mendesak, tagihan akan kami kirimkan pada saat pekerjaan selesai kami laksanakan sesuai ruang lingkup pekerjaan
          terkait permintaan.<br><br>
          Tagihan wajib dibayarkan selambat-lambatnya pada tanggal yang tercantum sesuai dengan ketentuan yang diinformasikan
          oleh kami, baik melalui surat elektronik, situs, sales quotation, sales invoice dan/atau metode lainnya.<br><br>
          Keterlambatan pembayaran yang melampaui jatuh tempo akan dikenakan denda secara otomatis dari system dan/atau akan
          dikenakan sesuai dengan ketentuan yang diinformasikan oleh kami, baik melalui surat elektronik, situs, sales
          quotation, sales invoice dan/atau metode lainnya. Kami akan turut menghubungi Anda (Klien) untuk mengingatkan Anda
          atas kewajiban Anda.<br><br>
          Pembayaran yang telah Anda (Klien) lakukan tidak dapat dikembalikan ketika Anda telah menyetujui Syarat & Ketentuan
          ini sebagaimana tercantum pada Platform kami, apabila:<br><br>
          Anda (Klien) tidak melengkapi informasi yang diminta dalam bentuk form atau bentuk lainnya pada Platform dan/atau
          tidak mengunggah data-data yang diminta sebagai persyaratan sesuai pilihan layanan pada Platform, dalam jangka waktu
          yang disepakati dan/atau diinformasikan saat memilih layanan sehingga mengakibatkan project Anda secara otomatis
          terhapuskan oleh sistem; atau<br><br>
          Anda (Klien) memutuskan secara sepihak untuk menangguhkan pekerjaan atas layanan yang dipilih karena hal-hal
          internal yang terjadi pada usaha Anda atau hal-hal lain yang sepenuhnya merupakan keputusan Anda, maka dana yang
          sudah dibayarkan kepada kami akan dikonversi menjadi deposit atas nama Anda yang dapat digunakan untuk pilihan
          layanan lainnya pada Platform dan berlaku untuk 1 (satu) tahun sejak Anda memilih layanan pada Platform; atau<br><br>
          Anda (Klien) memutuskan secara sepihak dengan alasan apapun juga, tidak ada yang dikecualikan, untuk membatalkan
          pekerjaan atas layanan yang dipilih pada Platform, maka dana yang sudah dibayarkan kepada kami akan dikonversi
          menjadi deposit atas nama Anda yang dapat digunakan untuk pilihan layanan lainnya pada Platform dan berlaku untuk 1
          (satu) tahun sejak Anda memilih layanan pada Platform.`,
          inggris: `
          The use of this platform is free of charge. We may charge fees for downloading and / or using the Platform at any
          time, with prior notice so you can decide whether you want to continue using the Platform or not. However, the
          internet connection required to use the Platform, and any related costs (such as internet data usage fees) incurred
          by the use of the Platform are your responsibility and are solely borne by you.<br><br>
          Prices that apply to each service can be found on the Platform. We can change and / or update the price of the
          service from time to time without prior notice.<br><br>
          You (the Client) agree and declare that you are able to make payments (down payment or repayment when the work is
          completed) for the price of the service you selected on the Platform and in full amount.<br><br> 
          You (the Client) agree and declare to be able to pay the price for the services provided to you in a timely and full
          amount.<br><br>
          Payment can be made using the electronic transfer method to the bank account of PT. Mempertemukan Lewat Teknologi or
          another designated bank account and/or another payment method. Below are the details of to the bank account of PT.
          Mempertemukan Lewat Teknologi:<br><br>
          Bank Name: Bank BCA
          Account Holder Name: PT. Mempertemukan Lewat Teknologi
          Account number : [__________]<br><br>
          In several cases where we have to do the work first because the request is very urgent, we will send invoices when
          we finish the work according to the scope of work related to the request.<br><br>
          Bills must be paid at the latest as the conditions in the payment terms that is informed by us, either via email,
          website, sales quotation, sales invoice and/or other methods.<br><br>
          Delayed payments that exceed the due date will be subject to a penalty that will be charged automatically by the
          system and/or will be charged as per informed by us, either via email, website, sales quotation, sales invoice
          and/or other methods. We will also contact you to remind you of your obligations.<br><br>
          Payments that You (the Client) have made cannot be returned when you have agreed to these Terms & Conditions as
          stated on our Platform, if:<br><br>
          You (the Client) do not complete the information requested in the form or other forms on the Platform and / or do
          not upload the requested data as a condition according to the service choice on the Platform, within a period as per
          agreed/informed when you choose the service, which will result in your project automatically eliminated by the system;
          or<br><br>
          You (the Client) decide unilaterally to suspend work for the service chosen because of internal matters that occur
          in your business or other matters that are entirely your decision, then the funds that have been paid to us will be
          converted into a deposit on your behalf that can be used for other service options on the Platform and are valid for 1
          (one) year since you chose the service on the Platform; or<br><br>
          You (the Client) decide unilaterally for any reason, nothing is excluded, to cancel the work for the services
          selected on the Platform, then the funds that have been paid to us will be converted into a deposit on your behalf
          that can be used for other service options on the Platform and apply to 1 (one) year since you chose the service on
          the Platform.`
        },
        judul10: {
          indonesia: "Pembatasan Tanggung Jawab dan Jaminan",
          inggris: "Limitation of Liability and Guarantee"
        },
        content10: {
          indonesia: `
          Kami tidak memberikan pernyataan, jaminan atau garansi atas dapat diandalkannya, ketepatan waktu, kualitas, kesesuaian,
          ketersediaan, akurasi atau kelengkapan dari Platform, termasuk namun tidak terbatas pada layanan yang diperoleh atau
          berasal dari Konsultan melalui Platform. Kami tidak menyatakan atau menjamin bahwa (a) Platform, selalu tersedia tanpa
          gangguan, aman atau bebas dari kesalahan atau kelalaian, atau setiap cacat yang ditemukan akan langsung diperbaiki;
          (b) Platform selalu bebas dari virus komputer atau kode berbahaya lainnya, merugikan, merusak, agen, program atau macro;
          (c) keamanan atas informasi apapun yang dikirim oleh Anda atau untuk Anda melalui Platform, dan dengan ini Anda menerima
          risiko bahwa informasi apapun yang dikirim atau diterima melalui Platform dapat diakses oleh pihak ketiga yang tidak sah
          dan/atau diungkapkan oleh kami atau petugas, karyawan atau agen kepada pihak ketiga yang mengaku Anda atau mengaku
          bertindak di bawah otoritas Anda. Transmisi melalui jaringan internet dan surat elektronik dapat dikenakan gangguan,
          pemadaman transmisi, penundaan transmisi karena lalu lintas jaringan internet atau transmisi data yang tidak benar karena
          sifat publik dari jaringan internet.<br><br>
          Kami tidak bertanggung jawab kepada Anda atas kerugian apapun atau penyebabnya lain dalam bentuk apapun juga yang timbul
          baik secara langsung maupun tidak langsung yang terkait atas: (a) akses, penggunaan dan/atau ketidakmampuan untuk
          menggunakan Platform; atau (b) sistem, server atau koneksi yang gagal, kesalahan, kelalaian, gangguan, keterlambatan
          dalam transmisi, virus komputer atau kode berbahaya, merugikan, merusak lainnya, agent program atau macros;<br><br>
          Kami menggunakan cara-cara teknis dan keamanan yang tepat dan wajar untuk menjaga Platform selalu aman dan terbebas
          dari virus dan kesalahan. Namun demikian, bagaimanapun efektifnya teknologi ini, tidak ada sistem keamanan yang
          tidak dapat ditembus atau mengalami kegagalan. Oleh karena itu, kami tidak dapat menjamin keamanan database kami dan
          kami juga tidak dapat menjamin bahwa informasi yang Anda berikan tidak akan ditahan/terganggu saat sedang dikirimkan
          kepada kami.<br><br>
          Kami tidak memberikan pernyataan, jaminan atau garansi serta tidak bertanggung jawab atas setiap usulan tolak, penolakan,
          kendala dan/atau hambatan lain yang timbul dan terjadi selama proses pelaksanaan pekerjaan oleh Konsultan melalui Platform,
          terutama untuk layanan yang erat hubungannya dengan Instansi Pemerintah, dan/atau Instansi Yang Berwenang lain. Pada
          dasarnya, Instansi Pemerintah dan/atau Instansi Yang Berwenang lain memiliki hak mutlak untuk menentukan syarat kelengkapan
          dokumen dan prosedur yang berlaku.<br><br>
          Setiap tuntutan terhadap kami dalam hal apapun oleh Anda, akan dibatasi dengan jumlah total yang sebenarnya dibayar oleh
          dan/atau terhutang pada Anda ketika menggunakan Platform selama peristiwa yang menimbulkan klaim tersebut. Kami tidak
          akan bertanggung jawab atas kerugian, kerusakan atau cidera yang mungkin ditimbulkan oleh atau disebabkan oleh Anda.<br><br>
          Anda secara tegas mengesampingkan dan melepaskan kami dari setiap dan semua kewajiban, tuntutan atau kerusakan yang timbul
          dari atau dengan cara apapun sehubungan dengan hasil pekerjaan yang disampaikan oleh Konsultan melalui Platform. PT
          Mempertemukan Lewat Teknologi tidak akan menjadi pihak dalam sengketa, ataupun negosiasi sengketa antara Anda dengan
          Konsultan/Klien. Tanggung jawab untuk keputusan yang Anda buat atas layanan yang ditemukan melalui Platform kami merupakan
          tanggung jawab dan melekat seutuhnya dengan dan pada Anda. Anda secara tegas mengesampingkan dan melepaskan kami dari
          setiap dan semua kewajiban, tuntutan, penyebab tindakan, atau kerusakan yang timbul dari penggunaan Platform, perangkat
          lunak, atau dengan cara apapun terkait dengan Pengguna Jasa/Penyedia Jasa yang diperkenalkan kepada Anda melalui Platform
          kami.
         `,
          inggris: `
         We make no representations, guarantees or guarantees for the reliability, timeliness, quality, suitability,
         availability, accuracy or completeness of the Platform, including but not limited to services obtained or derived
         from Consultants through the Platform. We do not represent or guarantee that (a) the Platform, is always available
         without interruption, is safe or free of errors or omissions, or that any defects Ketemuin will be corrected
         immediately; (b) Platforms are always free of computer viruses or other harmful code, harmful, damaging, agents,
         programs or macros; (c) security of any information sent by you or to you through the Platform, and you hereby accept
         the risk that any information sent or received through the Platform can be accessed by unauthorized third parties
         and / or disclosed by us or officers, employees or an agent to a third party that claims you are or claims to be
         acting under your authority. Transmissions over the internet and electronic mail networks may be subject to
         interruptions, transmission blackouts, transmission delays due to internet network traffic or improper data transmission
         due to the public nature of the internet network.<br><br>
        We are not responsible to you for any loss or other causes in any form that arise either directly or
        indirectly related to: (a) access, use and / or inability to use the Platform; or (b) a failed system, server or
        connection, error, omission, interference, delay in transmission, computer viruses or other harmful, harmful,
        damaging, program agent or macros code;<br><br>
        We use appropriate and reasonable technical and security methods to keep the Platform safe and free from viruses and
        errors. However, no matter how effective this technology is, there is no security system that is impenetrable or fails.
        Therefore, we cannot guarantee the security of our database and we also cannot guarantee that the information you provide
        will not be held / interrupted while being sent to us.<br><br>
        We do not provide statements, guarantees or guarantees and are not responsible for any proposed rejects, rejections,
        constraints and / or other obstacles that arise and occur during the process of carrying out work by Consultants
        through the Platform, especially for services that are closely related to Government Agencies, and / or other
        competent authority. Basically, Government Agencies and / or Other Authorities have the absolute right to determine
        the required documents and procedures.<br><br>
        Any claim against us, in any case by you, will be limited by the total amount actually paid by and / or owed to you
        when using the Platform during the event that raises the claim. We will not be responsible for any loss, damage or
        injury that may be caused by or caused by you.<br><br>
        You expressly waive and release us from any and all obligations, demands or damage arising from or in any way in
        connection with the results of work submitted by the Consultant through the Platform. PT Intersection Through
        Technology will not be a party to the dispute, nor will the negotiation of the dispute between you and the
        Consultant / Client. Responsibility for decisions you make for services Ketemuin through our Platform is the
        responsibility and is fully attached to and with you. You expressly waive and release us from any and all obligations,
        demands, causes of action, or damage arising from the use of the Platform, software, or in any way related to Service
        Users / Service Providers introduced to you through our Platform.`
        },
        judul11: {
          indonesia: "Ganti Kerugian",
          inggris: "Indemnification"
        },
        content11: {
          indonesia: `
          Anda setuju untuk memberikan ganti rugi dan membebaskan PT Mempertemukan Lewat Teknologi dan afiliasinya (beserta para
          pengurus, pejabat, agen, mitra dan karyawannya) terhadap setiap dan seluruh kerugian, kewajiban, klaim atau permintaan
          (termasuk biaya-biaya hukum) yang timbul dari kontribusi Anda yang tidak sesuai dengan ketentuan-ketentuan ini atau
          sehubungan dengan penggunaan dan akses Platform kami oleh Anda.
         `,
          inggris: `
          You agree to indemnify and release PT Mempertemukan Lewat Teknologi and its affiliates (along with its management,
          officers, agents, partners and employees) to any and all losses, obligations, claims or requests (including legal costs)
          arising from your contributions that does not comply with these conditions or in connection with your use and access to
          our Platform.
         `
        },
        judul12: {
          indonesia: "Pengakhiran Penggunaan",
          inggris: "Termination of Use"
        },
        content12: {
          indonesia: `
          Berdasarkan kebijakan kami, segera setelah kami menyampaikan pemberitahuan kepada Anda, kami dapat menghentikan
          penggunaan Platform dan/atau Layanan dan/atau menonaktifkan akun Anda. Kami dapat menghentikan akses Anda ke
          Platform dan/atau layanan (atau bagian daripadanya) dengan alasan tertentu, termasuk jika terjadi pelanggaran
          terhadap Syarat & Ketentuan ini atau di mana jika kami percaya bahwa Anda telah melanggar atau bertindak tidak
          sesuai dengan Syarat & Ketentuan yang berlaku, atau jika dalam pendapat kami atau pendapat otoritas regulator yang
          berwenang menurut hukum, layanan tersebut yang berkaitan dengan Platform tidak dapat diberikan/dilaksanakan.<br><br>
          Untuk tujuan pengakhiran ini, Anda dan PT Mempertemukan Lewat Teknologi sepakat untuk mengesampingkan ketentuan yang
          diatur dalam Pasal 1266 KUHP Perdata Indonesia sehingga pengakhiran akan dilakukan tanpa persetujuan atau keputusan
          pengadilan atau lembaga lain dalam wilayah Republik Indonesia.
         `,
          inggris: `
          Based on our policies, as soon as we submit a notice to you, we may stop using the Platform and / or Services
          and / or deactivate your account. We may terminate your access to the Platform and / or service (or part of it) for
          certain reasons, including if there is a violation of these Terms & Conditions or where if we believe that you have
          violated or acted not in accordance with the applicable Terms & Conditions, or if in our opinion or the opinion of
          regulatory authorities authorized by law, such services relating to the Platform cannot be provided / implemented.<br><br>
          For the purpose of this termination, you and PT. Mempertemukan Lewat Teknologi agree to waive the provisions
          stipulated in Article 1266 of the Indonesian Civil Code so that the termination will be carried out without the
          approval or decision of a court or other institution within the territory of the Republic of Indonesia.`
        }       
      }
    };
  },
  created() {
    let urlget = window.location.pathname;
    if (urlget.slice(1, 3) == "id") {
      this.gettrigerbahasa = "indonesia";
    } else {
      this.gettrigerbahasa = "inggris";
    }
  },
  mounted() {
  },
  methods: {
    torouter(url) {
      window.location.href = url
    },
  }
};
</script>
