<template>
  <div class="footer-container">
    <div class="footer">
      <div class="row justify-content-lg-between justify-content-center">
        <div class="col-12 d-block d-lg-none">
          <div class="row">
            <div class="col-12 text-center">
              <img class="image-m" src="../assets/footer/Logo_Ketemuin_white.svg" />
            </div>
            <div class="col-12 text-center my-4">
              <ul class="footer-menu-container">
                <li class="footer-menu-sosmed">
                  <a class="footer-menu-name" href="https://www.linkedin.com/company/ketemuin-id" target="_blank"><img class="sosmed-m" src="../assets/footer/ic_linkedin.svg" /></a>
                </li>
                <li class="footer-menu-sosmed">
                  <a class="footer-menu-name" href="https://www.facebook.com/Ketemuin-115132376883275" target="_blank"><img class="sosmed-m" src="../assets/footer/ic_fb.svg" /></a>
                </li>
                <li class="footer-menu-sosmed">
                  <a class="footer-menu-name" href="https://www.instagram.com/ketemuin.id/" target="_blank"><img class="sosmed-m" src="../assets/footer/ic_insta.svg" /></a>
                </li>
                <li class="footer-menu-sosmed" style="display:none">
                  <a class="footer-menu-name" href="" target="_blank"><img class="sosmed-m" src="../assets/footer/ic_twitter.svg" /></a>
                </li>
              </ul>
            </div>
            <div class="col-12 text-center">
              <ul class="footer-menu-container">
                <li class="footer-menu" @click="navigatemenu('faq')" id="faq">
                  <a class="footer-menu-name font-12">{{initbahasa[0].faq}}</a>
                </li>
                <li class="footer-menu" @click="navigatemenu('blog')" id="blog">
                  <a class="footer-menu-name font-12" >{{initbahasa[0].blog}}</a>
                </li>
                <li class="footer-menu" @click="navigatemenu('kebijakan')" id="kebijakan">
                  <a class="footer-menu-name font-12">{{initbahasa[0].privasi}}</a>
                </li>
                <li class="footer-menu" @click="navigatemenu('syarat')" id="syarat">
                  <a class="footer-menu-name font-12">{{initbahasa[0].syarat}}</a>
                </li>
              </ul>
            </div>
            <div class="col-12 mt-4 text-center">
              <h6 class="copyright">{{initbahasa[0].tahun}}</h6>
              <h6 class="copyright">{{initbahasa[0].title}}</h6>
            </div>
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <div class="row">
            <div class="col-12 text-center text-lg-left">
              <img src="../assets/footer/Logo_Ketemuin_white.svg" />
            </div>
            <div class="col-12 mt-3 text-center text-lg-left">
              <ul class="footer-menu-container">
                <li class="footer-menu" @click="navigatemenu('faq')" id="faq">
                  <a class="footer-menu-name">{{initbahasa[0].faq}}</a>
                </li>
                <li class="footer-menu" @click="navigatemenu('blog')" id="blog">
                  <a class="footer-menu-name">{{initbahasa[0].blog}}</a>
                </li>
                <li class="footer-menu" @click="navigatemenu('kebijakan')" id="kebijakan">
                  <a class="footer-menu-name">{{initbahasa[0].privasi}}</a>
                </li>
                <li class="footer-menu" @click="navigatemenu('syarat')" id="syarat">
                  <a class="footer-menu-name">{{initbahasa[0].syarat}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
          <div class="row">
            <div class="col-12 text-center text-lg-right">
              <ul class="footer-menu-container">
                <li class="footer-menu-sosmed">
                  <a class="footer-menu-name" href="https://www.linkedin.com/company/ketemuin-id" target="_blank"><img src="../assets/footer/ic_linkedin.svg" /></a>
                </li>
                <li class="footer-menu-sosmed">
                  <a class="footer-menu-name" href="https://www.facebook.com/Ketemuin-115132376883275" target="_blank"><img src="../assets/footer/ic_fb.svg" /></a>
                </li>
                <li class="footer-menu-sosmed">
                  <a class="footer-menu-name" href="https://www.instagram.com/ketemuin.id/" target="_blank"><img src="../assets/footer/ic_insta.svg" /></a>
                </li>
                <li class="footer-menu-sosmed" id="twitter" style="display:none">
                  <a class="footer-menu-name" href="" target="_blank"><img src="../assets/footer/ic_twitter.svg" /></a>
                </li>
              </ul>
            </div>
            <div class="col-12 mt-4 text-center text-lg-right">
              <h6 class="copyright">{{initbahasa[0].tahun}}</h6>
              <h6 class="copyright">{{initbahasa[0].title}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.footer-container {
  background-color: #2e6b87;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
.image-m{
  height: 20px;
}
.sosmed-m{
  height: 24px;
}
.font-12{
  font-size: 12px !important;
}
.footer-menu-container {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}
.footer-menu-sosmed{
  display: inline-block;
  margin-left: 1rem;
  cursor: pointer;
}
.footer-menu-name {
  font-family: "medium";
  font-size: 14px;
  color: white !important;
}
.copyright {
  font-size: 12px;
  font-family: "regular";
  color: white;
}
</style>
<script>
/* eslint-disable */
import { messageService } from '@/_services';
export default {
  data() {
    return {
      trigerbahasa: false,
      initbahasa: [],
      bahasa: {
        footer: {
          indonesia: {
            faq: "FAQ",
            blog: "Blog",
            privasi: "Kebijakan Privasi",
            syarat: "Syarat dan Ketentuan",
            tahun: "© 2020 Ketemuin. All rights reserved.",
            title: "Ver 1.00"
          },
          inggris: {
            faq: "FAQ",
            blog: "Blog",
            privasi: "Privacy Policy",
            syarat: "Terms & Conditions",
            tahun: "© 2020 Ketemuin. All rights reserved.",
            title: "Ver 1.00"
          }
        }
      }
    };
  },
  created() {
    if (window.location.pathname.slice(1, 3) == "id") {
      this.trigerbahasa = false;
    } else {
      this.trigerbahasa = true;
    }
    this.detectinibahasa();
  },
  mounted() {},
  methods: {
    detectinibahasa() {
      let urlget = window.location.pathname;
      if (this.trigerbahasa === true) {
        this.initbahasa.push(this.bahasa.footer.inggris);
        this.trigerbahasa = false;
      } else {
        this.initbahasa.push(this.bahasa.footer.indonesia);
        this.trigerbahasa = true;
      }
    },
    navigatemenu(bahasa) {
      let urlget = window.location.pathname;
      if (urlget.slice(1, 3) === "id") {
        switch (bahasa) {
          case "faq":
            window.location.href = "/id/faq";
            break;
          case "blog":
            window.open(
              'https://blog.ketemuin.id/',
              '_blank'
            );
            break;
          case "kebijakan":
            window.location.href = "/id/privasi";
            break;
          case "syarat":
            window.location.href = "/id/snk";
            break;
        }
      } else {
        switch (bahasa) {
          case "faq":
            window.location.href = "/en/faq";
            break;
          case "blog":
            window.open(
              'https://blog.ketemuin.id/',
              '_blank'
            );
            break;
          case "kebijakan":
            window.location.href = "/en/privacy";
            break;
          case "syarat":
            window.location.href = "/en/tnc";
            break;
        }
      }
    },
  }
};
</script>

