<style>
.nav-item {
  cursor: pointer;
}
.activemenu {
  color: #46b29e;
}

.header-container-filter {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  backdrop-filter: saturate(180%) blur(5px)
}
.header-container-filter-no {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
}
.header-menu-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px !important;
  padding: 1rem;
}
.menu-container {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "medium";
}
.menu-container-m {
  list-style: none;
}
.menu {
  display: inline-block;
  margin: 0 1rem;
  cursor: pointer;
}
.menu-name {
  font-family: "semibold";
  font-size: 14px;
}
span {
  font-family: "semibold";
  font-size: 14px;
}
.burger-menu {
  position: absolute !important;
  z-index: 3 !important;
  left: 0;
}
.side-menu {
  top: 0;
  bottom: 0;
  background-color: white;
  position: fixed !important;
  overflow: hidden;
  left: 0;
  right: 0;
}
</style>
<template>
  <div id="headercontainer">
    <div class="header-menu-container">
      <!--header desktop -->
      <div class="d-none d-lg-block">
        <div class="row justify-content-between align-items-center no-gutters position-relative">
          <div class="col-auto">
            <img src="../assets/Ketemuinlogo-1.svg" alt />
          </div>
          <div class="col-auto">
            <div class="row no-gutters">
              <div class="col-auto text-center">
                <ul class="menu-container">
                  <li class="menu" @click="navigatemenu('menu1')" id="menu1">
                    <a class="menu-name">{{initbahasa[0].menu1}}</a>
                  </li>
                  <li class="menu" @click="navigatemenu('menu2')" id="menu2">
                    <a class="menu-name">{{initbahasa[0].menu2}}</a>
                  </li>
                  <li class="menu" @click="navigatemenu('menu3')" id="menu3">
                    <a class="menu-name">{{initbahasa[0].menu3}}</a>
                  </li>
                  <li class="menu" @click="navigatemenu('menu4')" id="menu4">
                    <a class="menu-name">{{initbahasa[0].menu4}}</a>
                  </li>
                  <li class="menu" @click="navigatemenu('menu5')" id="menu5">
                    <a class="menu-name">{{initbahasa[0].menu5}}</a>
                  </li>
                  <li class="menu" @click="navigatemenu('menu6')" id="menu6">
                    <a class="menu-name">{{initbahasa[0].menu6}}</a>
                  </li>
                </ul>
              </div>
              <div class="col-auto ml-4" v-if="switchbahasa === 'indonesia'" style="cursor:pointer">
                <span>ID</span>
                <img
                  class="cursor-pointer"
                  @click="changelanguage('indonesia')"
                  src="../assets/header/toogle-in.svg"
                />
                <span class="ml-1">EN</span>
              </div>
              <div class="col-auto ml-4" v-if="switchbahasa === 'inggris'" style="cursor:pointer">
                <span class="mr-1">ID</span>
                <img
                  class="cursor-pointer"
                  @click="changelanguage('inggris')"
                  src="../assets/header/toogle-en.svg"
                />
                <span class="ml-1">EN</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--header mobile -->
      <div class="d-lg-none d-block">
        <div class="row justify-content-center align-items-center no-gutters position-relative">
          <div class="col-auto burger-menu">
            <img
              v-if="burgerMenu === false"
              src="../assets/header/ic-list-1.svg"
              alt
              @click="trigerburger(true)"
            />
          </div>
          <div class="col-12 text-center">
            <img src="../assets/Ketemuinlogo-1.svg" alt />
          </div>
        </div>
        <div class="row" v-if="burgerMenu === true">
          <div class="col-12 side-menu">
            <div class="row justify-content-center align-items-center no-gutters position-relative">
              <div class="col-auto burger-menu mt-2">
                <img src="../assets/header/ic_close-1.svg" alt @click="trigerburger(false)" />
              </div>
              <div class="col-12 text-center mt-3">
                <img src="../assets/Ketemuinlogo-1.svg" alt />
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <div class="row">
                  <div class="col-auto" v-if="switchbahasa === 'indonesia'" style="cursor:pointer">
                    <span>ID</span>
                    <img
                      class="cursor-pointer"
                      @click="changelanguage('indonesia')"
                      src="../assets/header/toogle-in.svg"
                    />
                    <span class="ml-1">EN</span>
                  </div>
                  <div class="col-auto" v-if="switchbahasa === 'inggris'" style="cursor:pointer">
                    <span class="mr-1">ID</span>
                    <img
                      class="cursor-pointer"
                      @click="changelanguage('inggris')"
                      src="../assets/header/toogle-en.svg"
                    />
                    <span class="ml-1">EN</span>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3 mb-5">
                <div class="row">
                  <div class="col-auto">
                    <ul class="menu-container">
                      <li class="mb-2" @click="navigatemenu('menu1')" id="mobile1">
                        <a>{{initbahasa[0].menu1}}</a>
                      </li>
                      <li class="mb-2" @click="navigatemenu('menu2')" id="mobile2">
                        <a>{{initbahasa[0].menu2}}</a>
                      </li>
                      <li class="mb-2" @click="navigatemenu('menu3')" id="mobile3">
                        <a>{{initbahasa[0].menu3}}</a>
                      </li>
                      <li class="mb-2" @click="navigatemenu('menu4')" id="mobile4">
                        <a>{{initbahasa[0].menu4}}</a>
                      </li>
                      <li class="mb-2" @click="navigatemenu('menu5')" id="mobile5">
                        <a>{{initbahasa[0].menu5}}</a>
                      </li>
                      <li class="mb-2" @click="navigatemenu('menu6')" id="mobile6">
                        <a>{{initbahasa[0].menu6}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import { messageService } from "@/_services";
import $ from "jquery";
export default {
  data() {
    return {
      trigerbahasa: false,
      burgerMenu: false,
      initbahasa: [],
      bahasa: {
        header: {
          indonesia: {
            menu1: "Beranda",
            menu2: "Cara Kerja",
            menu3: "Jadi Klien",
            menu4: "Jadi Mitra",
            menu5: "Tentang Kami",
            menu6: "Hubungi Kami"
          },
          inggris: {
            menu1: "Home",
            menu2: "How It Works",
            menu3: "Be Our Client",
            menu4: "Be Our Partner",
            menu5: "About Us",
            menu6: "Contact Us"
          }
        }
      }
    };
  },
  created() {
    if (window.location.pathname.slice(1, 3) == "id") {
      this.switchbahasa = "indonesia";
      this.trigerbahasa = false;
    } else {
      this.switchbahasa = "inggris";
      this.trigerbahasa = true;
    }
    this.detectinibahasa();
  },
  mounted() {
    let urlget = window.location.pathname;
    $('#headercontainer').addClass('header-container-filter')
    if (urlget.length > 3) {
      switch (urlget.split("/" + urlget.slice(1, 3) + "/")[1]) {
        case "cara-kerja":
          $("#menu2").addClass("activemenu");
          break;
        case "how-it-work":
          $("#menu2").addClass("activemenu");
          break;
        case "klien":
          $("#menu3").addClass("activemenu");
          break;
        case "client":
          $("#menu3").addClass("activemenu");
          break;
        case "mitra":
          $("#menu4").addClass("activemenu");
          break;
        case "partner":
          $("#menu4").addClass("activemenu");
          break;
        case "tentang-kami":
          $("#menu5").addClass("activemenu");
          break;
        case "about-us":
          $("#menu5").addClass("activemenu");
          break;
        case "hubungi-kami":
          $("#menu6").addClass("activemenu");
          break;
        case "contact-us":
          $("#menu6").addClass("activemenu");
          break;
      }
    } else {
      $("#menu1").addClass("activemenu");
    }
  },
  methods: {
    changelanguage(bahasa) {
      this.switchbahasa = bahasa;
      let urlget = window.location.pathname;
      if (urlget.slice(1, 3) == "id") {
        if (urlget.length > 3) {
          switch (urlget.split("/id/")[1]) {
            case "cara-kerja":
              window.location.href = urlget
                .replace("id", "en")
                .replace("cara-kerja", "how-it-work");
              break;
            case "klien":
              window.location.href = urlget
                .replace("id", "en")
                .replace("klien", "client");
              break;
            case "mitra":
              window.location.href = urlget
                .replace("id", "en")
                .replace("mitra", "partner");
              break;
            case "tentang-kami":
              window.location.href = urlget
                .replace("id", "en")
                .replace("tentang-kami", "about-us");
              break;
            case "hubungi-kami":
              window.location.href = urlget
                .replace("id", "en")
                .replace("hubungi-kami", "contact-us");
              break;
              case "faq":
              window.location.href = urlget
                .replace("id", "en")
                .replace("faq", "faq");
              break;
          }
        } else {
          window.location.href = urlget.replace("id", "en");
        }
      } else {
        if (urlget.length > 3) {
          switch (urlget.split("/en/")[1]) {
            case "how-it-work":
              window.location.href = urlget
                .replace("en", "id")
                .replace("how-it-work", "cara-kerja");
              break;
            case "client":
              window.location.href = urlget
                .replace("en", "id")
                .replace("client", "klien");
              break;
            case "partner":
              window.location.href = urlget
                .replace("en", "id")
                .replace("partner", "mitra");
              break;
            case "about-us":
              window.location.href = urlget
                .replace("en", "id")
                .replace("about-us", "tentang-kami");
              break;
            case "contact-us":
              window.location.href = urlget
                .replace("en", "id")
                .replace("contact-us", "hubungi-kami");
              break;
              case "faq":
              window.location.href = urlget
                .replace("en", "id")
                .replace("faq", "faq");
              break;
          }
        } else {
          window.location.href = urlget.replace("en", "id");
        }
      }
    },
    navigatemenu(bahasa) {
      let urlget = window.location.pathname;
      if (urlget.slice(1, 3) === "id") {
        switch (bahasa) {
          case "menu1":
            window.location.href = "/id";
            break;
          case "menu2":
            window.location.href = "/id/cara-kerja";
            break;
          case "menu3":
            window.location.href = "/id/klien";
            break;
          case "menu4":
            window.location.href = "/id/mitra";
            break;
          case "menu5":
            window.location.href = "/id/tentang-kami";
            break;
          case "menu6":
            window.location.href = "/id/hubungi-kami";
            break;
        }        
      } else {
        switch (bahasa) {
          case "menu1":
            window.location.href = "/en";
            break;
          case "menu2":
            window.location.href = "/en/how-it-work";
            break;
          case "menu3":
            window.location.href = "/en/client";
            break;
          case "menu4":
            window.location.href = "/en/partner";
            break;
          case "menu5":
            window.location.href = "/en/about-us";
            break;
          case "menu6":
            window.location.href = "/en/contact-us";
            break;
        }
      }
    },
    detectinibahasa() {
      let urlget = window.location.pathname;
      if (this.trigerbahasa === true) {
        this.initbahasa.push(this.bahasa.header.inggris);
        this.trigerbahasa = false;
      } else {
        this.initbahasa.push(this.bahasa.header.indonesia);
        this.trigerbahasa = true;
      }
      if (urlget.length > 3) {
      } else {
      }
    },
    clearMessages() {
      messageService.clearMessages();
    },
    trigerburger(data) {
      let urlget = window.location.pathname;
      if (data === true){
        $('#headercontainer').removeClass('header-container-filter')
        $('#headercontainer').addClass('header-container-filter-no')
      }else{
        $('#headercontainer').removeClass('header-container-filter-no')
        $('#headercontainer').addClass('header-container-filter')
      }
      this.burgerMenu = data;
      setTimeout(() => {
        if (data === true) {
          if (urlget.length > 3) {
            switch (urlget.split("/" + urlget.slice(1, 3) + "/")[1]) {
              case "cara-kerja":
                $("#mobile2").addClass("activemenu");
                break;
              case "how-it-work":
                $("#mobile2").addClass("activemenu");
                break;
              case "klien":
                $("#mobile3").addClass("activemenu");
                break;
              case "client":
                $("#mobile3").addClass("activemenu");
                break;
              case "mitra":
                $("#mobile4").addClass("activemenu");
                break;
              case "partner":
                $("#mobile4").addClass("activemenu");
                break;
              case "tentang-kami":
                $("#mobile5").addClass("activemenu");
                break;
              case "about-us":
                $("#mobile5").addClass("activemenu");
                break;
              case "hubungi-kami":
                $("#mobile6").addClass("activemenu");
                break;
              case "contact-us":
                $("#mobile6").addClass("activemenu");
                break;
            }
          } else {
            $("#mobile1").addClass("activemenu");
          }
        }
      }, 100);
    }
  }
};
</script>