@font-face {
    font-family: 'regular';
    src: url("~@/assets/Rajdhani/Rajdhani-Regular.ttf")
 }
 @font-face {
    font-family: 'medium';
    src: url("~@/assets/Rajdhani/Rajdhani-Medium.ttf")
 }
 @font-face {
    font-family: 'bold';
    src: url("~@/assets/Rajdhani/Rajdhani-Bold.ttf")
 }
 @font-face {
    font-family: 'semibold';
    src: url("~@/assets/Rajdhani/Rajdhani-SemiBold.ttf")
 }